{% extends "layout/layout_title.html" %}
{% from "_helper.html" import image_button %}

{% block content %}

<legend>Keys</legend>

<table>


<tr>
		<th></th><th colspan="3"><b> Keys </b></th></tr>
	<tr>
	{% if (user["keys"] | count) > 0 %}
		<form action="" name = "selectKeyForm" method=post enctype=multipart/form-data >
		<tr><td></td>
		   <td>Key Name</td>
		   <td colspan="2"> Fingerprint</td>
		</tr>
		{% set defaultkey = user.defaults.key %}
		{% for name in user["keys"]["keylist"] %}
		    {% set value = user["keys"]["keylist"][name] %}
		    {% if name == defaultkey %}
				{% set checked = 'checked' %}
			{% else %}
				{% set checked = '' %}
			{% endif %}
			<tr>
			  	<td><input type="radio" name="selectkeys" value="{{name}}" {{checked}}
					 onclick="document.forms['selectKeyForm'].submit()" title="select">
		  		</td>
		  		<td>{{name}}</td>
		  		<td colspan="2">{{  user["keys"]["keylist"][name] | replace ("key ssh", "") |  filter_fingerprint  }}
					<a href="delete/{{name}}/"><img src="/static/img/icons/png/glyphicons_016_bin.png" width="12" height="12" title="delete" align="right"></a>
		  		</td>
			</tr>
		{% endfor %}

	{% else %}
		There are no keys present, please add one.
	</form>
	{% endif %}



<!--
<form action="" method=post enctype=multipart/form-data name = "addkeysform">

<tr>
  <td><input type="submit" name = "addkey" value="Add"></td>
  <td><input name = "keyname" type="text" /></td>
  <td><textarea name = "keyorpath" rows="1" cols="100"></textarea></td>
  <td></td>
</tr>
</form>
-->
</table>

{{show}}

{% endblock %}
