{% extends "layout/layout.html" %}
{% block title %}Sign in{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-2">
            <h1 class="text-center">Sign in to my Cloudmesh</h1>
            <div class="account-wall">
	        <p>
	      	    <center><i class="text-info fa fa-user fa-5x" style="color:.info"></i></center>
	        </p>
            <br>
	        <form class="form-signin" action="" method=post>

		        {% if form.error |count > 0 %}
			            <div class="alert alert-danger">
			                <strong>Error:</strong> {{ form.error }}
			            </div>
		                <hr>
		        {% endif %}
		        <p>
		        {{ form.username(class="form-control", placeholder="Username")}}
		        </p>
		        <p>
		        {{ form.password(class="form-control", placeholder="Password") }}
		        </p>
		        {% if form.error %}
		            <hr>
		        {% endif %}

        	    <input type=submit class="btn btn-lg btn-primary btn-block" value="Submit">
		        <input type=hidden name=next value="{{ next }}">
            <a href="/help" class="pull-right need-help">Need help? </a>
            <span class="clearfix"></span>
            </form>
	   </div>
	   <a href="https://portal.futuregrid.org/user/register" class="text-center new-account">Create an account </a>	   
    </div>
</div>	 
{% endblock %}


