{% extends "layout/layout.html" %}
{% block title %}Sign in{% endblock %}

{% block contentbox %}
  <h2>Sign in</h2>
  Please specify your username and password to log into cloudmesh
{% endblock %}

{% block content %}

  <form action="" method=post>

	{% if form.error |count > 0 %}
	    <div class="alert alert-danger">
	    	<strong>Error:</strong> {{ form.error }}
	    </div>
    <hr>
	{% endif %}
    <p>
      {{ form.username.label}}
      {{ form.username }}
    <p>
    <p>
       {{ form.password.label }}
       {{ form.password }}
    </p>
    {% if form.error %}
    <hr>
    {% endif %}


      <input type=submit value="Submit">
      <input type=hidden name=next value="{{ next }}">


  </form>


{% endblock %}


