{% extends "layout/layout_title.html" %}
{% from "_helper.html" import image_button %}
{% from "_helper.html" import image_link %}
{% from "_helper.html" import cm_image_input %}


{% block content %}

<legend> <i class="fa fa-users"></i> Profile </legend>

<script type="text/javascript" charset="utf-8">

$(function() {

  $('.edit').editable('/profile');

});
</script>

    <ul>
      <li><a href="/mesh/images">Select Default Images</a></li>
      <li><a href="/mesh/flavors">Select Default Flavors</a></li>
    </ul>


<form name="profile" action="/profile/" method="POST">

<table>
    <tr>
    	<th>
    		<font="black">{{ image_link ("right", "fa-pencil-square-o", "https://portal.futuregrid.org/my/edit/Contact") }}</font>

    	</th>
    	<th colspan="3"><b> Personal Details </b></th>
    </tr>
	<tr>
		<td></td><td>Firstname</td>
		<td colspan="2"> {{ user.profile.firstname }}
        </td>
    </tr>
    <tr>
    	<td></td><td>Lastname</td>
		<td colspan="2">{{ user.profile.lastname }}
		</td>
	</tr>
	<tr><td></td><td>Phone</td>
	<td colspan="2">{{ user.profile.phone }}
	</td></tr>
	<tr><td></td><td>e-mail</td>
	<td colspan="2">{{ user.profile.email }}
	</td></tr>
	<tr><td></td><td>Address</td>
	<td colspan="2">{{ user.profile.address }}
	</tr>

	<!-- -------------- CLOUDMESH DETAILS ---------------------------------- -->

	<tr>
     	<th></th><th colspan="3"><b> Cloudmesh  </b></th>
	</tr>

	<tr>
	  <td>
	  </td>
	  <td>Roles</td>
	  <td colspan="2">{{userdata.roles | join(', ')}}</td>
	</tr>


	<!-- -------------- HPC DETAILS ---------------------------------- -->

	<tr>
     	<th></th><th colspan="3"><b> HPC </b></th>
	</tr>

	<tr>
	  <td>
	  </td>
	  <td>Username</td>
	  <td colspan="2">{{user.portalname}}</td>
	</tr>

	<!-- -------------- CLOUD DETAILS ---------------------------------- -->
	<tr><th></th><th colspan="3"><b> Cloud Details</b></th></tr>

	<tr>
	  
	  <td>
	    <input align="right" type="submit" value="&#xf0c7;" /> </td>
	  <td> VM Name </td>
	  <td colspan="2"><input type="text"
	    name="field-prefix"
	    value="{{ user.defaults.prefix }}"
	    style="width:120px">
	    -
	    <input type="text"
	    name="field-index"
	    value="{{ user.defaults.index }}"
	    style="width:120px">
	    <input type="submit" name="btnindex" value="&#xf0c7; Save VM Name">
	  </td>
	</tr>
	{% for cloud in user.clouds: %}

	   <tr>
	   	<td></td>
	   	<th colspan="3">{{cloud}}</th>
	   </tr>
	   {% for a in ['name','enabled', 'cm_type_version', 'tenantId', 'id', 'cm_type', 'email'] %}
		<tr>
			<td></td>
			<td>{{a }}</td>
			<td colspan="2">{{user.clouds[cloud][a]}}</td>
		</tr>

	{% endfor %}
	{% endfor %}




<!-- -------------- Projects ---------------------------------- -->
	<tr><th></th><th colspan="3"><b> Projects </b></th></tr>


	     {% for projectname in user.projects["active"] %}
		<tr>
	 	<td>
	 	<input type="radio"
	        name="field-project"
	        value="{{ projectname }}"
	        id="{{ projectname }}"
	        {% if projectname == user.defaults.project %}
	          checked="checked"
	        {% endif %}
	        onclick="document.forms['profile'].submit()"/>
	    </td>
	    <td colspan="2">
	        <a href="https://portal.futuregrid.org/projects/{{projectname | replace('fg','')}}"> {{projectname }} </a>
	    </td>
	    <td>
	    <span class="label label-success">Active</span>
	    </td>
		</tr>
	    {% endfor %}


	<tr>

	    {% for projectname in user.projects["completed"] %}
		<td></td>
		<td colspan="2">
	    {% if projectname != "None" %}
	        <a href="https://portal.futuregrid.org/projects/{{projectname | replace('fg','')}}"> {{projectname }} </a>
	      	&nbsp;



		</td>
		<td>
			<span class="label label-default">Completed</span>
		</td>
		{% else %}
		<!-- No completed projects -->
		<td></td>
		{% endif %}
	    {% endfor %}
	</tr>


	<!-- -------------- Security Groups ---------------------------------- -->

	<tr><th></th><th colspan="3"><b> Security Groups </b></th></tr>

	<tr>
	  <td>
	    <input align="right" type="submit" value="&#xf0c7;" /> 
	  </td>
	  <td>
	    <b> Default </b>
	  </td>

	  <td colspan="2">


	{% for group in configuration['security']['security_groups'].keys() %}

	  <input type="radio"
	  name="field-securitygroup"
	  value="{{ group }}"
	  id="{{ group }}"
	  {% if group ==  user.defaults.securitygroup %}
	    checked="checked"
	  {% endif %}
	  onclick="document.forms['profile'].submit()"
	  />


	  {{ group }}
	{% endfor %}


	</td>
	</tr>


<!-- -------------- Clouds ---------------------------------- -->

	<tr><th></th><th colspan="3"><b> Clouds </b></th></tr>

	<tr>
		<td></td>
		<td valign="top">
			<a href="/mesh/register/clouds">
				Registered Clouds
			</a> - Check to Activate
		</td><td colspan="2">
	  {% if user.defaults.registered_clouds|count > 0 %}
    	  {% for cloudname in user.defaults.registered_clouds %}
    	  <input type="checkbox"
    	        name="field-cloud-activated-{{cloudname}}"
    	        value="{{ cloudname }}"
    	        id="{{ cloudname }}"
    	        {% if cloudname in user.defaults.activeclouds %}
    	          checked = "checked"
    	        {% endif %}
    	        onclick="document.forms['profile'].submit()"
    	        /> {{ cloudname}}
    	        <br>
    	  {% endfor %}
	  {% else %}
	    No Registered Cloud. Go to <a href="/mesh/register/clouds"><b>Register Page</b></a> to Register.
	  {% endif %}
	</td></tr>


	<tr>
		<td></td><td>Default Cloud </td>
		<td colspan="2">
            {% if user.defaults.activeclouds|count > 0 %}
    			{% for cloudname in user.defaults.activeclouds %}
    				{%  if cloudname in user.defaults.activeclouds %}
    				 <input
    					  type="radio"
    					  name="field-default-cloud"
    					  value="{{ cloudname }}"
    				 	  id="{{ cloudname }}"
    				  	  {% if cloudname == user.defaults.cloud %}
    				   		 checked = "checked"
    				  	  {% endif %}
    				 	  onclick="document.forms['profile'].submit()"
    				  /> {{ cloudname }}
    				  {% endif %}
    			{% endfor %}
    		{% else %}
    		    Please Make Sure You Have <a href="/mesh/register/clouds"><b>Registered and Activated</b></a> Any Clouds!
    		{% endif %}
		</td>
	</tr>

<!-- -------------- Keys ---------------------------------- -->
	<tr>
		<th>
			{{ image_link ("right", "fa-pencil-square-o", "https://portal.futuregrid.org/my/ssh-keys") }}
		</th><th colspan="3"><b> Keys </b></th></tr>
	<tr>
	{% if (user["keys"] | count) > 0 %}
		{% set defaultkey = user.defaults.key %}

		{% for name in user["keys"]["keylist"] %}
		    {% set value = user["keys"]["keylist"][name] %}
		    {% if name == defaultkey %}
				{% set checked = 'checked' %}
			{% else %}
				{% set checked = '' %}
			{% endif %}
			<tr>
			  	<td><input type="radio"
			  		name="field-key"
			  		value="{{name}}" {{checked}}
					 onclick="document.forms['profile'].submit()" title="select">
		  		</td>
		  		<td>
				  <a href="delete/{{name}}/"><i class="fa fa-trash-o"></i></a>&nbsp;
				  {{name}}
				</td>
					
				<td colspan="2">
				  {{  user["keys"]["keylist"][name] | replace ("key ssh", "") |  filter_fingerprint  }}
				</td>
			</tr>
		{% endfor %}

	{% else %}
		There are no keys present, please add one.

	{% endif %}
	<!--
	<form action="" method=post enctype=multipart/form-data name = "addkeysform">

	<tr>
	  	<td>{{  cm_image_input("right", "222_share") }} </td>
	  	<td><input name = "keyname" type="text" /></td>
	  	<td colspan="2">
	  		<textarea name = "keyorpath" rows="1" cols="100"></textarea>
	  		<input type="submit" name = "addkey" value="Add Key">
	  	</td>

	</tr>
	</form>
	-->

</table>
</form>

{{show}}
</tr>


</table>


{% endblock content %}
