{% extends "layout/layout.html" %}
{% from "_helper.html" import image_button %}
{% from "_helper.html" import image_link %}
{% from "_helper.html" import cm_image_input %}

{% macro button_edit(label, url="#") -%}
         <a class="btn btn-success" href="{{url}}" style="color:white"> <i class="fa fa-pencil-square-o fa-lg"></i> {{ label }} </a>
{%- endmacro %}

{% macro input_text(name, value='', type='text', size=20, disabled=False) -%}
<div class="control-group">
  <label class="control-label" for="textinput">{{ name |capitalize }}</label>
  <div class="controls">
      <input id='textinput-{{ name }}'
           name="{{ name }}"
           type="{{ name }}"
           placeholder="{{ name }}"
           value="{{ value|e }}"
           size="{{ size }}"
           {% if disabled %} disabled {% endif %}>
    {% if disabled %} <i class="fa fa-ban text-danger"></i>  {% endif %}
  </div>
</div>
{%- endmacro %}

{% macro input_area(name, value='', type='text', size=20, disabled=False) -%}
<div class="control-group">
  <label class="control-label" for="textarea">{{ name |capitalize }}</label>
  <div class="controls">
      <textarea id='textarea-{{ name }}'
           name="{{ id }}"
           type="{{ name }}"
           placeholder="{{ name }}"
           {% if disabled %} disabled {% endif %} >{{value | e }}</textarea>
        {% if disabled %} <i class="fa fa-ban text-danger"></i> {% endif %}
  </div>
</div>
{%- endmacro %}


{% block content %}

 



<legend> <i class="fa fa-cloud"></i> Cloud Profile </legend>

    <ul>
      <li><a href="/mesh/images">Select Default Images</a></li>
      <li><a href="/mesh/flavors">Select Default Flavors</a></li>
    </ul>


<legend> <i class="fa fa-users"></i> Profile </legend>


<form class="form-horizontal" name="profile" action="/profile/" method="POST">
<fieldset>

<!-- Form Name -->
<legend>

  <font="black">{{ image_link ("right", "fa-pencil-square-o", "https://portal.futuregrid.org/my/edit/Contact") }}</font>
 Personal Details     
</legend>

{{ input_text('firstname', value=user.profile.firstname, disabled=True) }}
{{ input_text('lastname', value=user.profile.lastname, disabled=True) }}
{{ input_text('phone', value=user.profile.phone, disabled=True) }}
{{ input_text('email', value=user.profile.email, disabled=True) }}
{{ input_area('address', value=user.profile.address, disabled=True) }}

    
<legend> FutureGrid </legend>

{{ input_text('username', value=user.portalname, disabled=True) }}

<!-- -------------- Projects ---------------------------------- -->    
<div class="control-group">
  <label class="control-label" for="textarea">Projects</label>
  <div class="controls">

<table>
  	     {% for projectname in user.projects["active"] %}
		<tr>
	 	<td>
	 	<input type="radio"
	        name="field-project"
	        value="{{ projectname }}"
	        id="{{ projectname }}"
	        {% if projectname == user.defaults.project %}
	          checked="checked"
	        {% endif %}
	        onclick="document.forms['profile'].submit()"/>
	    </td>
	    <td colspan="2">
	        <a href="https://portal.futuregrid.org/projects/{{projectname | replace('fg','')}}"> {{projectname }} </a>
	    </td>
	    <td>
	    <span class="label label-success">Active</span>
	    </td>
		</tr>
	    {% endfor %}


	<tr>

	    {% for projectname in user.projects["completed"] %}
		<td></td>
		<td colspan="2">
	    {% if projectname != "None" %}
	        <a href="https://portal.futuregrid.org/projects/{{projectname | replace('fg','')}}"> {{projectname }} </a>
	      	&nbsp;



		</td>
		<td>
			<span class="label label-default">Completed</span>
		</td>
		{% else %}
		<!-- No completed projects -->
		<td></td>
		{% endif %}
	    {% endfor %}
	</tr>
</table>
</div>
</div>    
    
<legend> Cloudmesh </legend>

{% set roles = userdata.roles | join(', ') %}
{{ input_text('roles', value=roles, disabled=True) }}

  	<!-- -------------- CLOUD DETAILS ---------------------------------- -->

<div class="control-group">
  <label class="control-label" for="textarea">VM Name</label>
  <div class="controls">

	    <input type="text"
	    name="field-prefix"
	    value="{{ user.defaults.prefix }}"
	    style="width:120px">
	    -
	    <input type="number"
            step = "any"
	    name="field-index"
	    value="{{ user.defaults.index }}"
	    style="width:120px">
	    <input type="submit" class="btn btn-success" name="btnindex" value="&#xf0c7;&nbsp; Save">
</div>
</div>
	<table>
	{% for cloud in user.clouds: %}

	   <tr>
	   	<td></td>
	   	<th colspan="3">{{cloud}}</th>
	   </tr>
	   {% for a in ['name','enabled', 'cm_type_version', 'tenantId', 'id', 'cm_type', 'email'] %}
		<tr>
			<td></td>
			<td>{{a }}</td>
			<td colspan="2">{{user.clouds[cloud][a]}}</td>
		</tr>

	{% endfor %}
	{% endfor %}
        </table>

<!-- -------------- Clouds ---------------------------------- -->

<div class="control-group">
  <label class="control-label" for="textarea">Activated Clouds</label>
  <div class="controls">



	  {% if user.defaults.registered_clouds|count > 0 %}
    	  {% for cloudname in user.defaults.registered_clouds %}
    	  <input type="checkbox"
    	        name="field-cloud-activated-{{cloudname}}"
    	        value="{{ cloudname }}"
    	        id="{{ cloudname }}"
    	        {% if cloudname in user.defaults.activeclouds %}
    	          checked = "checked"
    	        {% endif %}
    	        onclick="document.forms['profile'].submit()"
    	        /> {{ cloudname}}

    	  {% endfor %}
          &nbsp;&nbsp;
          <a class="btn btn-success" href="/mesh/register/clouds"> <i class="fa fa-plus-circle"></i> Add </a>
	  {% else %}
	    No Registered Cloud. 
	  {% endif %}
</div>
</div>


<div class="control-group">
  <label class="control-label" for="textarea">Default Cloud</label>
  <div class="controls">
            {% if user.defaults.activeclouds|count > 0 %}
    			{% for cloudname in user.defaults.activeclouds %}
    				{%  if cloudname in user.defaults.activeclouds %}
    				 <input
    					  type="radio"
    					  name="field-default-cloud"
    					  value="{{ cloudname }}"
    				 	  id="{{ cloudname }}"
    				  	  {% if cloudname == user.defaults.cloud %}
    				   		 checked = "checked"
    				  	  {% endif %}
    				 	  onclick="document.forms['profile'].submit()"
    				  /> {{ cloudname }}
    				  {% endif %}
    			{% endfor %}
    		{% else %}
    		    Please Make Sure You Have <a href="/mesh/register/clouds"><b>Registered and Activated</b></a> Any Clouds!
    		{% endif %}
<div>
</div>


</fieldset>


<!-- -------------- Keys ---------------------------------- -->

<legend> {{ image_link ("right", "fa-pencil-square-o", "https://portal.futuregrid.org/my/ssh-keys") }} Keys </legend>


<fieldset>

<!-- Multiple Radios -->
<div class="control-group">
  <label class="control-label" for="radios">Select the default key</label>
  <div class="controls">
	{% if (user["keys"] | count) > 0 %}
		{% set defaultkey = user.defaults.key %}

                <table bgcolor="white">
		{% for name in user["keys"]["keylist"] %}
                    <tr>
		    {% set value = user["keys"]["keylist"][name] %}
		    {% if name == defaultkey %}
				{% set checked = 'checked' %}
			{% else %}
				{% set checked = '' %}
			{% endif %}
		                 <td>
                                 <label>
				  <input type="radio"
			  		name="field-key"
			  		value="{{name}}" {{checked}}
					onclick="document.forms['profile'].submit()" title="select">

				  {{ name }}
				   </td>
				   <td>
                                  <i> {{  user["keys"]["keylist"][name]| replace ("key ssh", "") | filter_fingerprint }} </i>
                                  </label>
				  </td>
	              <td>
		      <a href="delete/{{name}}/" class="btn btn-default" align="right"> Delete <i class="fa fa-trash-o"></i></a>
		      </td>

				  

		      </tr>
		{% endfor %}
		</table>
	{% else %}
		      
		<tr> There are no keys present, please add one.<tr>

	{% endif %}
        </table>

  </div>
</div>

</fieldset>





	<!--
	<form action="" method=post enctype=multipart/form-data name = "addkeysform">

	<tr>
	  	<td>{{  cm_image_input("right", "222_share") }} </td>
	  	<td><input name = "keyname" type="text" /></td>
	  	<td colspan="2">
	  		<textarea name = "keyorpath" rows="1" cols="100"></textarea>
	  		<input type="submit" name = "addkey" value="Add Key">
	  	</td>

	</tr>
	</form>
	-->




<script type="text/javascript" charset="utf-8">

$(function() {

  $('.edit').editable('/profile');

});
</script>


<legend> Security </legend>
    
<div class="control-group">
  <label class="control-label" for="textarea">Default Security Groups</label>
  <div class="controls">



	<!-- -------------- Security Groups ---------------------------------- -->


	{% for group in configuration['security']['security_groups'].keys() %}

	  <input type="radio"
	  name="field-securitygroup"
	  value="{{ group }}"
	  id="{{ group }}"
	  {% if group ==  user.defaults.securitygroup %}
	    checked="checked"
	  {% endif %}
	  onclick="document.forms['profile'].submit()"
	  />


	  {{ group }}
	{% endfor %}

</div>
</div>
</form>

{{show}}
</tr>


</table>


{% endblock content %}
