/* Unused samples for overrides example. */
.navbar-default .navbar-brand {
  color: yellow;
}

footer {
  background-color: red;
}

blockquote {
  margin-bottom: 0;
  font-size: 30.5px;
  font-weight: 300;
  line-height: 1.25;
}