# ######################################################################
# Basic environment
# ######################################################################
#
d2to1
pbr
future
pip
#
# ######################################################################
# Sphinx
# ######################################################################
#
sphinx
sphinx_bootstrap_theme
sphinxcontrib-autorun
sphinxcontrib-blockdiag
sphinxcontrib-exceltable
sphinxcontrib-webmocks
actdiag
blockdiag
blockdiagcontrib-square
blockdiagcontrib-qb
blockdiagcontrib-class
blockdiagcontrib-cisco
nwdiag
seqdiag
sphinxcontrib-httpdomain 
#
# ######################################################################
# Packages which must be installed first
# ######################################################################
#
paramiko
pycrypto
fabric
#
# ######################################################################
# Console and commandline Related
# ######################################################################
#
blessings
progress
sh
console
python-hostlist
docopt
cmd3>=1.0.2
#
# ######################################################################
# Databases and directories
# ######################################################################
#
python-ldap
pyaml
pymongo
mongoengine
#
# ######################################################################
# Rabbitmq
# ######################################################################
#
librabbitmq
#
# ######################################################################
# Flask
# ######################################################################
#
WTForms
Flask>=0.10.1
Flask-WTF>=0.9.3
Flask-AutoIndex
Flask-Silk
flask_login
Flask-OpenID
flask-principal
Flask-RSTPages
flask-restful
flask-restful-swagger
#
# ######################################################################
# Testing and formatting
# ######################################################################
#
nose
autopep8
#
# ######################################################################
# OpenStack and cloud
# ######################################################################
#
apache-libcloud==0.14.1
python-novaclient
python-keystoneclient
azure
#
# ######################################################################
# Parallel tools
# ######################################################################
#
celery
flower
#
# ######################################################################
# General Libraries
# ######################################################################
#
simple-json
pytimeparse
timestring
prettytable
tabulate
# ######################################################################
# ipython
# ######################################################################
#
ipython
pyzmq
tornado
# ######################################################################
# General Libraries
# ######################################################################
#
fake-factory
#
