d2to1>=0.2.10,<0.3
pbr>=0.5.16,<0.6
pip
sphinx
sphinx_bootstrap_theme
sphinxjp.shibukawa
sphinxcontrib-blockdiag
paramiko
blessings
fabric
progress
sh
console
envoy
python-ldap
docopt
python-hostlist
pyaml
pycrypto
Flask>=0.10
Flask-FlatPages
Flask-WTF>=0.8.4,<0.9
Flask-AutoIndex
Flask-Silk
flask_login
Flask-OpenID
flask-principal
Flask-RSTPages
pymongo
mongoengine
python-novaclient
python-keystoneclient
apache-libcloud==0.14.0-beta3
nose
autopep8
celery
wtforms
actdiag
blockdiag
blockdiagcontrib-square
blockdiagcontrib-qb
blockdiagcontrib-class
blockdiagcontrib-cisco
nwdiag
seqdiag
pyzmq
cmd3>=0.7.7
azure
