{% extends "layout/layout.html" %}
{% from "_helper.html" import href_image_button, js_image_button %}


{% block content %}
<legend> {{ href_image_button ("none", "fa-repeat", "/cobbler/distros") }} Distros </legend>

<script src="/static/js/accordion_plugin.js" type="text/javascript"></script>

<script type="text/javascript">
    var object_type = "distros";
    var status_save_url = "/cobbler/savestatus";
    var status_object = {object_type: {}};
    var bcreated_accordion = false;

    function CallbackOnAccordionClicked(distro_name, status) {
        //status_object[object_type][distro_name].open = status.toString();
        //AjaxSaveObject(status_save_url, status_object, bcreated_accordion);
    };

    function CallbackAfterAccordionCreated() {
        {% if result["result"] %}
            {% set distros = result["data"] %}
            {% for distro in distros %}
                status_object[object_type]['{{distro["name"]}}'] = 'false';
            {% endfor %}
        {% endif %}
        bcreated_accordion = true;
    };

</script>

<script>
    $(document).ready( function() {
        CustomizeAccordionPlugin("#accordion", CallbackOnAccordionClicked, CallbackAfterAccordionCreated);
        PreventClickEventPropagate(".inner_function_button");
    });

    function refresh_cobbler_object(distro_name) {
        //alert("distro name is: " + distro_name);
        PreventClickEventPropagate(".inner_function_button");
    }

    function reset_distro(distro_name) {
        refresh_cobbler_object(distro_name);
    }

    function delete_distro(distro_name) {
        // delete this distro
        $elem = $('#' + distro_name );
        $elem.next('div').remove();
        $elem.remove();
        alert("removed.");
    }

    function add_distro() {
        // add a new distro
    }

</script>


<div id="accordion">
    {% if result["result"] %}
        {% set distros = result["data"] %}
        {% for distro in distros %}
            {% set data = distro['data'] %}
            {% set UID = data['name'] %}
            <h3 id="{{UID}}">
                <span style="float:left; width:30%; white-space:nowrap;">
                    <span class="inner_function_button">
                        {{ js_image_button ("none", "365_restart", "refresh_cobbler_object('" + UID + "')") }}
                    </span>
                    {{UID}}
                </span>
                <span>
                    <span class="badge"> 0 </span> Profiles
                </span>
            </h3>
            <div>
                <table>
                    {% for field in filter %}
                        <tr>
                        <td>{{ field[1] }}</td>
                        <td>
                            {% if field[3] %}
                                <span id="{{UID}}_{{field[0]}}">
                                    {{', '.join(data[field[0]]) if field[2] == "list" else data[field[0]]}}
                                </span>
                            {% else %}
                                {% if field[2] == "text" %}
                                    <input type="text" id="{{UID}}_{{field[0]}}" value="{{', '.join(data[field[0]]) if field[2] == "list" else data[field[0]]}}" />
                                {% elif field[2] == "select" %}
                                    <select id="{{UID}}_{{field[0]}}">
                                        {% set dst_value = data[field[0]].split("/")[-1] %}
                                        {% if field[0] == "kickstart" %}
                                            {% set options = kickstarts %}
                                        {% else %}
                                            {% set options = distros %}
                                        {% endif %}
                                        {% for o in options %}
                                            <option value="{{o}}"
                                                {% if o == dst_value %}
                                                    selected
                                                {% endif %}
                                            >{{o}}</option>
                                        {% endfor %}
                                    </select>
                                {% else %}
                                    <span id="{{UID}}_{{field[0]}}">{{data[field[0]]}}</span>
                                {% endif %}
                            {% endif %}
                            <br>
                        </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td align="center">
                            <input type="button" id="{{UID}}_reset" onclick="reset_distro('{{UID}}')" value="Reset" />
                        </td>
                        <td align="center">
                            <input type="button" id="{{UID}}_delete" onclick="delete_distro('{{UID}}')" value="Delete" />
                        </td>
                    </tr>
                </table>
            </div>
        {% endfor %}
    {% endif %}
    <h3 id="add_distro">
        <span style="float:left; width:30%; white-space:nowrap;">
            <span class="inner_function_button">
                {{ js_image_button ("none", "365_restart", "") }}
            </span>
            Add A New Distro
        </span>
        <span>
             &nbsp;
        </span>
    </h3>
    <div>
            <table>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        <input type="text" id="add_distro_name" value="" />
                    </td>
                </tr>
                <tr>
                    <td>
                       URL
                    </td>
                    <td>
                        <input type="text" id="add_distro_url" value="" />
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <input type="reset" id="add_distro_reset" value="Reset" />
                    </td>
                    <td align="center">
                        <input type="button" id="add_distro_add" value="Add Distro" onclick="add_distro()" />
                    </td>
                </tr>

    </div>
</div>

{% endblock %}
