{% extends "layout.html" %}
{% from "_helper.html" import image_button %}g
{% block content %}

<script type="text/javascript">

function change_service(server_name, service_name) {
	var answer = confirm("Change the status of the " + server_name + " to " + service_name + "?")
	if (answer) {
        $.ajax("/inventory/set/service/" + server_name + "/" + service_name,
                { complete: function () { window.location.reload(); } } );
    }
}

</script>


<table>
  <tr>
    <th colspan="5"> Cloud Mesh - Inventory for {{ inventory.cluster }}</th>  
  <tr> <td colspan=5> Updated {{ updated }}
    <select>
      <option value="">Bulk select...</option>
      {% for choice in inventory.service_choices %}
          <option value="bulk-{{ choice }}">
	    {{  choice }}
	  </option>
      {% endfor %}
    </select>
  </td></tr>

  <tr>
    <td></td>
    <td>Groups</td>
    <td colspan="3">{{ inventory.groups|join(', ') }}</td>
  </tr>

  <tr>
    <th> </th>
    <th> Name </th>
    <th> Status </th>
    <th> Services </th>
    <th> IP </th>
  </tr>
  
  {% for server in inventory.servers()|sort(attribute='name') %}
  
  <tr>
  <td> <input name="checkbox" value="{{ server.name }}" type="checkbox"> </td>
  <td> {{ server.name }} </td>
  <td> {{ server.status }} </td>
  <td>
    <select  onchange="change_service('{{ server.name }}', this.options[this.selectedIndex].value)">
      <option value="" 
        {% if not server.data.services %}
          selected="selected"
        {% endif %}>Select...</option>
      {% for service in inventory.service_choices %}
      <option value="{{ service }}"
        {% if server.services and server.services[0].subkind == service %}
          selected="selected"
        {% endif %}>{{ service }}</option>
      {% endfor %}
    </select>
  </td>
  <td> {{ server.ip_address }} </td>
  </tr>

  {% endfor %}
  
</table>

{% endblock %}
