{% extends "layout/layout.html" %}

{% block content %}

    <legend> Project: {{ project.title }} </legend>
    {#<h3> Profile </h3>#}
    <table class="table table-condensed">
        <tbody>
        <tr>
            <th colspan="2" bgcolor="#CCCCCC"> Project Information </th>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Id</i></td>
            <td>{{ project.projectid }}</td>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Created</i></td>
            <td>{{ project.date_created }}</td>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Modified</i></td>
            <td>{{ project.date_modified }}</td>
        </tr>
        <tr>
            <th colspan="2" bgcolor="#CCCCCC"> Project Vocabulary </th>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Categories </i></td>
            <td>{{ project.categories | join(", ") }}</td>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Keywords  </i></td>
            <td>{{ project.keywords |join(", ") }}</td>
        </tr>
        <tr>
            <th colspan="2" bgcolor="#CCCCCC">Project Contact</th>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Lead </i></td>
            <td>{{ project.lead }}</td>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Managers </i></td>
            <td>{{ project.managers|join(", ") }}</td>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Contact </i></td>
            <td>{{ project.contact }}</td>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Members </i></td>
            <td>{{ project.members|join(", ") }}</td>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Alumni </i></td>
            <td>{{ project.alumnis|join(", ") }}</td>
        </tr>
        <tr>
            <th colspan="2" bgcolor="#CCCCCC">Project Details </th>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Orientation  </i></td>
            <td>{{ project.orientation  }}</td>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Primary discipline </i></td>
            <td>{{ project.primary_discipline }}</td>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Abstract    </i></td>
            <td>{{ project.abstract    }}</td>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Intellectual Merit    </i></td>
            <td>{{ project.intellectual_merit    }}</td>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Broader impact  </i></td>
            <td>{{ project.broader_impact  }}</td>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Url </i></td>
            <td>{{ project.url }}</td>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Results </i></td>
            <td>{{ project.results }}</td>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Active </i></td>
            <td>{{ project.active }}</td>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Status </i></td>
            <td>{{ project.status }}</td>
        </tr>
        <tr> <th colspan="2" bgcolor="#CCCCCC"> Related Grant </th>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Grant organization </i></td>
            <td>{{ project.grant_orgnization }}</td>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Grant ID </i></td>
            <td>{{ project.grant_id }}</td>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Grant url </i></td>
            <td>{{ project.grant_url }}</td>
        </tr>
        <tr>
            <th colspan="2" bgcolor="#CCCCCC"> Resource Requirements </th>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Resources services </i></td>
            <td>{{ project.resources_services|join(", ") }}</td>
        </tr>
{#        <tr>#}
{#            <td bgcolor="#E6E6E6" style="width:20%"><i>Resources software </i></td>#}
{#            <td>{{ project.resources_software|join(", ") }}</td>#}
{#        </tr>#}
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Resources clusters </i></td>
            <td>{{ project.resources_clusters|join(", ") }}</td>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Resources provision </i></td>
            <td>{{ project.resources_provision|join(", ") }}</td>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Comment </i></td>
            <td>{{ project.comment }}</td>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Use of Future Systems  </i></td>
            <td>{{ project.use_of_fg  }}</td>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Scale of_use  </i></td>
            <td>{{ project.scale_of_use  }}</td>
        </tr>
        <tr>
            <th colspan="2" bgcolor="#CCCCCC"> Agreements </th>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>NSF Agreement to use Future Systems </i></td>
            <td>{{ project.aggreement_use }}</td>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Slide Collection </i></td>
            <td>{{ project.aggreement_slides }}</td>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Support </i></td>
            <td>{{ project.aggreement_support }}</td>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Software Contributions </i></td>
            <td>{{ project.aggreement_sotfware }}</td>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Documentation Contributions </i></td>
            <td>{{ project.aggreement_documentation }}</td>
        </tr>
        <tr>
            <th colspan="2" bgcolor="#CCCCCC"> Other </th>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Comments </i></td>
            <td>{{ project.comments }}</td>
        </tr>
        <tr>
            <th colspan="2" bgcolor="#CCCCCC"> Project Membership Management </th>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Allow users to request to join </i></td>
            <td>{{ project.join_open }}</td>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Send an email notification when a user joins </i></td>
            <td>{{ project.join_notification }}</td>
        </tr>
        <tr>
            <th colspan="2" bgcolor="#CCCCCC">Location </th>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Name </i></td>
            <td>{{ project.loc_name }}</td>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Street </i></td>
            <td>{{ project.loc_street }}</td>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Additional </i></td>
            <td>{{ project.loc_additonal }}</td>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>State </i></td>
            <td>{{ project.loc_state }}</td>
        </tr>
        <tr>
            <td bgcolor="#E6E6E6" style="width:20%"><i>Country </i></td>
            <td>{{ project.loc_country }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}