{% extends "layout/layout.html" %}


{% macro render_field(field) %}
    <tr>
        <td bgcolor="#CCCCCC" style="width:35%"> <i>{{ field.label }}</i></td>
        {% if field.type == "TextAreaField" %}
            <td>{{ field(cols="200", rows="3")|safe }}
                {% elif field.type == "TextField" %}
            <td>{{ field(cols="100")|safe }}
                {% else %}
            <td>{{ field(**kwargs)|safe }}
        {% endif %}
        <br>
        {% if field.errors %}
            <font color="red">
                <dl class=errors>
                    {% for error in field.errors %}
                        <dd>  <i class="fa fa-exclamation-triangle"></i> {{ error }}</dd>
                    {% endfor %}
                </dl>
            </font>
        {% endif %}
        </td>
    </tr>
{% endmacro %}

{% block content %}

    <legend> {{ title }} </legend>

    <form method="post">
         <table class="table table-condensed">
            <tbody>
            <tr>
                <th colspan="2" bgcolor="#CCCCCC"> Project Information </th>
            </tr>
            {% for field in profile_fields %}
                {{ render_field(form[field]) }}
            {% endfor %}

            <tr>
                <th colspan="2" bgcolor="#CCCCCC"> Project Vocabulary </th>
            </tr>
            {% for field in vocab_fields %}
                {{ render_field(form[field]) }}
            {% endfor %}

            <tr>
                <th colspan="2" bgcolor="#CCCCCC"> Project Contact </th>
            </tr>
            {% for field in contact_fields %}
                {{ render_field(form[field]) }}
            {% endfor %}

                        <tr>
                <th colspan="2" bgcolor="#CCCCCC"> Project Details </th>
            </tr>
            {% for field in project_details_fields %}
                {{ render_field(form[field]) }}
            {% endfor %}

            <tr>
                <th colspan="2" bgcolor="#CCCCCC">Agreements </th>
            </tr>

            {% for field in agreements_fields %}
                {{ render_field(form[field]) }}
            {% endfor %}

            <tr>
                <th colspan="2" bgcolor="#CCCCCC">Related Grant </th>
            </tr>

            {% for field in nsf_fields %}
                {{ render_field(form[field]) }}
            {% endfor %}

            <tr>
                <th colspan="2" bgcolor="#CCCCCC">Resource Requirements </th>
            </tr>

            {% for field in resource_fields %}
                {{ render_field(form[field]) }}
            {% endfor %}

            <tr>
                <th colspan="2" bgcolor="#CCCCCC">Project Membership Management </th>
            </tr>

            {% for field in membership_fields %}
                {{ render_field(form[field]) }}
            {% endfor %}

            <tr>
                <th colspan="2" bgcolor="#CCCCCC">Other </th>
            </tr>

            {% for field in other_fields %}
                {{ render_field(form[field]) }}
            {% endfor %}
            </tbody>
        </table>

{#        {% for (panel, attributes) in fields %}#}
{##}
{#            <div class="panel panel-default">#}
{#            <div class="panel-heading">#}
{#                <h3 class="panel-title"> {{ panel | capitalize }} </h3>#}
{#            </div>#}
{#            <div class="panel-body">#}
{##}
{##}
{#            <table class="table table-condensed">#}
{#                <tbody>#}
{#                <tr>#}
                    {#	<th colspan="2" bgcolor="#CCCCCC"> {{ panel | capitalize }} </th>#}
{#                </tr>#}
{##}
{#                {% for field in attributes %}#}
{#                    {{ render_field(form[field]) }}#}
{#                {% endfor %}#}
{#                </tbody>#}
{#            </table>#}
{#        {% endfor %}#}

        <div class="control-group">
            <label class="control-label" for="button_submit"></label>
            <div class="controls">

                {% for state in states %}
                    <button id="button_{{ state }}" value="{{ state }}"
                            name="button"
                            {% if state == 'save' %}
                            class="btn btn-success"
                            {% elif state == 'cancel' %}
                            class="btn btn-danger"
                            {% else %}
                            class="btn"
                            {% endif %}
                            >{{ state|capitalize }}
                    </button>
                {% endfor %}
            </div>
        </div>
        </div>
        </div>
    </form>
{% endblock %}