{% extends "layout/layout.html" %}
{% from "_helper.html" import image_popup, href_image_button %}
{% from "_helper.html" import cm_state_color %}

{% block content %}
<legend>{{ title }}</legend>

<form method="POST">

<table class="table table-condensed">
  <thead>
  <tr>
    <th> </th>
    <th> </th>
    <th> </th>    
    <th> Status </th>    
    <th> Firstname </th>
    <th> Lastname </th>
    <th> Email </th>
    <th> Username </th>            
  </tr>
  </thead>

   <tbody>
{% for user in users %}
  <tr>
    <td> <input id="{{ user.username }}" name="selectedusers" type="checkbox" value="{{ user.username }}"></td>    
    <td> <a href="/user/profile/{{ user.username }}">
      view <i class="fa fa-user"></i> </a> </td>        

   <td>
     {% if with_edit == "True" %}
        <a href="/user/edit/{{ user.username }}"> edit <i class="fa fa-user"></i> </a>
     {% endif %}
   </td>        

      {% if user.status == 'approved' %}
        <td>
	  <font  color="green"> <i class="fa fa-check-square-o"></i> </font>	  
	</td>
	<td>  
          <font  color="green"> {{ user.status|capitalize }} </font>
	</td>
	

      {% elif user.status == 'denied' %}
        <td>
	  <font  color="red"> <i class="fa fa-ban"></i> </font>	  
	</td>
	<td>  
          <font  color="red"> {{ user.status|capitalize }} </font>
	</td>


      {% elif user.status == 'pending' %}
        <td>
	  <font  color="grey"> <i class="fa fa-pause"></i> </font>	  
	</td>
	<td>  
          <font  color="grey"> {{ user.status|capitalize }} </font>
	</td>

      {% elif user.status == 'blocked' %}
        <td>
	  <font  color="red"> <i class="fa fa-ban"></i> </font>	  
	</td>
	<td>  
          <font  color="red"> {{ user.status|capitalize }} </font>
	</td>

      {% else %}
        <td>
	  <font  color="black"> <i class="fa fa-question-circle"></i> </font>	  
	</td>
	<td>  
          <font  color="black"> {{ user.status|capitalize }} </font>
	</td>


      {% endif %}

    <td>{{ user.firstname }}</td>
    <td>{{ user.lastname }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.username }}</td>            
  </tr>
{% endfor %}
  </tbody>
</table>


<div class="control-group">
  <label class="control-label" for="button_submit"></label>
  <div class="controls">

    {% for state in states %}
        <button id="button_{{ state }}" value="{{ state }}"
            name="button"
            {% if state == 'approved' %}
               class="btn btn-success"
            {% elif state == 'pending' %}
               class="btn btn-default"
            {% elif state in ['denied', 'blocked', 'delete'] %}
               class="btn btn-danger"
            {% else %}
                class="btn"
            {% endif %}
         >{{ state|capitalize }}
    </button>
    {% endfor %}

  </div>
</div>

</form>
{% endblock %}
