{% extends "layout/layout.html" %}

{% block content %}
    <div class="page-header">
        <h1> User Application</h1>
    </div>

    <form method="post">
        <table class="table table-condensed">
            {% for entry in fields %}
                {% set section = fields[entry] %}
                <thead>
                    <tr>
                        <th colspan="2" bgcolor="#CCCCCC"> {{ section['label'] }} </th>
                    </tr>
                </thead>
                <tbody>
                {% set parameters = section['fields'] %}
                {% for parameter in parameters %}
                    {% set key = parameter.keys()[0] %}
                    {% set value = parameter[key] %}
                    <tr>
                        <td style="width:25%;font-weight:bold;vertical-align: middle">{{ value['label'] }}</td>
                        <td style="width:70%" >
                            <div class="form-group form-group-sm">
                                <div class="form-group-sm col-sm-6">
                                    {% if value['type'] == 'integer' %}
                                        <input class="form-control"
                                               type="number" step="any"
                                               name="{{key}}"
                                               placeholder="{{value['value']}}"
                                               value="{{value['value']}}"
                                                {%if value['required'] %} required {% endif %}>
                                    {% elif value['type'] == 'float' %}
                                        <input class="form-control"
                                               type="number"
                                               step="0.1"
                                               name="{{key}}"
                                               placeholder="{{value['value']}}"
                                               value="{{value['value']}}"
                                                {%if value['required'] %} required {% endif %}>
                                    {% elif value['type'] == 'text' %}
                                        <input class="form-control"
                                               type="text"
                                               height="18px"
                                               name="{{key}}"
                                               placeholder="{{value['value']}}"
                                               value="{{value['value']}}"
                                                {%if value['required'] %} required {% endif %}>
                                    {% elif value['type'] == 'email' %}
                                        <input class="form-control"
                                               type="text"
                                               height="18px"
                                               name="{{key}}"
                                               placeholder="{{value['value']}}"
                                               value="{{value['value']}}"
                                                {%if value['required'] %} required {% endif %}>
                                    {% elif value['type'] == 'password' %}
                                        <input class="form-control"
                                               type="password"
                                               height="18px"
                                               name="{{key}}"
                                               placeholder="{{value['value']}}"
                                               value="{{value['value']}}"
                                                {%if value['required'] %} required {% endif %}>
                                    {% elif value['type'] == 'textarea' %}
                                        <textarea class="form-control" name="{{ key  }}"wrap="soft" {%if value['required'] %} required {% endif %}>
                                        </textarea>
                                    {% elif value['type'] == 'selector' %}
                                        <div class="form-inline">
                                            {% for button in value['value'] %}
                                                <label class="radio-inline">
                                                    <input type="radio" name="{{key}}"
                                                           value="{{button}}"
                                                            {%if value['required'] %} required {% endif %}>
                                                    {{button | capitalize}}
                                                    </input>
                                                </label>
                                            {% endfor %}
                                        </div>
                                    {% elif value['type'] == 'dropdown' %}
                                        <div class="form-inline">
                                            {% set option_value = value['value'] %}
                                            {% set field_name = key %}
                                            {% if field_name == 'country' %}
                                                <select name="{{ key }}"{%if value['required'] %} required {% endif %}>>
                                                    {% for item in countries_list %}
                                                        <option>{{ item }}</option>
                                                    {% endfor %}
                                                </select>
                                            {% elif field_name == 'citizenship' %}
                                                <select name="{{ key }}"{%if value['required'] %} required {% endif %}>>
                                                    {% for item in countries_list %}
                                                        <option>{{ item }}</option>
                                                    {% endfor %}
                                                </select>
                                                {% elif field_name == 'institutionrole' %}
                                                <select name="{{ key }}"{%if value['required'] %} required {% endif %}>>
                                                    {% for item in roles_list %}
                                                        <option>{{ item }}</option>
                                                    {% endfor %}
                                                </select>
                                            {% endif %}
                                            </label>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            {% endfor %}
        </table>
        <div class="control-group">
            <label class="control-label" for="button_submit"></label>
            <div class="controls">
                {% for state in states %}
                    <button id="button_{{ state }}" value="{{ state }}"
                            name="button"
                            {% if state == 'save' %}
                            class="btn btn-success"
                            {% elif state == 'cancel' %}
                            class="btn btn-danger"
                            {% else %}
                            class="btn"
                            {% endif %}
                            >{{ state|capitalize }}
                    </button>
                {% endfor %}

            </div>
        </div>
    </form>
{% endblock %}