{% extends "layout/layout_title.html" %}

{% from "_helper.html" import image_button %}

{% macro image_workflow(diagram,width=None, height=None) %}
   <!--Width={{width}}<br>
   Height={{Height}}<br>
   -->
   <img src="{{diagram}}" cache="no-cache"/>
{% endmacro %}


{% block content %}
<legend>Workflow Provision Form</legend>
<form method="POST" action="">
{{ form.csrf_token }}

<input type="submit" value="Redraw"><br>

{{form.workflow(rows="5", cols="256")}}<br>



</form>

<div id="workflow_drawing_container">
</div>



<script type="text/javascript">
    function newimg(name){
        dummytag = Math.random().toString();
        strval = "<img src=\""+  name + "?" + dummytag + "\"/>";
        return strval;
    }
    function redraw(){
        $('#workflow_drawing_container').html(newimg("{{diagram}}"));
    }
    $(document).ready(redraw());
</script>


{% endblock %}
