{% extends "layout/layout.html" %}
{% from "_helper.html" import image_button %}
{% from "_helper.html" import image_link %}
{% from "_helper.html" import cm_image_input %}


{% block content %}

<legend>Status</legend>

<script src="/static/js/highcharts.js"></script>
<script src="/static/js/highcharts-more.js"></script>
<script src="/static/js/modules/exporting.js"></script>

<script type="text/javascript">
(function($){ // encapsulate jQuery

$(function () {

    $('#container').highcharts({

        chart: {
            polar: true,
            type: 'line'
        },

        title: {
            text: 'Users & Jobs',
            x: -80
        },

        pane: {
            size: '80%'
        },

        xAxis: {
            categories: ['India', 'Bravo', 'Echo', 'Delta'],
            tickmarkPlacement: 'on',
            lineWidth: 0
        },

        yAxis: {
            gridLineInterpolation: 'polygon',
            lineWidth: 0,
            min: 0
        },

        tooltip: {
            shared: true,
            pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.0f}</b><br/>'
        },

        legend: {
            align: 'right',
            verticalAlign: 'top',
            y: 70,
            layout: 'vertical'
        },

        series: [{
            name: 'Jobs',
            data: [{{values.india.jobs}},
            	   {{values.bravo.jobs}},
            	   {{values.echo.jobs}},
                   {{values.delta.jobs}}
		   ],
            pointPlacement: 'on'
        }, {
            name: 'Users',
            data: [{{values.india.users}},
            	   {{values.bravo.users}},
            	   {{values.echo.users}},
		   {{values.delta.users}},
            pointPlacement: 'on'
        },
        ]

    });
});
})(jQuery);
</script>

<script type="text/javascript">
(function($){ // encapsulate jQuery

$(function () {

    $('#servicescontainer').highcharts({

        chart: {
            polar: true,
            type: 'line'
        },

        title: {
            text: 'Services',
            x: -80
        },

        pane: {
            size: '80%'
        },

        xAxis: {
            categories: [{% for category in services.categories %}'{{category}}',{% endfor %}],
            tickmarkPlacement: 'on',
            lineWidth: 0
        },

        yAxis: {
            gridLineInterpolation: 'polygon',
            lineWidth: 0,
            min: 0
        },

        tooltip: {
            shared: true,
            pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.0f}</b><br/>'
        },

        legend: {
            align: 'right',
            verticalAlign: 'top',
            y: 70,
            layout: 'vertical'
        },

        series: [
        	{% for machine in services.machines %}
            {
            name: '{{machine}}',
            data: [{% for v in services['data'][machine] %}{{v}},{% endfor %}],
            pointPlacement: 'on'
            },
            {% endfor %}
           ]

    });
});
})(jQuery);
</script>


<script type="text/javascript">
(function($){ // encapsulate jQuery

$(function () {
    $('#container-bar').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Service Distribution'
        },
        subtitle: {
            text: 'Source: laszewski@gmail.com'
        },
        xAxis: {
            categories: [{% for category in services.categories %}'{{category}}',{% endfor %}],
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Population',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' Servers'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 100,
            floating: true,
            borderWidth: 1,
            backgroundColor: '#FFFFFF',
            shadow: true
        },
        credits: {
            enabled: false
        },
            series: [
        	{% for machine in services.machines %}
            {
            name: '{{machine}}',
            data: [{% for v in services['data'][machine] %}{{v}},{% endfor %}],
            pointPlacement: 'on'
            },
            {% endfor %}
           ]
    });
});
})(jQuery);
</script>

<table>
<tr>
	<th>HPC</th>
	<th>Cloud</th>
</tr>

{% set height=350 %}
{% set width=450 %}

<tr>
	<td>
		<div id="container-bar"
	 		style="min-width: {{width}}px;
	 		max-width: {{width}}px;
	 		height: 600px;
	 		margin: 0 auto">
		</div>
	</td>
	<td></td>


</tr>

<tr>
<td>
THIS INFORMATION IS JUST A PLACEHOLDER
<div id="container"
	 style="min-width: {{width}}px;
	 max-width: {{width}}px;
	 height: {{height}}px;
	 margin: 0 auto">
</div>

</td>
<td>

</td>
</tr>
<tr>
	<td>
		<div id="servicescontainer"
	 		style="min-width: {{width}}px;
	 		max-width: {{width}}px;
	 		height: {{height}}px;
	 		margin: 0 auto">
		</div>
	</td>
	<td></td>


</tr>
</tr>


</table>


{% endblock content %}
