		<!-- Gregor -->

        <style type="text/css">
		.one-edge-shadow {
			-webkit-box-shadow: 0 8px 6px -6px black;
	   		-moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
		}

		.shadow {
 			-moz-box-shadow:    3px 3px 5px 6px #ccc;
  			-webkit-box-shadow: 3px 3px 5px 6px #ccc;
  			box-shadow:         3px 3px 5px 6px #ccc;
		}

		.shadow-circular {
			box-shadow: 0 0 8px rgba(0, 0, 0, .8);
			-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
			-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
		}

		.blue-gradient {
			background: #a7cfdf; /* Old browsers */
			background: -moz-linear-gradient(top, #a7cfdf 0%, #23538a 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7cfdf), color-stop(100%,#23538a)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #a7cfdf 0%,#23538a 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #a7cfdf 0%,#23538a 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #a7cfdf 0%,#23538a 100%); /* IE10+ */
			background: linear-gradient(to bottom, #a7cfdf 0%,#23538a 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); /* IE6-9 */
			color: white
		}

		.gray-gradient {
			background: rgb(181,189,200); /* Old browsers */
			background: -moz-linear-gradient(top, rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
			background: linear-gradient(to bottom, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
			color: white
		}

		</style>
		<!-- -->

        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
            .sidebar-nav {
                padding: 9px 0;
            }
        </style>
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->


