{% extends "layout/layout.html" %}

{% block content %}

<div class="page-header">
<h1> Cloudmesh</h1>
 <small> Federated Management of IaaS and PaaS Services -</small>
  <hr>
<div>

{% endblock content %}

{% block contentsmall11 %}

<center>
	<h2>Cloud</h2>

	<img src="/static/img/splash/cloud.png" height="100" width="100"
		 class="img-circle">

	<p><a class="btn btn-xs btn-info" href="/cloud">View details &raquo;</a></p>
</center>
{% endblock contentsmall11 %}

{% block contentsmall12 %}

	<center><h2>HPC</h2>
	<img src="/static/img/splash/hpc.png" height="100" width="100" class="img-circle">
	<p><a class="btn btn-xs btn-info" href="/hpc">View details &raquo;</a></p></center>

{% endblock contentsmall12 %}

{% block contentsmall13 %}

	<center><h2>Rain</h2>

	<img src="/static/img/splash/rain.jpg" height="100" width="100" class="img-circle">

	<p><a class="btn btn-xs btn-info" href="/rain">View details &raquo;</a></p></center>

{% endblock contentsmall13 %}



{% block contentsmall21 %}

	<center><h2>Monitor</h2>

	<img src="/static/img/splash/ruler.jpg" height="100" width="100" class="img-circle">

	<p><a class="btn btn-xs btn-info" href="/monitor">View details &raquo;</a></p></center>

{% endblock contentsmall21 %}


{% block contentsmall22 %}

	<center><h2>Tests</h2>

	<img src="/static/img/splash/test.jpg" height="100" width="100" class="img-circle">

	<p><a class="btn btn-xs btn-info" href="/tests"> View details &raquo;</a></p></center>


{% endblock contentsmall22 %}

{% block contentsmall23 %}

<center><h2>Inventory</h2>

<img src="/static/img/splash/inventory.jpg" height="100" width="100" class="img-circle">

	<p><a class="btn btn-xs btn-info" href="/inventory"> View details &raquo;</a></p></center>

{% endblock contentsmall23 %}




{% block contentsmall31 %}

<center><h2>News</h2>

<img src="/static/img/splash/news.jpg" height="100" width="100" class="img-circle">

<p><a class="btn btn-xs btn-info" href="/news"> View details &raquo;</a></p></center>

{% endblock contentsmall31 %}


{% block contentsmall32 %}

<center><h2>FAQ</h2>

<img src="/static/img/splash/information.jpg" height="100" width="100" class="img-circle">

<p><a class="btn btn-xs btn-info" href="/faq"> View details &raquo;</a></p></center>

{% endblock contentsmall32 %}

{% block contentsmall33 %}

<center><h2>Links</h2>

<img src="/static/img/splash/links.jpg" height="100" width="100" class="img-circle">

<p><a class="btn btn-xs btn-info" href="/links"> View details &raquo;</a></p></center>


{% endblock contentsmall33 %}




