{% extends "layout/layout.html" %}

{% block content %}
<legend> Cloudmesh</legend>
{% endblock content %}

{% block contentsmall11 %}

	<h2>Cloud</h2>

	<img src="/static/img/splash/cloud.png" height="100" width="100"
		 class="img-circle">

	<p><a class="btn btn-xs" href="/cloud">View details &raquo;</a></p>

{% endblock contentsmall11 %}

{% block contentsmall12 %}

	<h2>HPC</h2>
	<img src="/static/img/splash/hpc.png" height="100" width="100" class="img-circle">
	<p><a class="btn btn-xs" href="/hpc">View details &raquo;</a></p>

{% endblock contentsmall12 %}

{% block contentsmall13 %}

	<h2>Rain</h2>

	<img src="/static/img/splash/rain.jpg" height="100" width="100" class="img-circle">

	<p><a class="btn btn-xs" href="/rain">View details &raquo;</a></p>

{% endblock contentsmall13 %}



{% block contentsmall21 %}

	<h2>Monitor</h2>

	<img src="/static/img/splash/ruler.jpg" height="100" width="100" class="img-circle">

	<p><a class="btn btn-xs" href="/monitor">View details &raquo;</a></p>

{% endblock contentsmall21 %}


{% block contentsmall22 %}

	<h2>Tests</h2>

	<img src="/static/img/splash/test.jpg" height="100" width="100" class="img-circle">

	<p><a class="btn btn-xs" href="/tests"> View details &raquo;</a></p>


{% endblock contentsmall22 %}

{% block contentsmall23 %}

<h2>Inventory</h2>

<img src="/static/img/splash/inventory.jpg" height="100" width="100" class="img-circle">

	<p><a class="btn btn-xs" href="/inventory"> View details &raquo;</a></p>

{% endblock contentsmall23 %}




{% block contentsmall31 %}

<h2>News</h2>

<img src="/static/img/splash/news.jpg" height="100" width="100" class="img-circle">

<p><a class="btn btn-xs" href="/news"> View details &raquo;</a></p>

{% endblock contentsmall31 %}


{% block contentsmall32 %}

<h2>FAQ</h2>

<img src="/static/img/splash/information.jpg" height="100" width="100" class="img-circle">

<p><a class="btn btn-xs" href="/faq"> View details &raquo;</a></p>

{% endblock contentsmall32 %}

{% block contentsmall33 %}

<h2>Links</h2>

<img src="/static/img/splash/links.jpg" height="100" width="100" class="img-circle">

<p><a class="btn btn-xs" href="/links"> View details &raquo;</a></p>


{% endblock contentsmall33 %}




