<div class="well sidebar-nav">
<ul class="nav nav-list">
  <li class="nav-header">Management</li>
  <ul>
  <li> <a href="/">Home</a></li>
  <li><a href="/status">Status</li></a>
  <li><a href="/profile/">Profile</li></a>	    
  <li><a href="/admin">Admin</li></a>
  </ul>
</ul>
</div>

<div class="well sidebar-nav">
<ul class="nav nav-list">

    <li class="nav-header"><a href="/cm/refresh">Clouds <i class="fa fa-repeat"></i> </a></li>

    <ul>
    <li><a href="/mesh/servers">VMs</a></li>
    <li><a href="/mesh/images">Images</a></li>
    <li><a href="/mesh/flavors/">Flavors</a></li>
    <li><a href="/mesh/register/clouds">Register</a></li>
    </ul>
    
    <li class="nav-header"><a href="/mesh/refresh/qstat"> HPC <i class="fa fa-repeat"></i> </a> </li>    
    <ul>    
    <li><a href="/mesh/qstat">Jobs</a></li>
    <li><a href="/mesh/qinfo">Queues Info</a></li>
    <li><a href="/mesh/hpc/login">Login</a></li>    
    <li><a href="/inventory/rack">Rack Diagram</a></li>
    </ul>
</ul>
</div>
	    
<div class="well sidebar-nav">
<ul class="nav nav-list">
  <li><a href="http://cloudmesh.futuregrid.org">Cloudmesh</a></li>
<ul>
  <li><a href="http://cloudmesh.futuregrid.org/cloudmesh/"> Documentation</a></li>  
  <li><a href="https://github.com/cloudmesh/cloudmesh">Source</a></li>
  <li><a href="/bugs">Bugs</a></li>
  <li><a href="/git">Git</a></li>
  <li><a href="http://cloudmesh.blogspot.com">Blog</a></li>
  <li><a href="http://gregor.cyberaide.org">Contact</a></li>
</ul>

  <li class="nav-header">FutureGrid</li>
  <li><a href="https://portal.futuregrid.org">FutureGrid</a></li>
  <ul>
    <li><a href="http://manual.futuregrid.org">Manual</a></li>
  </ul>
</ul>
</div>
