
<div class="well sidebar-nav" bgcolor="#CCCCFF">
<ul class="nav nav-list">

<li class="nav-header">Management</li>

<li class="nav-header">Application</li>
<li><a href="/m/user/apply">User</a></li>
<li><a href="/m/project/apply">Project</a></li>

<li class="nav-header">Users</li>
<li><a href="/m/user/apply">Apply</a></li>
<li><a href="/m/user/list">List *</a></li>
<li><a href="/m/user/manage">Manage * </a></li>

<li class="nav-header">Projects</li>
<li><a href="/m/project/apply">Apply</a></li>
<li><a href="/m/project/list">List * </a></li>
<li><a href="/m/project/manage">Manage * </a></li>
<li><a href="/m/project/results">Results</a></li>
<li><a href="/m/project/members">Members</a></li>
</ul>
</div>

