{% from "_helper.html" import flexible_menu,loggedin_msg %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Cloud Mesh for FutureGrid, OpenStack, Eucalyptus, Azure</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- styles ------------------------------------------------------- -->

        <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/input.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='library/jquery-ui/themes/base/minified/jquery-ui.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/title.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">

        {% include "custom-css.html" %}

        <!-- Placed at the top of the document so the certain onpage load functions work -->
        <script src="/static/js/jquery.js" type="text/javascript" charset="utf-8"></script>
        <script src="/static/library/jquery-ui/ui/jquery-ui.js" type="text/javascript"></script>
        <script src="/static/js/jeditable.js" type="text/javascript" charset="utf-8"></script>

        <script type="text/javascript" src="/static/js/base64.js"></script>
        <script type="text/javascript" src="/static/js/interactive.js"></script>

        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="/static/img/cm-logo.ico">

    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
		  {% include "brand.html" %}

                    <div class="nav-collapse collapse">

                        <p class="navbar-text pull-right">
                            {{ loggedin_msg() }}
                        </p>

		      {% include "menu-top.html" %}	    		      		      
		      
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">

		  {% include "menu.html" %}		  

		  <footer>
		    <hr>
			<p align="right">
			  &copy; 2013, Cloud Mesh {{ version }}<br>
			  FutuerGrid, Indiana University<br>
			  For mor information on cloudmesh, <br>
			  please contact Gregor von Laszewski <br>
			  laszewski@gmail.com
			</p>
		    </footer>

                </div><!--/span-->

		<!--
                <div class="span9">
                    <div class="hero-unit one-edge-shadow gray-gradient">
                        {% block herounit %}
                        {% endblock %}
                    </div>
                </div>
		-->
		
                <div class="span9" class="row-fluid">
                        {% block content %}
                        {% endblock %}
                </div><!--/span-->

                <div class="span9">

                    <div class="row-fluid">
                        <div class="span4">
                            {% block contentsmall11 %}
                            {% endblock %}
                        </div><!--/span-->
                        <div class="span4">
                            {% block contentsmall12 %}
                            {% endblock %}
                        </div><!--/span-->
                        <div class="span4">
                            {% block contentsmall13 %}
                            {% endblock %}
                        </div><!--/span-->
                    </div><!--/row-->
                    <div class="row-fluid">
                        <div class="span4">
                            {% block contentsmall21 %}
                            {% endblock %}
                            {#
                            <p>
                                <a class="btn" href="#">View details &raquo;</a>
                            </p>
                            #}
                        </div><!--/span-->
                        <div class="span4">
                            {% block contentsmall22 %}
                            {% endblock %}
                            {#
                            <p>
                                <a class="btn" href="#">View details &raquo;</a>
                            </p>
                            #}
                        </div><!--/span-->
                        <div class="span4">
                            {% block contentsmall23 %}
                            {% endblock %}
                            {#
                            <p>
                                <a class="btn" href="#">View details &raquo;</a>
                            </p>
                            #}
                        </div><!--/span-->
                    </div><!--/row-->
                </div><!--/span-->
            </div><!--/row-->
        </div><!--/.fluid-container-->

        <footer>
        </footer>

        <!-- javascript ------------------------------------------------------- -->

        <!--
        <script src="/static/js/bootstrap-transition.js"></script>
        <script src="/static/js/bootstrap-alert.js"></script>
        <script src="/static/js/bootstrap-modal.js"></script>
        <script src="/static/js/bootstrap-dropdown.js"></script>
        <script src="/static/js/bootstrap-scrollspy.js"></script>
        <script src="/static/js/bootstrap-tab.js"></script>
        <script src="/static/js/bootstrap-tooltip.js"></script>
        <script src="/static/js/bootstrap-popover.js"></script>
        <script src="/static/js/bootstrap-button.js"></script>
        <script src="/static/js/bootstrap-collapse.js"></script>
        <script src="/static/js/bootstrap-carousel.js"></script>
        <script src="/static/js/bootstrap-typeahead.js"></script>
        -->
        <script src="/static/js/bootstrap-datepicker.js"></script>
        <script>
//Show progress using spinner


//$("head").ready(function(){
//refresh(window.location.pathname);
//});

<!--

function refresh(actionPath){
//$('#progress').css({"z-index": "500", "background-color": "black"});
var pageWidth = $(document).width();
var pageHeight = $(document).height();
$('#progressImage').css("position", "fixed");
$('#progressImage').css("top", ($(window).height() / 2) - ($('#progressImage').outerHeight() / 2));
$('#progressImage').css("left", ($(window).width() / 2) - ($('#progressImage').outerWidth() / 2));
$('#progress').css({"height": pageHeight, "width": pageWidth});
$('#progress').show();
$.get( actionPath, function( data ) {
$('#progress').hide();
});
}
-->
        </script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-38298930-2', 'futuregird.org');
  ga('send', 'pageview');

</script>


    </body>
</html>
