{% extends "base.html" %}

{% block herounit %}
	    <h1><center>
               <span class="fa-stack fa-lg">
                  <i class="fa fa-cloud fa-stack-2x" style="color:darkblue"></i>
                  <i class="fa fa-th fa-stack-1x" style="color:white"></i>
               </span></center>
               </i> Cloudmesh Management</h1>
            <p>The cloudmesh management framework is a prototype to
	    manage users, projects, and project comittee members in
	    django with a mongo db backend.<p>
            <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
{% endblock %}

{% block panel11 %}
  <h2>Users</h2>
     <p> some descriptions what users we have</p>
     <p><a class="btn" href="#">View details &raquo;</a></p>
{% endblock %}

{% block panel12 %}
  <h2>Projects</h2>
     <p> some descriptions what users we have</p>
     <p><a class="btn" href="#">View details &raquo;</a></p>
{% endblock %}

{% block panel13 %}
  <h2>Committee</h2>
     <p> some descriptions what users we have</p>
     <p><a class="btn" href="#">View details &raquo;</a></p>
{% endblock %}


{% block content %}

{% endblock %}

