{% extends "base.html" %}

{% block herounit %}
	    <h1>Cloudmesh Management</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
 {% endblock %}

{% block content %}
<div class="hero-unit">
    <h1>Ready to Rango</h1>
    <p>Find, Add, Share and Rango useful links and resources.</p>
</div>

<div class="row-fluid">
    <div class="span6">
        <h2>Top Five Categories</h2>
        {% if categories %}
        <ul>
            {% for category in categories %}
            <li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No categories at present.</strong>
        {% endif %}

    </div>
    <!--/span-->
    <div class="span6">
        <h2>Top Five Pages</h2>
        {% if pages %}
        <ul>
            {% for page in pages %}
            <li><a href="{{ page.url}}">{{ page.title }}</a> - {{ page.category }} ({{ page.views }} view(s))</li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No pages at present.</strong>
        {% endif %}

    </div>
    <!--/span-->
</div>
<!--/row-->
{% endblock %}

