<li class="nav-header">Management</li>
<li><a href="/">Home</a></li>

<li class="nav-header">Application</li>
<li><a href="/user/apply">User</a></li>
<li><a href="/project/apply">Project</a></li>

<li class="nav-header">Users</li>
<li><a href="/user/apply">Apply</a></li>
<li><a href="/user/list">List</a></li>
<li><a href="/user/manage">Manage</a></li>

<li class="nav-header">Projects</li>
<li><a href="/project/apply">Apply</a></li>
<li><a href="/project/list">List</a></li>
<li><a href="/project/manage">Manage</a></li>
<li><a href="/project/results">Results</a></li>
<li><a href="/project/members">Members</a></li>

<li class="nav-header">Reservation</li>
<li><a href="/reservation_chart">Chart</a></li>
<li><a href="/reservation_add">Add</a></li>
<li><a href="/reservation_delete">Delete</a></li>
<li><a href="/reservation_delete">Random</a></li>

<li class="nav-header">Administration</li>
<li><a href="admin/">Admin</a></li>

<li class="nav-header">Cloudmesh</li>
<li><a href="http://cloudmesh.futuregrid.org/cloudmesh/"> Documentation</a></li>
<li><a href="http://futuregrid.org">FutureGrid</a></li>
<li><a href="http://gregor.cyberaide.org">Gregor</a></li>