{% extends "layout/layout.html" %}

{% block content %}
<legend>Project List</legend>

<table class="table table-condensed">
  <tr>
    <th> </th>
    <th></th>
    <th> Status </th>    
    <th> Title </th>
    <th> Contact </th>
  </tr>

{% for project in projects %}
  <tr>
    <td> <a href="/project/profile/{{ project.projectid }}"><i class="fa fa-file-text-o"></i> </a> </td>    
      {% if project.status == 'approved' %}
        <td>
	  <font  color="green"> <i class="fa fa-check-square-o"></i> </font>	  
	</td>
	<td>  
          <font  color="green"> {{ project.status|capitalize }} </font>
	</td>
	

      {% elif project.status == 'completed' %}
        <td>
	  <font  color="blue"> <i class="fa fa-check-square"></i> </font>	  
	</td>
	<td>  
          <font  color="blue"> {{ project.status|capitalize }} </font>
	</td>


      {% elif project.status == 'pending' %}
        <td>
	  <font  color="grey"> <i class="fa fa-pause"></i> </font>	  
	</td>
	<td>  
          <font  color="grey"> {{ project.status|capitalize }} </font>
	</td>

      {% elif project.status == 'denied' %}
        <td>
	  <font  color="red"> <i class="fa fa-ban"></i> </font>	  
	</td>
	<td>  
          <font  color="red"> {{ project.status|capitalize }} </font>
	</td>

      {% else %}
        <td>
	  <font  color="black"> <i class="fa fa-question-circle"></i> </font>	  
	</td>
	<td>  
          <font  color="black"> {{ project.status|capitalize }} </font>
	</td>


      {% endif %}


    <td>{{ project.title }}</td>
    <td>{{ project.contact }}</td>
  </tr>
{% endfor %}
</table>
  
{% endblock %}
