<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>User Application</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="firstname">Firstname</label>
  <div class="controls">
    <input id="firstname" name="firstname" type="text" placeholder="placeholder" class="input-xlarge">
    <p class="help-block">help</p>
  </div>
</div>

<!-- Password input-->
<div class="control-group">
  <label class="control-label" for="password">Password</label>
  <div class="controls">
    <input id="password" name="password" type="password" placeholder="placeholder" class="input-xlarge">
    <p class="help-block">help</p>
  </div>
</div>

<!-- Textarea -->
<div class="control-group">
  <label class="control-label" for="textarea">Text Area</label>
  <div class="controls">                     
    <textarea id="textarea" name="textarea">default text</textarea>
  </div>
</div>

<!-- Multiple Checkboxes -->
<div class="control-group">
  <label class="control-label" for="checkboxes">Checkboxes</label>
  <div class="controls">
    <label class="checkbox" for="checkboxes-0">
      <input type="checkbox" name="checkboxes" id="checkboxes-0" value="Option one">
      Option one
    </label>
    <label class="checkbox" for="checkboxes-1">
      <input type="checkbox" name="checkboxes" id="checkboxes-1" value="Option two">
      Option two
    </label>
  </div>
</div>

<!-- Button (Double) -->
<div class="control-group">
  <label class="control-label" for="button_submit">Action</label>
  <div class="controls">
    <button id="button_submit" name="button_submit" class="btn btn-success">Submit</button>
    <button id="button_cancel" name="button_cancel" class="btn btn-inverse">Cancel</button>
  </div>
</div>

</fieldset>
</form>
