{% extends "layout/layout_title.html" %}
{% from "_helper.html" import href_image_button %}


{% block content %}
<legend> {{ href_image_button ("none", "fa-repeat", "/mesh/refresh/qstat") }} Launcher </legend> {# change redirects. currently to qStat#}

<script type="text/javascript">

/*
/* http://stackoverflow.com/a/10237915 */
(function($) {
    $(function() {
        $("#launcher-accordion > div").accordion({ header: "h3",
        										collapsible: true,
        										heightStyle: "content",
        										active: false });
    });
})(jQuery);


$(function() {
  {% for cloudnum in range(hosts|count) %}
    $("#display-table-{{ cloudnum }}").dataTable({
    	"sPaginationType": "full_numbers",
        aaSorting: [[1,'asc']],
        aoColumnDefs: [ {"bSortable": false, "aTargets": [0]} ]
    });
  {% endfor %}
});

</script>

<div id="launcher-accordion">

    {% for server in columns %}

    	<div style="margin-bottom:1em;">

       		<h3>{{ href_image_button ("none", "fa-repeat", "/mesh/refresh/qstat/" + server) }}
       			{#make refresh changes. currently follows qstat#}
        		{{ server }}
        	</h3>
	        <div>

	        	{%set attribute_list = columns[server]%}
			    <table id="display-table-{{ loop.index0 }}">
		       	<thead>
		        <tr>
		        <th> Select </th>

		        {% for attribute in attribute_list %}
		        	<th>
		        		{{attribute|capitalize}}
		        	</th>
		        {% endfor %}
		        </tr>
				{% set name_index = 0 %}
		        {% for recipie in recipies[server] %}

		        <form action = "/cm/launch/launch_servers" method = "post">
	        	<input type = hidden name = "server" value = {{server}}>

	        	<input type = hidden name = "name_index" value = "{{name_index}}">
		        <tr>

		        	<td valign="top">
		        		<input align="right"
		        		       type="image"
		        		       src="/static/img/icons/png/glyphicons_190_circle_plus.png"
		        		       width="16" height="16"></td>

		        	{% for a in attribute_list%}
			        	<td valign="top">
			        		{% if a == "description" %}
				        		{{recipie[a]}}
				        		<br>
				        		<table>

				        		{% for param in recipie['parameters'] %}
				        		    <tr>
				        		    <td>
				        		    {{param|capitalize}}
									</td>
									<td>
				        		    <input type = "text"
				        		           name = "parameter_{{param}}"
				        		           value = "{{recipie['parameters'][param]}}">
									</td>
									</tr>
				        		{% endfor %}
				        		</table>
				        	{% elif a == "image" %}
				        		<img src="{{recipie[a]}}" width="128">
				        	{% else %}
				      	       {{recipie[a]}}
				      	    {% endif %}
			        	</td>


			        {%endfor%}
		        </tr>
		        {% set name_index = name_index+1 %}
		        </form>
		        {% endfor %}
		        </table>
	        </div>
       </div>


    {% endfor %}
</div>

{% endblock %}
