{% extends "layout/layout.html" %}
{% from "_helper.html" import href_image_button %}


{% block content %}

<legend> {{ href_image_button ("none", "fa-repeat", "/mesh/test") }}
Experiment Management </legend> {# change redirects. currently to
qStat#}

<link rel="stylesheet" href="{{ url_for('static', filename='library/TreeTable/media/css/jqtree.css') }}" />
<script src="/static/library/TreeTable/media/js/tree.jquery.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
/* http://stackoverflow.com/a/10237915 */
(function($) {
    $(function() {
        $("#images-accordion > div").accordion({ header: "h3",
                                                 collapsible: true,
                                                 heightStyle: "content",
                                                 active: false });
    });
})(jQuery);

$(function(){
    var r = jQuery.parseJSON( $('#dict').val() );
    console.log(r);
    $('#tree1').tree({
        data: r
    });

});

</script><br />
<input id= "dict" type="hidden" value="{{user}}"/>
<div id="tree1"></div>

{% endblock %}
