{% extends "layout/layout.html" %}

{% block menu %}
{% include "menu.html" %}
{% endblock menu %}

{% block content %}
<legend>ADMIN</legend>

{% endblock content %}


{% block contentsmall11 %}

<h2>Users</h2>

{% include "menu-users.html" %}
{% include "menu-management.html" %}

{% endblock contentsmall11 %}

{% block contentsmall12 %}

<h2> Provisioning </h2>

{% include "menu-admin.html" %}

{% endblock contentsmall12 %}

{% block contentsmall13 %}

<h2>Metric</h2>

{% include "menu-metric.html" %}

{% endblock contentsmall13 %}



{% block contentsmall21 %}


{% endblock contentsmall21 %}

{% block contentsmall22 %}
{% endblock contentsmall22 %}

{% block contentsmall23 %}
{% endblock contentsmall23 %}








