{% extends "layout/layout.html" %}

{% block menu %}
{% include "menu.html" %}
{% endblock menu %}

{% block content %}
{% endblock content %}

{% block contentbox %}
<h1>ADMIN</h1>
 <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
{% endblock contentbox %}

{% block contentsmall11 %}

<h2>Users</h2>

{% include "menu-users.html" %}
{% include "menu-management.html" %}

{% endblock contentsmall11 %}

{% block contentsmall12 %}

<h2> Provisioning </h2>

{% include "menu-admin.html" %}

{% endblock contentsmall12 %}

{% block contentsmall13 %}
{% endblock contentsmall13 %}



{% block contentsmall21 %}
{% endblock contentsmall21 %}

{% block contentsmall22 %}
{% endblock contentsmall22 %}

{% block contentsmall23 %}
{% endblock contentsmall23 %}








