{% extends "layout/layout.html" %}
{% from "_helper.html" import image_button %}


{% block content %}

<legend>Ping</legend>

<table>
      <th colspan="6"> Ping Test </th>
	 </tr>
  	 <tr>
  	 	<td> Updated </td>
  	 	<td colspan="5"> {{ updated }} </td>
  	 </tr>

  <tr>
    {% for key in results[0] %}
    	<th> {{ key }}  </th>
    {% endfor %}
  </tr>
  {% for test in results %}
    <tr>
    {% for key in test %}
    	<td> {{ test[key] }}  </td>
	{% endfor %}
  </tr>
  {% endfor %}

   </table>

{% endblock %}
