{% extends "layout.html" %}
{% from "_helper.html" import image_button %}g
{% block content %}

<table>
  <tr>
    <th> Default </th>
    <th> Flavor </th>
    <th> Info </th>
  </tr>
  
  {% for name, cloud in clouds.iteritems() %}
  
  <tr> 
    <th colspan="3"> {{ name }} </th> 
  </tr>
  
  {% for id, flavor in cloud['flavors'].iteritems() %}
  
  <tr>
    <td> <input type="radio" name="{{ name }}-{{ key }}" value="{{ name }}-{{ key }}" </td>
    <td> {{ flavor.name }} </td>
    <td> TBD </td>
  </tr>
  
  {% endfor %}
  
  {% endfor %}
  
</table>

{% endblock %}
