{% extends "layout.html" %}
{% from "_helper.html" import image_button %}g
{% block content %}

<table>
  <tr>
    <th> Cloud </th>
    <th> Info </th>
  </tr>
  
  {% for name, cloud in clouds.iteritems() %}
  
  <tr> 
    <th colspan="3"> {{ name }} </th> 
  </tr>
  
  {% for id, image in cloud['images'].iteritems() %}
  
  <tr>
    <td> <input type="radio" name="{{ name }}-{{ id }}" value="{{ name }}-{{ id }}" </td>
    <td> {{ image.name }} </td>
    <td> TBD </td>
  </tr>
  
  {% endfor %}
  
  {% endfor %}
  
</table>

{% endblock %}
