{% extends "cm-layout.html" %}
{% from "_helper.html" import image_button %}g
<script>
</script>
{% block content %}


<table>
   <tr>
	   <th colspan="1"> Start date</th>
	   <th>End date</th>
	   <th>portal id</th>
	   <th>vm count</th>
	   <th>runtime</th><br>
   </tr>
	   <tr>
		   <td colspan="1"> {{metrics['start_date']}}</td>
		   <td> {{ metrics['end_date'] }}</td>
		   <td> {{ metrics["ownerid"] }} </td>
		   <td> {{ metrics["stats"]["All"]["count"]["Total"] }} </td>
		   <td> {{ metrics["stats"]["All"]["runtime"]["Total"]}} </td>
     </tr>
 </table> 

{% endblock %}
