{% extends "cm-layout.html" %}
{% from "_helper.html" import image_button %}g
{% block content %}


<!--('profile.html', 
                           updated = time_now,
                           keys="",##",".join(clouds.get_keys()),
                           cloudinfo = cloudinfo,
                           persolalinfo = persolalinfo,
                           active=active,
                           version=version)

 persolalinfo = {'name':'abc', 'data1': 'pqr'}
    
    cloudinfo = {'openstak-india': {'type':'openstack', 'host':'india.futuregrid.org' ,
    'username':'shweta'},

'openstak-seaira': {'type':'openstack', 'host':'india.futuregrid.org' ,
    'username':'shweta'} }

-->
<script>
function showHide(element) { 
     var field = document.getElementsByClassName(element); 
for(var i=0; i<field.length; i++) {

    if (element) { 
          if (field[i].style.display == 'none') { 
                field[i].style.display = 'block'; 
          } else { 
                field[i].style.display = 'none'; 
          } 
     } 
}
}


</script>
<h1>My Profile</h1> 
<button onClick="showHide('password');">Show and Hide Password</button>
{% for key,value in cloudinfo.iteritems()  %}
<table> <tr> <th>  <h4>{{ key }}</h4>  </th></tr>
<tr><td>
	{% for innerKey,innerValue in value.iteritems()  %}

		{% if "PASSWORD" in innerKey or "SECRET" in innerKey or "PRIVATE" in innerKey or "PUBLISHSETTINGS" in innerKey %}
		<div class="password" style="display: none;"><b> {{ innerKey }} </b> : {{ innerValue }} </div> 
		{% else %}
		<b>{{ innerKey }}</b> : {{ innerValue }} </br>
		{% endif %}
		



	{% endfor %}
</td></tr>
</table>
{% endfor %}



{% endblock %}
