{% extends "layout.html" %}
{% from "_helper.html" import image_button %}g
{% block content %}

<script type="text/javascript" charset="utf-8">

$(function() {
        
  $('.edit').editable('/profile');

});
</script>

<h2>Other Profile Data</h2>
    <ul>
      <li><a href="/images">Select Default Images</a></li>
      <li><a href="/flavors">Select Default Flavors</a></li>
    </ul>

<h2>Profile</h2>

<table>
<form name="profile" action="/profile/" method="POST">
<tr><td colspan="3"><b> Contact </b></td> </tr>  
<tr><td></td><td>Firstname</td><td>{{ person.firstname }}</td><td></td></tr>
<tr><td></td><td>Lastname</td><td>{{ person.lastname }}</td><td></td></tr>
<tr><td></td><td>Phone</td><td>{{ person.phone }}</td><td></td></tr>
<tr><td></td><td>e-mail</td><td>{{ person['e-mail'] }}</td><td></td></tr>
<tr><td></td><td>Address</td><td>
  {{ address | replace ("\n", "<br>") | safe}}
</td><td></td></tr>
<tr><td></td><td colspan="2"><b> Prefix and Index </b></td> <td></td></tr>

<tr>
  <td></td>
  <td> VM Name </td>
  <td>
    <input type="text"
    name="field-prefix"
    value="{{ configuration.prefix }}"
    style="width:120px">
    -
    <input type="text"
    name="field-index"
    value="{{ configuration.index }}"
    style="width:120px">
    <input type="submit" name="btnindex" value="Save">
  </td>
</tr>


<tr><td></td><td>

<b> Projects </b></td>
<td>

{% for projectname in projects.names(status="active") %}
 <input type="radio"
        name="field-selected-project"
        value="{{ projectname }}"
        id="{{ projectname }}"
        {% if projectname == projects.default %}
          checked="checked"
        {% endif %}
        onclick="document.forms['profile'].submit()"/>
        {{ projectname }}
{% endfor %}

</td>

 <td></td></tr>
<tr><td>{{ image_button ("right", "030_pencil", "") }}</td><td>
<b> SecurityGroups </b></td>

<td>


{% for group in configuration['security']['security_groups'].keys() %}

  <input type="radio"
  name="field-selected-securityGroup"
  value="{{ group }}"
  id="{{ group }}"
  {% if group ==  configuration['security']['default'] %}
    checked="checked"
  {% endif %}
  onclick="document.forms['profile'].submit()"
  /> {{ group }}
{% endfor %}


</td>

 <td> </td></tr>



 <tr><td></td><td>Completed</td><td>{{ ', '.join(configuration.projects.completed) }}</td><td></td></tr>    
<tr><td>{{ image_button ("right", "030_pencil", "/clouds/") }}</td><td colspan="2"><b> Clouds </b></td> <td></td></tr>

<tr><td></td><td>Active </td><td>
  {% for cloudname in configuration.clouds.keys() %}
 <input type="checkbox"
        name="field-cloud-activated-{{cloudname}}"
        value="{{ cloudname }}"
        id="{{ cloudname }}"
        {% if cloudname in clouds.active() %}
          checked = "checked"
        {% endif %}
        onclick="document.forms['profile'].submit()"
        /> {{ cloudname}}
{% endfor %}
</td><td></td></tr>


<tr><td></td><td>Default </td><td>
  {% for cloudname in clouds.active() %}
 <input
  type="radio"
  name="field-default-cloud"
  value="{{ cloudname }}"
  id="{{ cloudname }}"
  {% if cloudname == configuration.default %}
    checked = "checked"
  {% endif %}
  onclick="document.forms['profile'].submit()"
  /> {{ cloudname }}
{% endfor %}
</td><td></td></tr>
</form>

<tr><td>{{ image_button ("right", "030_pencil", "/keys/") }}</td><td colspan="2"><b> Keys </b></td> <td> </td></tr>
<tr><td></td><td>List</td><td>
        <table>
	<tr><th>Default</th><th>Name</th><th>Fingerprint</th></tr>
        {% for name in keys.names() %}
        <tr>
	  <td>
	    {%if name == keys.get_default_key() %}
              <input type="radio"
                     name="keyselect"
                     value="dummy""
	             id="dummy"
	             checked="checked">
	    {% endif %}
	  </td>
	  <td>{{name}}</td> <td>{{keys.fingerprint(name)}}</td></tr>
	{% endfor %}
	</table>
</td><td></td></tr>


</table>


{% endblock content %}
