{% extends "layout.html" %}
{% from "_helper.html" import image_button %}g
{% block content %}

<table>
  <tr>
    <th colspan="1"> Cloud Mesh </th>  
    <th colspan="6">
      {{ image_button ("none", "365_restart", "/table/") }}
      &nbsp;
      {{ image_button ("none", "041_charts", "/table/") }}
    </th>
    <th colspan="1">
      {{ image_button ("right", "016_bin", "/cm/kill/") }}
    </th>
  </tr>
  <tr> <td> Updated </td>  <td colspan=7> {{ updated }} </td></tr>
  <tr> <td> Keynames </td> <td colspan=7> {{ keys }} </td></tr>
  <tr> <td> image </td>    <td colspan=7> {{ image }} </td></tr>
  <tr>
    <th> Name </th>
    <th> Login </th>
    <th> Info </th>
    <th> Stats </th>
    <th> IDs </th>
    <th> Status </th>
    <th> ip </th>
  </tr>
  
  {% for name, cloud in clouds.iteritems() %}
  
  <tr> 
    <th colspan="1"> {{ name }} </th> 
    <th colspan="6">
      {{ image_button ("none", "365_restart", "/cm/refresh/" + name + "/") }}
      &nbsp;
      {{ image_button ("none", "190_circle_plus", "/cm/start/" + name +"/") }}
      &nbsp;
      {{ image_button ("none", "041_charts", "/table/") }}
      &nbsp;      &nbsp;
      {{ image_button ("none", "044_keys", "/updatekeypair/" + name + "/") }}

      <input type="checkbox" name="ACTIVE" value="select"> ACTIVE
      <input type="checkbox" name="STOPPED" value="select"> STOPPED
      <input type="checkbox" name="ERROR" value="select"> ERROR
      <input type="checkbox" name="SHUTOFF" value="select"> SHUTOFF
    </th>
    <th colspan="1">
      {{ image_button ("right", "016_bin", "/cm/delete/" + name + "/") }}
    </th>
    
  </tr>
  
  {% for id, server in cloud['servers'].iteritems() %}
  
  <tr>
    <td> {{ server.name }} </td>
    <td> {{ server.cloud }}
      {{ image_button ("none", "368_collapse", "/cm/login/" + name + "/" + id + "/") }}
    </td>
    <td>
      {{ image_button ("right", "195_circle_info", "/cm/info/" + name + "/" + id + "/") }}
    </td>
   <td>
      {{ image_button ("none", "041_charts", "/cm/stats/" + name + "/" + id + "/") }}
    </td>
    
    <td> {{ server.id }} </td>
    <td> {{ server.status }} </td>
    <td> {{ server.ip }} </td>
    <td>
      {{ image_button ("right", "016_bin", "/cm/delete/" + name + "/" + id + "/") }}
    </td>
  </tr>
  
  {% endfor %}
  
  {% endfor %}
  
</table>

{% endblock %}
