{% extends "layout/layout_title.html" %}
{% from "_helper.html" import image_button %}


{% block contentbox %}

<h2> Issues in Github </h2>

{% endblock %}


{% block content %}



<script type="text/javascript">

$(function() {
     $("#bug-table").dataTable({
     	"sDom": 'C<"clear">lfrtip',
     	"oColVis": {
						"aiExclude": [ 0 ]
					},
     	"sPaginationType": "full_numbers",
     	"aLengthMenu": [[-1, 10, 25, 50, 100], ["All", 10, 25, 50, 100]],
    	"iDisplayLength": -1,
        aaSorting: [[1,'desc']],
        aoColumnDefs: [ {"bSortable": true,
        				 "sType": "numeric",
        				 "aTargets": [1]} ],

    });
});

</script>

<div>

<table id="bug-table">
 <thead>
 	<tr>
 		<td> Milestone</td>
 		<td> Status</td>
 		<td> Issue</td>
 		<td> Number</td>
 		<td> Label</td>
 	</tr>
 </thead>

<tbody>

{% for issue in issues %}
<tr>
	<td>{{issue['milestone']['title']}}</td>
	{% if issue['state'] == 'closed' %}
		<td> <span class="label label-success"> {{issue['state']}} </span> </td>
		<td><strike>
				<a href="{{issue['html_url']}}">
					{{issue['title']}}
				</a>
			</strike></td>
		<td><span class="badge"><strike> {{issue['number']}}</strike> </span> </td>
		<td>
			{% for label in issue['labels'] %}
			   <div bgcolor="#{{label['color']}}"> </span><strike>{{label['name']}}</strike></div>
			{% endfor %}
		</td>

	{% else %}
	    <td> <span class="label label-warning"> {{issue['state']}} </span> </td>
			<td>
				<a href="{{issue['html_url']}}">
					{{issue['title']}}
				</a>
			</td>
		<td><span class="badge"> {{issue['number']}} </span> </td>
		<td>
			{% for label in issue['labels'] %}
			   <div bgcolor="#{{label['color']}}"> </span>{{label['name']}}</div>
			{% endfor %}
		</td>

	{% endif %}



</tr>
{% endfor %}
</tbody>
</table>


<div>




{% endblock %}
