{% extends "layout/layout.html" %}
{% from "_helper.html" import href_image_button %}
{% from "_helper_bugs.html" import git_issues %}


{% block content %}

<legend>
Issues in Github
{{ href_image_button(None, "190_circle_plus", 'https://github.com/cloudmesh/cloudmesh/issues/new') }}
</legend>



<script type="text/javascript">

$(function() {
     $("#bug-table-all").dataTable({
     	"sDom": 'C<"clear">lfrtip',
     	"oColVis": {
						"aiExclude": [ 0 ]
					},
     	"sPaginationType": "full_numbers",
     	"aLengthMenu": [[-1, 10, 25, 50, 100], ["All", 10, 25, 50, 100]],
    	"iDisplayLength": -1,
        aaSorting: [[1,'desc']],
        aoColumnDefs: [ {"bSortable": true,
        				 "sType": "numeric",
        				 "aTargets": [1]} ],

    });
});


$(function() {
     $("#bug-table-current").dataTable({
     	"sDom": 'C<"clear">lfrtip',
     	"oColVis": {
						"aiExclude": [ 0 ]
					},
     	"sPaginationType": "full_numbers",
     	"aLengthMenu": [[-1, 10, 25, 50, 100], ["All", 10, 25, 50, 100]],
    	"iDisplayLength": -1,
        aaSorting: [[1,'desc']],
        aoColumnDefs: [ {"bSortable": true,
        				 "sType": "numeric",
        				 "aTargets": [1]} ],

    });
});

</script>


<div>
	{{ git_issues(issues, "0.7.1") }}
</div>

<div>
	{{ git_issues(issues, "0.8") }}
</div>

<div>
	{{ git_issues(issues, "2.0") }}
</div>



<div>
	{{ git_issues(issues, "all") }}
</div>



{% endblock %}
