{% extends "layout/layout.html" %}
{% from "_helper.html" import image_button %}


{% block content %}

<legend> Committers in Github </legend>


<script type="text/javascript">

$(function() {
     $("#host-table-0").dataTable({
     	"sDom": 'C<"clear">lfrtip',
     	"oColVis": {
						"aiExclude": [ 0 ]
					},
     	"sPaginationType": "full_numbers",
     	"aLengthMenu": [[-1, 10, 25, 50, 100], ["All", 10, 25, 50, 100]],
    	"iDisplayLength": -1,
        aaSorting: [[1,'desc']],
        aoColumnDefs: [ {"bSortable": true,
        				 "sType": "numeric",
        				 "aTargets": [0]} ],

    });
});

</script>

<div class="span9">

  <p>
	The code is maintained in <a href="https://github.com/cloudmesh/cloudmesh"> github</a>.</p>

  <p>
	More details are available in git:

	<table>

	<tr>
		<td>
		    <a href="https://github.com/cloudmesh/cloudmesh/issues?state=open">
		    	<img src="/static/img/splash/git-issues.png" width="100">
		    	Issues worked on
		    </a>
	    </td>
	</tr>
	<tr>
		<td>
		    <a href="https://github.com/cloudmesh/cloudmesh/graphs/contributors">
		    	<img src="/static/img/splash/git-committers.png" width="100">
		    	Recent contributors
		    </a>
	    </td>
	</tr>
	<tr>
		<td>
			<a href="https://github.com/cloudmesh/cloudmesh/graphs/commit-activity">
				<img src="/static/img/splash/git-commits.png" width="100">
				Commit Activity
			</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="https://github.com/cloudmesh/cloudmesh/graphs/code-frequency">
				<img src="/static/img/splash/git-code-frequency.png" width="100">
				Code Frequency
			</a>
		</td>
	</tr>

	<tr>
		<td>
			<a href="https://github.com/cloudmesh/cloudmesh/graphs/punch-card">
				<img src="/static/img/splash/git-punchcard.png" width="100">
				Punchcrad
			</a>
		</td>
	</tr>
	</table>


  The list of committers is depicted in the following table. However the contributions
  of some developers is far greater (such as Fugang) as some development is done in
  extreme programming and the commit is done via other developers.

  </p>
  <p>	</p>
  <table id="host-table-0">
  <thead>
  <tr>
  <th> Name </th>
  <th> Commits </th>
  </tr>
  </thead>
  <tbody>
  {% for key in authors %}
    <tr>
      <td>{{ authors[key].name }}</td>
      <td>{{ authors[key].commits }}</td>
  </tr>

  {% endfor %}
  </tbody>
</table>


<div>




{% endblock %}
