{% extends "layout/layoutTable.html" %}
{% from "_helper.html" import image_button, image_popup %}
{% from "_helper.html" import cm_state_color %}

{% block contentbox %}
<h2> {{ image_button ("none", "365_restart", "/cm/refresh/servers") }} Servers </h2>
{% endblock contentbox %}

{% block content %}

<script type="text/javascript">

function killall(cloud) {
	var answer = confirm("Delete all selected VMs in "+cloud+"?");
	if (answer){
		window.location = "/cm/delete/"+cloud+"/";
	}
}

/* http://stackoverflow.com/a/10237915 */
(function($) {
    $(function() {
        $("#servers-accordion > div").accordion({ header: "h3", collapsible: true, heightStyle: "content", active: true });

		$("input[type=number]").on("click", function(event) {
    		event.stopPropagation();
		});
    });
})(jQuery);



$(function() {
  {% for cloudnum in range(clouds|count) %}
    $("#cloud-table-{{ cloudnum }}").dataTable({
    	"aLengthMenu": [[-1, 10, 25, 50, 100], ["All", 10, 25, 50, 100]],
    	"iDisplayLength": 25,
    	"sPaginationType": "full_numbers",
    	"sDom": 'CR<"clear">lftipr',
        "oColVis": {
            "aiExclude": [ 0 ],
            "sAlign": "center"
        },
        "fnDrawCallback": function(o) {
            var nColVis = $('div.ColVis', o.nTableWrapper)[0];
            nColVis.align = "right";
            nColVis.style.paddingBottom = "15px";
        },
        aaSorting: [[1,'asc']],
        aoColumnDefs: [ {"bSortable": false, "aTargets": [0]} ]
    });
  {% endfor %}
});

function toggle(source,select_list) {
  checkboxes = document.getElementsByName(select_list);
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}

</script>

 <!--
    for cloud in clouds:
        print cloud
        for server in clouds[cloud]:
            print server
            for attribute in clouds[cloud][server]:
                print attribute, clouds[cloud][server][attribute]
-->




<div id="servers-accordion">
  {% for cloud in clouds %}
  <div style="margin-bottom:1em;">
    <h3>

    	{{ image_button ("none", "365_restart", "/cm/refresh/" + cloud + "/servers") }}

      	&nbsp;
      	{{ cloud }}
        <span class="badge"> {{ clouds[cloud] |count }} </span> VMs
      	&nbsp;
      	{{ image_button ("none", "190_circle_plus", "/cm/start/" + cloud +"/") }}
      	<input name="vms" id="vms" value ="1" min="1" max="1" maxlength="4" size="4" type="number">
      	&nbsp;
      	{{ image_popup ("none", "041_charts", "/stats/table/count/weekly/" + cloud + "/") }}
      	&nbsp;
      	{{ image_button ("none", "044_keys", "/cm/keypairs/" + cloud + "/") }}
	</h3>
    <div>

	{% set flavor_id = user.defaults.flavors[cloud] %}
    {% set image_id = user.defaults.images[cloud] %}

	<p>
		Defaults:
	{% if image_id in images[cloud] %}
	    <a href="/mesh/images"> Image: <span class="badge">{{images[cloud][image_id]['name']}} </span></a>
    {% else %}
	    <a href="/mesh/images"> Image: <span class="badge"> undefined </span></a>
    {% endif %}
    {% if flavor_id in flavors[cloud] %}
	    <a href="/mesh/flavors">Flavor: <span class="badge">{{flavors[cloud][flavor_id]['name']}} </span></a>
    {% else %}
	    <a href="/mesh/images"> Image: <span class="badge"> undefined </span></a>
	{% endif %}
    <a href="/profile"> last vm name: <span class="badge">{{user.defaults.prefix}}_{{user.defaults.index}} </span></a>
	</p>
	<form name = "selector_form_{{cloud}}" method = "post">
    <input type ="hidden" name = "cloud" value = "{{cloud}}"/>

    <table id="cloud-table-{{ loop.index0 }}" >
      <thead>
          <tr>
          	<th><input type="checkbox" name="all" onClick="toggle(this,'selection')" /> </th>
	      	<th width="100"></th>
            {% for attribute in attributes %}
                  <th>{{attribute}}</th>
            {% endfor %}
          </tr>
      </thead>
      <tbody>
          {% for server in clouds[cloud] %}
             {% set s_id = clouds[cloud][server]['id'] %}
             <tr>
             	<td><input type="checkbox" name="selection" value = {{server}} /> </td>
             	<td>
             	 	{{ image_button ("none", "368_collapse", "/cm/login/" ~ cloud ~ "/" ~ s_id ~ "/") }}
	  				{{ image_button ("right", "195_circle_info", "/cm/info/" ~ cloud ~ "/" ~ s_id ~ "/") }}
	  				<a href="/cm/assignpubip/{{cloud}}/{{s_id}}/">  IP </a>
	  				{{ image_button ("none", "041_charts", "/cm/stats/" ~ cloud ~ "/" ~ s_id ~ "/") }}
	  				{{ image_button ("right", "016_bin", "/cm/delete/" ~ cloud + "/" ~ s_id ~ "/") }}
             	 </td>
                 <!-- for attribute in clouds[cloud][server] -->
                 {% for attribute in attributes %}
                      {% if attribute == "created" %}
                          <td>{{ clouds[cloud][server][attribute] }}</td>

					  {% elif attribute == "status"%}
					      <td> {{ cm_state_color(clouds[cloud][server][attribute]) }}</td>

                      {% elif attribute == "flavor" %}
                      	{% set id = clouds[cloud][server][attribute]['id'] %}
                          <td> {% if id in flavors[cloud] %}
                                {{flavors[cloud][id]['name']}}
                               {% else %}
                                Flavor not available anymore!
                               {% endif %}
                          </td>

                      {% elif attribute == "image" %}
                      	{% set id = clouds[cloud][server][attribute]['id'] %}
                          <td> {% if id in images[cloud] %}
                                {{images[cloud][id]['name']}}
                               {% else %}
                                Image not available anymore!
                               {% endif %}
                          </td>

                      {% elif attribute == "addresses" %}
                          <td>{{ address_string(clouds[cloud][server][attribute]) }}</td>
                      {% else %}
                          <td>{{ clouds[cloud][server][attribute]  }}</td>
                      {% endif %}
                 {% endfor %}
             </tr>
          {% endfor %}
      </tbody>
    </table>
    <br>
    <input type = "image" src = "/static/img/icons/png/glyphicons_016_bin.png" alt = "delete" value = "delete" formaction = "/cm/delete_vm_confirm"/>
   </form>
    </div>
  </div>
  {% endfor %}
</div>


{% endblock %}
