{% extends "layout/layoutTable.html" %}
{% from "_helper.html" import image_button %}
{% from "_helper.html" import cm_state_color %}

{% block contentbox %}
<h2> {{ image_button ("none", "365_restart", "/cm/refresh/images") }} Images </h2>
{% endblock %}

{% block content %}
<script type="text/javascript">

/* http://stackoverflow.com/a/10237915 */
(function($) {
    $(function() {
        $("#images-accordion > div").accordion({ header: "h3",
        										 collapsible: true,
        										 heightStyle: "content",
        										 active: false });
    });
})(jQuery);


$(function() {
  {% for cloudnum in range(clouds|count) %}
    $("#cloud-table-{{ cloudnum }}").dataTable({
    	"aLengthMenu": [[-1, 10, 25, 50, 100], ["All", 10, 25, 50, 100]],
    	"iDisplayLength": 25,
    	"sPaginationType": "full_numbers",
    	"sDom": 'CR<"clear">lftipr',
    	"oColVis": {
            "aiExclude": [ 0 ],
            "sAlign": "center"
        },
        "fnDrawCallback": function(o) {
            var nColVis = $('div.ColVis', o.nTableWrapper)[0];
            nColVis.align = "right";
            nColVis.style.paddingBottom = "15px";
        },
        aaSorting: [[1,'asc']],
        aoColumnDefs: [ {"bSortable": false, "aTargets": [0]} ]
    });
  {% endfor %}
});

</script>

 <!--
    for cloud in clouds:
        print cloud
        for server in clouds[cloud]:
            print server
            for attribute in clouds[cloud][server]:
                print attribute, clouds[cloud][server][attribute]
-->


<div id="images-accordion">
  {% for cloud in clouds %}
    {% set cloud_loop = loop %}
    {% set version = clouds[cloud]['cm_type_version'] %}

  <div style="margin-bottom:1em;">
  <h3>
  	{{ image_button ("none", "365_restart", "/cm/refresh/" + cloud + "/images") }}
  	{{ cloud }}
	 <span class="badge"> {{ clouds[cloud] |count }} </span> Images
  </h3>
  <div>

	{% if (clouds[cloud].keys() | count) == 0 %}

		No images found. Please refresh.

    {% else %}

	  	{% set cloud_type = clouds[cloud][clouds[cloud].keys()[0]]['cm_type'] %}

    {% set attributes = cloud_attributes[cloud_type]%}


  	 <form name = "image_{{cloud}}" method = 'POST' action = "/mesh/images/">
    <input type = hidden name = "cloud" value = "{{cloud}}"/>
    <table id="cloud-table-{{ loop.index0 }}">
      <thead>
          <tr>
            <th>default</th>
            {% for attribute in attributes %}
              <th>{{attribute [0] }}</th>
            {% endfor %}
          </tr>
      </thead>
      <tbody>
          {% for image in clouds[cloud] %}
            {% set version = clouds[cloud][image]['cm_type'] %}
            {% set attributes = cloud_attributes[version]%}
             <tr>
                 <td>
                 	<input type="radio"
               	name="default_image"
               	{% if image == user.defaults.images[cloud] %}
					checked = checked
				{%endif%}
               	value = {{image}}
				onclick = "document.forms['image_{{cloud}}'].submit()"/></td>
                 {% for attribute in attributes  %}
                      <td>
                          {% set l = attribute | length %}

                          {% if l == 2%}
                             {% if attribute[0] in ['status'] %}
                             	{{ cm_state_color(clouds[cloud][image][attribute[1]]) }}
    						 {% else %}
	                          	{{ clouds[cloud][image][attribute[1]] }}
    						 {% endif %}
                          {% elif l == 3%}
	                          {% if attribute[0] in ['state'] %}
	                             {{ cm_state_color(clouds[cloud][image][attribute[1]][attribute[2]]) }}
	                          {% else %}
    	                         {{ clouds[cloud][image][attribute[1]][attribute[2]] }}
    	                      {% endif %}
                          {% elif l == 4%}
                             {{ clouds[cloud][image][attribute[1]][attribute[2]][attribute[4]] }}
                          {% endif %}
                      </td>
                 {% endfor %}

             </tr>

	    {%- if cloud == "aws" and loop.index >= 200 %}{% break %}{% endif %}
          {% endfor %}
      </tbody>
    </table>
	 {% endif %}
  </form>
  </div>
  </div>
  {% endfor %}

</div>


{% endblock %}
