{% extends "layout.html" %}

{% block content %}

<h2>List of dynamic pages</h2>

<ul>
{% for page in sidebar_pages %}
  <li>
    <a href="{{sidebar_pages[page].url}}">{{sidebar_pages[page].name}}</a>
  </li>
{% endfor %}
</ul>
      
<h2>List of static pages</h2>

<ul>
  {% for page in pages %}
    <li>
      <a href="{{ url_for("page", path=page.path) }}">{{ page.title }}</a>
    </li>
  {% else %}
    <li>No static pages found.</li>
  {% endfor %}
</ul>

{% endblock content %}

{% block contentsmall11 %}

<h1>Cloud</h1>

hallo

<p><a class="btn" href="#">View details &raquo;</a></p> 
{% endblock contentsmall11 %}

{% block contentsmall12 %}

<h1>HPC</h1>

hallo

<p><a class="btn" href="#">View details &raquo;</a></p> 
{% endblock contentsmall12 %}

{% block contentsmall13 %}

<h1>Test</h1>

hallo

<p><a class="btn" href="#">View details &raquo;</a></p> 
{% endblock contentsmall13 %}