{% extends "layout_title.html" %}
{% from "_helper.html" import image_button %}

{% block contentbox %}
<h1> Inventory Images </h1>
 Details for image {{image.name }}
{% endblock contentbox %}


{% block content %}

<script type="text/javascript">

</script>


<hr>
<table>
  <tr>
    <th>Attribute</th>
    <th>Value</td>
  </tr>

 <tr>
    <td> Name      </td><td> {{ image.name }}       </td>
 </tr>
 <tr>
    <td> OS Image  </td><td> {{ image.osimage}}     </td>
 </tr>
 <tr>
    <td> Kernel    </td><td> {{ image.kernel}}      </td>
 </tr>
 <tr>
    <td> Partition </td><td> {{ image.partition_scheme }}  </td>
 </tr>
 <tr>
    <td> Method    </td><td> {{ image.method }}     </td>
 </tr>
 <tr>
    <td> Ramdisk   </td><td> {{ image.ramdisk }}    </td>
 </tr>
 <tr>
    <td> Grub      </td><td> {{ image.grub }}       </td>
 </tr>
 <tr>
    <td> Rootpass  </td><td> {{ image.rootpass }}   </td>
 </tr>

</table>


{% endblock %} 

