{% extends "layout.html" %}
{% from "_helper.html" import image_button %}g
{% block content %}

<script type="text/javascript">

function change_service(server_name, service_name) {
	var answer = confirm("Change the status of the " + server_name + " to " + service_name + "?")
	if (answer) {
        $.ajax("/inventory/set/service/",
                { type: 'POST',
                  data: { server: server_name, service: service_name },
                  complete: function () { window.location.reload(); } } );
    }
}

$(function() {
        /** This code runs when everything has been loaded on the page */
        /* Inline sparklines take their values from the contents of the tag */
        $('.inlinesparkline').sparkline();


});


</script>

	  
{{ cluster.name }} {{ name }}


{% endblock %} 


