{% extends "layout.html" %}
{% from "_helper.html" import image_button %}
{% block content %}

<table>
<th>  {{ image_button ("center","195_circle_info","/inventory/") }}
List of all clusters</th>
</table>
 <hr>
{% for cluster in inventory.clusters |sort(attribute='name') %}
{# % set server = cluster.management_node  % #}

<table width = 55%, height = 60%>
  <tr>
     <th colspan="{{ parameters.columns }}">
       {{ image_button ("center","195_circle_info","/inventory/cluster/"+ cluster.name + "/") }}
       {{ image_button ("center","119_table","/inventory/cluster/table/"+ cluster.name + "/") }}

       Cloudmesh - Inventory for {{ cluster.name }}
     </th>
 </tr>
 <tr>
     <td  colspan="{{ parameters.columns }}"> 
      Updated :  {{ updated }}
     </td>
 </tr>
 <tr>

      {% for server in cluster.servers | sort(attribute='name')  %}
        <td {{server.status | state_style | safe}}>
	   		<a href="/inventory/cluster/{{ cluster.name }}/{{server.name}}"> 
		  		{{ server.name | only_numbers | safe}}
		  	</a>
      </td>
        {% if (loop.index) %(parameters.columns) == 0  %}	
 		        </tr><tr>
	{% endif %}
        {% endfor %}
 </tr>
</table>
{% endfor %}
{% endblock %} 

