{% extends "layout_title.html" %}
{% from "_helper.html" import image_button %}


{% block contentbox %}
<h2> Inventory Table </h2>
{% endblock contentbox %}

{% block content %}

<script type="text/javascript">
/* http://stackoverflow.com/a/10237915 */
(function($) {
    $(function() {
        $("#cluster-accordion > div").accordion({ header: "h3", collapsible: true, active: false });
    })
})(jQuery);
</script>


<div class="span9">
<table>
<th>  {{ image_button ("center","195_circle_info","/inventory/") }}
List of all clusters</th>
</table>
 <hr>

<div id="cluster-accordion">
{% for cluster in inventory.clusters |sort(attribute='name') %}
{# % set server = cluster.management_node  % #}
  <div style="margin-bottom:1em;">
  <h3>
    {{ image_button ("center","195_circle_info","/inventory/cluster/"+ cluster.name + "/") }}
    {{ image_button ("center","119_table","/inventory/cluster/table/"+ cluster.name + "/") }}
    Cloudmesh - Inventory for {{ cluster.name }}
  </h3>

<table width="55%">
 <tr>
     <td  colspan="{{ parameters.columns }}"> 
      Updated :  {{ updated }}
     </td>
 </tr>
 <tr>

      {% for server in cluster.servers | sort(attribute='name')  %}
        <td {{server.status | state_style | safe}}>
	   		<a href="/inventory/cluster/{{ cluster.name }}/{{server.name}}"> 
		  		{{ server.name | only_numbers | safe}}
		  	</a>
      </td>
        {% if (loop.index) %(parameters.columns) == 0  %}	
 		        </tr><tr>
	{% endif %}
        {% endfor %}
 </tr>
</table>
  </div>
{% endfor %}
</div>
</div>
{% endblock %} 

