{% extends "layout.html" %}
{% from "_helper.html" import image_button %}


{% block contentbox %}
<h2> Inventory Images </h2>
{% endblock contentbox %}

{% block content %}



<hr>
<table>
  <tr>
	<th> Name </th>
	<th> Labels </th>
	<th> Tags </th>
	<th> Groups </th>
	<th> Cluster </th>
	<th> Status </th>
	<th> Date created </th>
	<th> Date modified </th>
  </tr>
  {% for names in images %}
  <tr>
	<td> <a href = "/inventory/image/{{names.name}}">{{names.name}} </a></td>
	<td> {{", ". join(names.labels)}} </td>
	<td> {{", ". join(names.tags)}} </td>
	<td> {{", ". join(names.groups)}} </td>
	<td> 

	{% for cluster in inventory.clusters %}
	  {% for image in inventory.images %}
	    {% if image.name == names.name %}
	       <a href="/inventory/cluster/{{ cluster.name }}/">{{ cluster.name }} </a>
	    {% endif %}
	  {% endfor %}
	{% endfor %}
	</td>

	<td> {{names.status}} </td>
	<td> {{names.date_creation | simple_date }} </td>
	<td> {{names.date_modified | simple_date}} </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}









