{% extends "layout.html" %}
{% from "_helper.html" import image_button %}
{% block content %}


<h1> Inventory Images </h1>
<hr>
<table>
  <tr>
	<th> Name </th>
	<th> Labels </th>
	<th> Tags </th>
	<th> Groups </th>
	<th> Cluster </th>
	<th> Status </th>
	<th> Date created </th>
	<th> Date modified </th>
  </tr>
  {% for names in images %}
  <tr>
	<td> <a href = "/inventory/image/{{names.name}}">{{names.name}} <a></td>
	<td> {{", ". join(names.labels)}} </td>
	<td> {{", ". join(names.tags)}} </td>
	<td> {{", ". join(names.groups)}} </td>
	<td> {{names.cluster}} </td>
	<td> {{names.status}} </td>
	<td> {{names.date_creation}} </td>
	<td> {{names.date_modified}} </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}









