{% extends "layout.html" %}
{% from "_helper.html" import image_button %}g
{% block content %}

<script type="text/javascript">

function change_service(server_name, service_name) {
	var answer = confirm("Change the status of the " + server_name + " to " + service_name + "?")
	if (answer) {
        $.ajax("/inventory/set/service/",
                { type: 'POST',
                  data: { server: server_name, service: service_name },
                  complete: function () { window.location.reload(); } } );
    }
}

$(function() {
        /** This code runs when everything has been loaded on the page */
        /* Inline sparklines take their values from the contents of the tag */
        $('.inlinesparkline').sparkline();


});


</script>

{% set cols = parameters.col %}
{% set rows = parameters.row %}


HALLO
{{ parameters }}
<table>
  <tr>
    <th colspan="{{ parameters.columns }}"> Cloudmesh - Inventory for {{ cluster.name }}</th></tr>
  <tr> <td colspan="{{ parameters.columns }}"> Updated {{ updated }}
<tr>
{% for server in cluster.compute_nodes|sort(attribute='name')  %}

{% if loop.index %10 != 0  %}	
	{{loop.index}}

	{% if server.status=="active" %}
           {% set cellstyle="background:#336600; font:bold" %}
	{% else %}
           {% set cellstyle="background:#FFCC99; font:bold" %}
  	{% endif %}
        <td style="{{ cellstyle }}">
	  
	  <a href="/inventory/cluster/{{ cluster.name }}/{{ server.name }}"> 
		  {{ server.name }}
	</td>


{% else %}
	</tr>
	<tr>
{% endif %}
{% endfor %}
</tr>


</table>


{% endblock %} 


