{% extends "layout.html" %}
{% block title %}Sign in{% endblock %}

{% block content %}
  <h2>Sign in</h2>
  <form action="" method=post>
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}</p>{% endif %}
    <p>
      <a href="https://sso.futuregrid.org/openidserver/op"> FutureGrid OpenID </a><br>

      FutureGrid Username:

      <input type=hidden name=openid value="https://sso.futuregrid.org/openidserver/op" size=60><br>
<!--      <input type=hidden name=openid value="https://www.google.com/accounts/o8/id" size=30> -->

      <input type=text name=userid size=60><br>
      <input type=submit value="Login" onclick="return checkform()"><br>
      <input type=hidden name=next value="{{ next }}">
  </form>




<script type="text/javascript">

    function checkform() 
    { 
        var username=document.getElementById('usernameID').value; 
        username=username.trim(); 
        document.getElementById('usernameID').value=username; 

        var openid= "https://sso.futuregrid.org/openidserver/users/" + document.getElementById('usernameID').value; 
        document.getElementsByName('openid')[0].value=openid; 


        return true; 
    }

      String.prototype.trim = function () 
     { 
         return this.replace(/^\s*/, "").replace(/\s*$/, "");

     }

    </script>

{% endblock %}


