{% extends "layout.html" %}
{% block title %}Sign in{% endblock %}

{% block content %}
  <h2>Sign in</h2>
  <form action="" method=post>
    {% if form.error %}<p class=error><strong>Error:</strong> {{ form.error }}</p>{% endif %}
    <p>
      {{ form.username.label}}
      {{ form.username }}
    <p>
    <p>
       {{ form.password.label }}
       {{ form.password }}
    </p>
      <input type=submit value="Login">
      <input type=hidden name=next value="{{ next }}">
  </form>


{% endblock %}


