<div class="well sidebar-nav">
<ul class="nav nav-list">

<li class="nav-header">Management</li>

<li class="nav-header">Application</li>
<li><a href="/m/user/apply">User</a></li>
<li><a href="/m/project/apply">Project</a></li>

<li class="nav-header">Users</li>
<li><a href="/m/user/apply">Apply</a></li>
<li><a href="/m/user/list">List *</a></li>
<li><a href="/m/user/manage">Manage * </a></li>

<li class="nav-header">Projects</li>
<li><a href="/m/project/apply">Apply</a></li>
<li><a href="/m/project/list">List * </a></li>
<li><a href="/m/project/manage">Manage * </a></li>
<li><a href="/m/project/results">Results</a></li>
<li><a href="/m/project/members">Members</a></li>
</ul>
</div>


<div class="well sidebar-nav">
<ul class="nav nav-list">
  <li class="nav-header">Management</li>
  <li> <a href="/">Home</a></li>
  <li><a href="/status">Status</li></a>
  <li><a href="/profile/">Profile</li></a>	    
</ul>
</div>

<div class="well sidebar-nav">
<ul class="nav nav-list">

    <li class="nav-header">Clouds</li>

    <li> <a href="/cm/refresh"><i class="fa fa-repeat"></i></a></li>
    <ul>
    <li><a href="/mesh/servers">VMs</a></li>
    <li><a href="/mesh/images">Images</a></li>
    <li><a href="/mesh/flavors/">Flavors</a></li>
    <li><a href="/mesh/register/clouds">Register</a></li>
    </ul>
    
    <li class="nav-header">HPC</li>    
    <li><a href="/mesh/refresh/qstat"> <i class="fa fa-repeat"></i> </a></li>
    <ul>    
    <li><a href="/mesh/qstat">Jobs</a></li>
    <li><a href="/mesh/qinfo">Queues Info</a></li>
    <li><a href="/inventory/rack">Rack Diagram</a></li>
    </ul>
</ul>
</div>
	    

<div class="well sidebar-nav">
<ul class="nav nav-list">
  <li class="nav-header">Admin</li>

  <li><a href="/admin">Home</a></li>        

  <li class="nav-header">Users</li>    
  <ul>
    <li><a href="/users/ldap">LDAP </a></li>
    <li><a href="/mesh/users/">Cloud</a></li>
  </ul>         

  <li class="nav-header">Inventory</li>    
  <ul>
    <li><a href="/inventory/">Overview</a></li>
    <li><a href="/inventory/summary">Table</a></li>
  </ul>  

  <li class="nav-header">Baremetal</li>
  <ul>
    <li><a href="/baremetal/user/request">Request</a></li>
    <li><a href="/baremetal/user/provision">Provision</a></li>
  </ul>

  <li class="nav-header">Provision</li>    
  <ul>
    <li><a href="/provision/policy">Policy</a></li>
    <li><a href="/provision/summary/">Overview</a></li>
    <li><a href="/provision/">Form</a></li>
    <li><a href="/provision/baremetal/users">Users</a></li>
    <li><a href="/provision/baremetal/computers">Computers</a></li>
  </ul>
  <li class="nav-header">Cobbler</li>
  <ul>
    <li><a href="/cobbler/distros">Distro</a></li>
    <li><a href="/cobbler/profiles">Profile</a></li>
    <li><a href="/cobbler/systems">System</a></li>
    <li><a href="/cobbler/kickstarts">Kickstart</a></li>
  </ul>
</ul>
</div>
    
<div class="well sidebar-nav">
<ul class="nav nav-list">
  <li class="nav-header">Admin Launcher</li>
  <li><a href="/cm/launch">Launcher</a></li>
  <li><a href="/cm/register" >Register</a></li>
</ul>
</div>
        
<div class="well sidebar-nav">
<ul class="nav nav-list">
<li class="nav-header">Management</li>
<li><a href="/">Home</a></li>
</ul>
</div>

<div class="well sidebar-nav">
<ul class="nav nav-list">
<li class="nav-header">Cloudmesh</li>
<li><a href="http://cloudmesh.futuregrid.org/cloudmesh/"> Documentation</a></li>
<li><a href="http://futuregrid.org">FutureGrid</a></li>
<li><a href="http://gregor.cyberaide.org">Contact</a></li>
</ul>
</div>



<div class="well sidebar-nav">
<ul class="nav nav-list">
  <li class="nav-header">Cloudmesh</li>
  <li><a href="https://portal.futuregrid.org">FutureGrid</a></li>
  <ul>
    <li><a href="http://manual.futuregrid.org">Manual</a></li>
  </ul>
  <li><a href="http://cloudmesh.futuregrid.org">Cloudmesh</a></li>
<ul>
  <li><a href="https://github.com/cloudmesh/cloudmesh">Source</a></li>
  <li><a href="/bugs">Bugs</a></li>
  <li><a href="/git">Git</a></li>
  <li><a href="http://cloudmesh.blogspot.com">Blog</a></li>
</ul>
</ul>
</div>
