{% extends "layoutTable.html" %}
{% from "_helper.html" import image_button %}
{% from "_helper.html" import cm_state_color %}

{% block contentbox %}
<h2> {{ image_button ("none", "365_restart", "/cm/refresh/servers") }} Servers </h2>
{% endblock contentbox %}

{% block content %}

<script type="text/javascript">

function killall(cloud) {
	var answer = confirm("Delete all selected VMs in "+cloud+"?");
	if (answer){
		window.location = "/cm/delete/"+cloud+"/";
	}
}

/* http://stackoverflow.com/a/10237915 */
(function($) {
    $(function() {
        $("#servers-accordion > div").accordion({ header: "h3", collapsible: true, heightStyle: "content", active: false });
    });
})(jQuery);

$(function() {
  {% for cloudnum in range(clouds|count) %}
    $("#cloud-table-{{ cloudnum }}").dataTable({
    	"aLengthMenu": [[-1, 10, 25, 50, 100], ["All", 10, 25, 50, 100]],
    	"iDisplayLength": 25,
    	"sPaginationType": "full_numbers",
    	"sDom": 'CR<"clear">lftipr',
        "oColVis": {
            "aiExclude": [ 0 ],
            "sAlign": "center"
        },
        "fnDrawCallback": function(o) {
            var nColVis = $('div.ColVis', o.nTableWrapper)[0];
            nColVis.align = "right";
            nColVis.style.paddingBottom = "15px";
        },
        aaSorting: [[1,'asc']],
        aoColumnDefs: [ {"bSortable": false, "aTargets": [0]} ]
    });
  {% endfor %}
});

</script>

 <!--
    for cloud in clouds:
        print cloud
        for server in clouds[cloud]:
            print server
            for attribute in clouds[cloud][server]:
                print attribute, clouds[cloud][server][attribute]
-->




<div id="servers-accordion">
  {% for cloud in clouds %}
  <div style="margin-bottom:1em;">
    <h3>
    	{{ image_button ("none", "365_restart", "/cm/refresh/" + cloud + "/servers") }}
      	&nbsp;
      	{{ image_button ("none", "190_circle_plus", "/cm/start/" + cloud +"/") }}
      	&nbsp;
      	{{ image_button ("none", "041_charts", "/table/") }}
      	&nbsp;
      	{{ image_button ("none", "044_keys", "/updatekeypair/" + cloud + "/") }}
      	{{ cloud }}
    </h3>
    <div>
    <table id="cloud-table-{{ loop.index0 }}" >
      <thead>
          <tr>
	      	<th width="100"></th>

            {% for attribute in attributes %}
                  <th>{{attribute}}</th>
            {% endfor %}
          </tr>
      </thead>
      <tbody>
          {% for server in clouds[cloud] %}
             {% set s_id = clouds[cloud][server]['id'] %}
             <tr>
             	<td>
             	 	{{ image_button ("none", "368_collapse", "/cm/login/" + cloud + "/" + s_id + "/") }}
	  				{{ image_button ("right", "195_circle_info", "/cm/info/" + cloud + "/" + s_id + "/") }}
	  				<a href="/cm/assignpubip/{{cloud}}/{{s_id}}/">  IP </a>
	  				{{ image_button ("none", "041_charts", "/cm/stats/" + cloud + "/" + s_id + "/") }}
	  				{{ image_button ("right", "016_bin", "/cm/delete/" + cloud + "/" + s_id + "/") }}
             	 </td>
                 <!-- for attribute in clouds[cloud][server] -->
                 {% for attribute in attributes %}
                      {% if attribute == "created" %}
                          <td>{{ clouds[cloud][server][attribute] }}</td>
					  {% elif attribute == "status"%}
					      <td> {{ cm_state_color(clouds[cloud][server][attribute]) }}</td>
                      {% elif attribute == "flavor" %}
                          <td>{{ clouds[cloud][server][attribute]['id'] }}</td>
                      {% elif attribute == "addresses" %}
                          <td>{{ address_string(clouds[cloud][server][attribute]) }}</td>
                      {% else %}
                          <td>{{ clouds[cloud][server][attribute]  }}</td>
                      {% endif %}
                 {% endfor %}
             </tr>
          {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
  {% endfor %}
</div>


{% endblock %}
