{% extends "layout.html" %}
{% from "_helper.html" import image_button %}
{% block content %}

<script type="text/javascript">

function killall(cloud) {
	var answer = confirm("Delete all selected VMs in "+cloud+"?")
	if (answer){
		window.location = "/cm/delete/"+cloud+"/";
	}
}

</script>

 <!--
    for cloud in clouds:
        print cloud
        for server in clouds[cloud]:
            print server
            for attribute in clouds[cloud][server]:
                print attribute, clouds[cloud][server][attribute]
-->

<table>

    
    {% for cloud in clouds %}
        {% set version = clouds[cloud]['cm_type_version'] %}
		{% set attributes = cloud_attributes['grizzly']%}
	  	<tr>
			<th colspan="{{ attributes|length }}">{{ cloud }}</th>
		</tr>
		<tr>
		  {% for attribute in attributes %}	
		  		<th>{{attribute [0] }}</th>
		  {% endfor %}			
		</tr>
        
	    {% for image in clouds[cloud] %}
	    {% set version = clouds[cloud][image]['cm_type_version'] %}
	    {% set attributes = cloud_attributes[version]%}
	       <tr>
		       {% for attribute in attributes  %}
        			<td>
        				{% set l = attribute | length %}
        				
        				{% if l == 2%}
        				   {{ clouds[cloud][image][attribute[1]] }}
         				{% elif l == 3%}
        				   {{ clouds[cloud][image][attribute[1]][attribute[2]] }}       				
         				{% elif l == 4%}
        				   {{ clouds[cloud][image][attribute[1]][attribute[2]][attribute[4]] }}
                        {% endif %}
        			</td> 
    		   {% endfor %}

	       </tr>
	    
	    {% endfor %}
          
  {% endfor %}
  
</table>

{% endblock %}
