{% extends "layout.html" %}
{% from "_helper.html" import image_button %}
{% block content %}

<script type="text/javascript">

function killall(cloud) {
	var answer = confirm("Delete all selected VMs in "+cloud+"?")
	if (answer){
		window.location = "/cm/delete/"+cloud+"/";
	}
}

/* http://stackoverflow.com/a/10237915 */
(function($) {
    $(function() {
        $("#flavors-accordion > div").accordion({ header: "h3", collapsible: true, active: false });
    })
})(jQuery);

$(function() {
  {% for cloud in clouds %}
    $("#cloud-table-{{ loop.index }}").tablesorter();
  {% endfor %}
});

</script>

 <!--
    for cloud in clouds:
        print cloud
        for server in clouds[cloud]:
            print server
            for attribute in clouds[cloud][server]:
                print attribute, clouds[cloud][server][attribute]
-->


<div id="flavors-accordion">
  {% for cloud in clouds %}
  <div style="margin-bottom:1em;">
  <h3>{{ cloud }}</h3>
    <table id="cloud-table-{{ loop.index }}" class="tablesorter" >
      <thead>
          <tr>
            <!-- for attribute in clouds[cloud][flavor]  --> 
            {% for attribute in attributes %}	
                  <th>{{attribute}}</th>
            {% endfor %}			
          </tr>
      </thead>
      <tbody>
          {% for flavor in clouds[cloud] %}

             <tr>
                 <!-- for attribute in clouds[cloud][flavor] --> 
                 {% for attribute in attributes  %}
                      <td>{{ clouds[cloud][flavor][attribute]  }}</td>
                 {% endfor %}

             </tr>

          {% endfor %}
      </tbody>
    </table>
  </div>
  {% endfor %}
</div>
  

{% endblock %}
