{% extends "layout_title.html" %}
{% from "_helper.html" import image_button %}
{% from "_helper.html" import cm_boolean_color %}

{% block contentbox %}
<h1> Register </h1>
{% endblock contentbox %}

{% block content %}

<table>
    <form name="profile" action="/profile/" method="POST">
        <tr>
            <th colspan="1"><b> Clouds </b></th>
            <th></th>
            <th style="text-align: right">
           	  	{{ image_button ("none", "044_keys", "/updatekeypair/" + "hp" + "/") }}
            	Verified
            </th>
        </tr>
        <tr>
            <th colspan="1">
            <input type="checkbox" style="margin-right: 5px; vertical-align: middle;margin-bottom: 5px;">
            sierra_openstack_grizzly</th>
            <th></th>
            <th style="text-align: right">
            	  	{{ image_button ("none", "044_keys", "/updatekeypair/" + "sierra_openstack_grizzly" + "/") }}
            	{{cm_boolean_color('unknown')}}
            </th>
        </tr>
        <tr>
            <td style="text-align: right"> Username:</td>
            <td colspan="2">
            <input id="sierraUname" valign="middle" type="text" name="sierraUname"
            value="psjoshi" disabled="disabled"
            style="margin-bottom: 5px; margin-top: 5px;">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">Password:</td>
            <td colspan="2"><form>
                <input id="sierraPassword" valign="middle" type="password" name="sierraPassword"
                value="" autocomplete="off" placeholder="Password"
                style="margin-bottom: 5px; margin-top: 5px;">
                <input type="button" id="toggle_sierraPassword" value="T" style="display:inline" onclick="toggle_PasswordFieldClicked()"/>
            </form></td>
        </tr>
        <tr>
            <th colspan="1">
            	<input type="checkbox" style="margin-right: 5px; vertical-align: middle;margin-bottom: 5px;">
            	HP
            	&nbsp;
            	<input type="checkbox" style="margin-right: 5px; vertical-align: middle;margin-bottom: 5px;">
            	HP East
            </th>
            <th></th>
            <th style="text-align: right">
            	{{ image_button ("none", "044_keys", "/updatekeypair/" + "hp" + "/") }}
            	{{cm_boolean_color('verified')}}
            </th>
        </tr>
        <tr>
            <td  style="text-align: right"> Username:</td>
            <td colspan="2">
            <input id="hpUname" valign="middle" type="text" name="hpUname"
            value="psjoshi" disabled="disabled"
            style="margin-bottom: 5px; margin-top: 5px;">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">Password:</td>
            <td colspan="2"><form>
                <input id="hpPassword" valign="middle" type="password" name="hpPassword"
                value="" autocomplete="off" placeholder="Password"
                style="margin-bottom: 5px; margin-top: 5px;">
                <input type="button" id="toggle_hpPassword" value="T" style="display:inline" onclick="toggle_PasswordFieldClicked()"/>
            </form></td>
        </tr>
        <tr>
            <th colspan="1">
            <input type="checkbox" style="margin-right: 5px; vertical-align: middle;margin-bottom: 5px;">
            AWS</th>
            <th></th>
            <th style="text-align: right">
           	  	{{ image_button ("none", "044_keys", "/updatekeypair/" + "aws" + "/") }}
            	{{cm_boolean_color('verified')}}
            </th>
        </tr>
        <tr>
            <td  style="text-align: right"> Username:</td>
            <td colspan="2">
            <input id="awsUname" valign="middle" type="text" name="awsUname"
            value="psjoshi" disabled="disabled"
            style="margin-bottom: 5px; margin-top: 5px;">
            </td>
        </tr>
        <tr>
            <td style="text-align: right">Access Key:</td>
            <td colspan="2"><form>
                <input id="awsAccessKey" valign="middle" type="password" name="awsAccessKey"
                value="" autocomplete="off" placeholder="Password"
                style="margin-bottom: 5px; margin-top: 5px;">
                <input type="button" id="toggle_awsAccessKey" value="T" style="display:inline" onclick="toggle_PasswordFieldClicked()"/>
            </form></td>
        </tr>
        <tr>
            <td style="text-align: right">Secret Access Key:</td>
            <td colspan="2"><form>
                <input id="awsSecretAccessKey" valign="middle" type="password" name="awsSecretAccessKey"
                value="" autocomplete="off" placeholder="Password"
                style="margin-bottom: 5px; margin-top: 5px;">
                <input type="button" id="toggle_awsSecretAccessKey" value="T" style="display:inline" onclick="toggle_PasswordFieldClicked()"/>
            </form></td>
        </tr>
        <tr>
            <th colspan="1">
            <input type="checkbox" style="margin-right: 5px; vertical-align: middle;margin-bottom: 5px;">
            Azure</th>
            <th></th>
            <th style="text-align: right">
            	  	{{ image_button ("none", "044_keys", "/updatekeypair/" + "azure" + "/") }}
            	{{cm_boolean_color('verified')}}
            </th>
        </tr>
        <tr>
            <td style="text-align: right">Subscription ID:</td>
            <td colspan="2"><form>
                <input id="azureId" valign="middle" type="password" name="azureId"
                value="" autocomplete="off" placeholder="Subscription ID"
                style="margin-bottom: 5px; margin-top: 5px;">
                <input type="button" id="toggle_azureId" value="T" style="display:inline" onclick="toggle_PasswordFieldClicked()"/>
            </form></td>
        </tr>
    </form>
</table>

<script>
    function toggle_PasswordFieldClicked() {

        //Regex to get the password field associated with button
        //Following regex would get hpPassword from toogle_hpPassword
        var passwordFieldId = ((event.target).id.split("_"))[1];
        var passwordObject = $('#'+passwordFieldId).get(0);
        var value = passwordObject.value;

        if (passwordObject.type == 'password') {
            passwordObject.type = 'text';
        } else {
            passwordObject.type = 'password';
        }

        passwordObject.value = value;
    }
</script>

{% endblock %}