{% extends "layout_title.html" %}
{% from "_helper.html" import image_button %}

{% block contentbox %}
<h1> Register </h1>
 Details for image {{image.name }}
{% endblock contentbox %}


{% block content %}

<pre>

  {{ error }}

 [ ] sierra_openstack_grizzly:
			username     portaklname (can not edit)
            password     ____________________  *** []
  [+] [verified]


 [ ] hp:
            username: ____________________
            password: ____________________ ***
  [+] [verified]

 [ ] azure:
      subscriptionid: __________________ ***
  [+] [verified]

 [ ] aws:
     userid:              ____________________
     access_key_id:       ____________________ ***
     secret_access_key:   ____________________ ***
  [+] [verified]


{% endblock %}

044_keys
051_eye_open

222_share

[verified] green
