{% extends "layout.html" %}
{% from "_helper.html" import image_button %}
{% block content %}

<script type="text/javascript">

function killall(cloud) {
	var answer = confirm("Delete all selected VMs in "+cloud+"?")
	if (answer){
		window.location = "/cm/delete/"+cloud+"/";
	}
}

/* http://stackoverflow.com/a/10237915 */
(function($) {
    $(function() {
        $("#servers-accordion > div").accordion({ header: "h3", collapsible: true, heightStyle: "content", active: false });
    })
})(jQuery);

$(function() {
  {% for cloudnum in range(clouds|count) %}
    $("#cloud-table-{{ cloudnum }}").dataTable({
        aaSorting: [[1,'asc']],
        aoColumnDefs: [ {"bSortable": false, "aTargets": [0]} ]
    });
  {% endfor %}
});

</script>

 <!--
    for cloud in clouds:
        print cloud
        for server in clouds[cloud]:
            print server
            for attribute in clouds[cloud][server]:
                print attribute, clouds[cloud][server][attribute]
-->

<h2> Servers </h2>
<div id="servers-accordion">
  {% for cloud in clouds %}
  <div style="margin-bottom:1em;">
    <h3> 
    	{{ image_button ("none", "365_restart", "/cm/refresh/" + cloud + "/") }}
      	&nbsp;
      	{{ image_button ("none", "190_circle_plus", "/cm/start/" + cloud +"/") }}
      	&nbsp;
      	{{ image_button ("none", "041_charts", "/table/") }}
      	&nbsp;     
      	{{ image_button ("none", "044_keys", "/updatekeypair/" + cloud + "/") }}
      	{{ cloud }}
    </h3>
    <div>
    <table id="cloud-table-{{ loop.index0 }}" >
      <thead>
          <tr>
	      	<th width="100"></th>

            {% for attribute in attributes %}	
                  <th>{{attribute}}</th>
            {% endfor %}			
          </tr>
      </thead>
      <tbody>
          {% for server in clouds[cloud] %}
             {% set s_id = clouds[cloud][server]['id'] %}
             <tr>
             	<td>
             	 	{{ image_button ("none", "368_collapse", "/cm/login/" + server + "/" + s_id + "/") }}
	  				{{ image_button ("right", "195_circle_info", "/cm/info/" + server + "/" + s_id + "/") }}
	  				<a href="/cm/assignpubip/{{server}}/{{s_id}}/">  IP </a>
	  				{{ image_button ("none", "041_charts", "/cm/stats/" + server + "/" + s_id + "/") }}
	  				{{ image_button ("right", "016_bin", "/cm/delete/" + server + "/" + s_id + "/") }}
             	 </td>
                 <!-- for attribute in clouds[cloud][server] -->
                 {% for attribute in attributes %}	
                      {% if attribute == "created" %}
                          <td>{{ clouds[cloud][server][attribute] }}</td>
                      {% elif attribute == "flavor" %}
                          <td>{{ clouds[cloud][server][attribute]['id'] }}</td>	        			
                      {% elif attribute == "addresses" %}
                          <td>{{ address_string(clouds[cloud][server][attribute]) }}</td>	        			
                      {% else %}
                          <td>{{ clouds[cloud][server][attribute]  }}</td>
                      {% endif %}
                 {% endfor %}
             </tr>
          {% endfor %}
      </tbody>  
    </table>
    </div>
  </div>  
  {% endfor %}
</div>  

{% endblock %}
