{% extends "layout.html" %}
{% from "_helper.html" import image_button %}

{% block contentbox %}
<h2> Flavors </h2>
{% endblock contentbox %}

{% block content %}

<script type="text/javascript">

/* http://stackoverflow.com/a/10237915 */
(function($) {
    $(function() {
        $("#flavors-accordion > div").accordion({ header: "h3", collapsible: true, heightStyle: "content", active: false });
    })
})(jQuery);

$(function() {
  {% for cloudnum in range(clouds|count) %}
    $("#cloud-table-{{ cloudnum }}").dataTable({
    	"sPaginationType": "full_numbers",
        aaSorting: [[1,'asc']],
        aoColumnDefs: [ {"bSortable": false, "aTargets": [0]} ]
    });
  {% endfor %}
});

</script>

 <!--
    for cloud in clouds:
        print cloud
        for server in clouds[cloud]:
            print server
            for attribute in clouds[cloud][server]:
                print attribute, clouds[cloud][server][attribute]
-->

<div class="span9">
<div id="flavors-accordion">
  {% for cloud in clouds %}
    {% set cloud_loop = loop %}
  <div style="margin-bottom:1em;">
  <h3>{{ cloud }}</h3>
  <div>
    <table id="cloud-table-{{ loop.index0 }}">
      <thead>
          <tr>
            <th>default</th>
            <!-- for attribute in clouds[cloud][flavor]  --> 
            {% for attribute in attributes %}	
                  <th>{{attribute}}</th>
            {% endfor %}			
          </tr>
      </thead>
      <tbody>
          {% for flavor in clouds[cloud] %}

             <tr>
               <td><input type="radio" name="cloud-{{ cloud_loop.index0 }}-default-flavor" /></td>
                 <!-- for attribute in clouds[cloud][flavor] --> 
                 {% for attribute in attributes  %}
                      <td>{{ clouds[cloud][flavor][attribute]  }}</td>
                 {% endfor %}

             </tr>

          {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
  {% endfor %}
</div>
</div>

{% endblock %}
