{% extends "layout.html" %}
{% from "_helper.html" import image_button %}

{% block contentbox %}
<h2> Images </h2>
{% endblock %}

{% block content %}
<script type="text/javascript">

/* http://stackoverflow.com/a/10237915 */
(function($) {
    $(function() {
        $("#images-accordion > div").accordion({ header: "h3", collapsible: true, heightStyle: "content", active: false });
    })
})(jQuery);


$(function() {
  {% for cloudnum in range(clouds|count) %}
    $("#cloud-table-{{ cloudnum }}").dataTable({
    	"sPaginationType": "full_numbers",
        aaSorting: [[1,'asc']],
        aoColumnDefs: [ {"bSortable": false, "aTargets": [0]} ]
    });
  {% endfor %}
});

</script>

 <!--
    for cloud in clouds:
        print cloud
        for server in clouds[cloud]:
            print server
            for attribute in clouds[cloud][server]:
                print attribute, clouds[cloud][server][attribute]
-->


<div id="images-accordion">
  {% for cloud in clouds %}
    {% set cloud_loop = loop %}
    {% set version = clouds[cloud]['cm_type_version'] %}
    {% set attributes = cloud_attributes['grizzly']%}
  <div style="margin-bottom:1em;">
  <h3>{{ cloud }}</h3>
  <div>
    <table id="cloud-table-{{ loop.index0 }}">
      <thead>
          <tr>
            <th>default</th>
            {% for attribute in attributes %}   
              <th>{{attribute [0] }}</th>
            {% endfor %}            
          </tr>
      </thead>
      <tbody>
          {% for image in clouds[cloud] %}
            {% set version = clouds[cloud][image]['cm_type_version'] %}
            {% set attributes = cloud_attributes[version]%}
             <tr>
                 <td><input type="radio" name="cloud-{{ cloud_loop.index0 }}-default-image" /></td>
                 {% for attribute in attributes  %}
                      <td>
                          {% set l = attribute | length %}

                          {% if l == 2%}
                             {{ clouds[cloud][image][attribute[1]] }}
                          {% elif l == 3%}
                             {{ clouds[cloud][image][attribute[1]][attribute[2]] }}       				
                          {% elif l == 4%}
                             {{ clouds[cloud][image][attribute[1]][attribute[2]][attribute[4]] }}
                          {% endif %}
                      </td> 
                 {% endfor %}

             </tr>

          {% endfor %}
      </tbody>          
    </table>
  </div>
  </div>
  {% endfor %}
</div>


{% endblock %}
