{% extends "layout_title.html" %}
{% from "_helper.html" import image_button %}

{% block contentbox %}
<h2> {{ image_button ("none", "365_restart", "/mesh/refresh/qstat") }} Launcher </h2> {# change redirects. currently to qStat#}
{% endblock %}

{% block content %}
<script type="text/javascript">

/* 
/* http://stackoverflow.com/a/10237915 */
(function($) {
    $(function() {
        $("#launcher-accordion > div").accordion({ header: "h3", 
        										collapsible: true, 
        										heightStyle: "content", 
        										active: false });
    })
})(jQuery);


$(function() {
  {% for cloudnum in range(hosts|count) %}
    $("#display-table-{{ cloudnum }}").dataTable({
    	"sPaginationType": "full_numbers",
        aaSorting: [[1,'asc']],
        aoColumnDefs: [ {"bSortable": false, "aTargets": [0]} ]
    });
  {% endfor %}
});

</script>


<div id="launcher-accordion">
    {% for column in columns %}

    	<div style="margin-bottom:1em;">

       		<h3>{{ image_button ("none", "365_restart", "/mesh/refresh/qstat/" + column) }} {#make refresh changes. currently follows qstat#}
        		{{ column }}
        	</h3>
	        <div>
	        	<form action = "/cm/launch/launch_servers" method = post>
	        	<input type = hidden name = server value = {{column}}>
	        	{%set attribute_list = columns[column]%}
			    <table id="display-table-{{ loop.index0 }}">
		       	<thead>
		        <tr>
		        <th> Select </th>
		        <th> Type </th>
		        {% for attribute in attribute_list %}
		        	<th>
		        		{{attribute}}
		        	</th>
		        {% endfor %}
		        </tr>

		        {% for recipie in recipies[column] %}
		        <tr>
		        	{{recipie["name"]}}
		        	<td><input type = "checkbox" name = "resource" value = {{recipie["name"]}}></td>  {#this part looks for key name. use the name as key to indicate the name of the resource..#}
			        <td>
						<select>
			        	{% for t in recipie["types"] %}
			        	   <option value="{{t}}">{{t}}</option>
			        	{% endfor %}
			        	</select>
			        </td>
		        	{% for a in attribute_list%}
			        	<td>
			        		{{recipie[a]}}
			        	</td>	
			        	
			        {%endfor%}
		        </tr>
		        {% endfor %}	
	            <tr>
	            	<td></td>
        	        <td valign="top">
        		       <input type="text" value="... specify" name="hostlist-{{ loop.index0 }}">
        	        </td>
                 	<td valign="top">
        	        	Hosts
        	        </td>
        	        <td valign="top">
        	        	Specify the hosts on which you like to deploy the recipies. <br>
        	        	<b>username[001-003]</b> = would deploy the recipy on the vms with the names 
        	        	username001, username002, username003, where username is your purtal username. <br> 
        	        	<b>prefix[001-003]</b> = use prefix instead, your prefix name defined in the profile is used.
        	        	 
        	        </td>
                </tr>

		        </table>
		        Note: you can not yet mix bare metal and VM at the same time via this interface. Please make sure all Types of slected items are of the same type.<br><br>
		        <input type = submit value = "press to launch">
		       </form>
	        </div>
       </div>
        
        
    {% endfor %}
</div>

{% endblock %}
