{% extends "layout.html" %}
{% from "_helper.html" import image_button %}
{% block content %}

<script type="text/javascript">

function killall(cloud) {
	var answer = confirm("Delete all selected VMs in "+cloud+"?")
	if (answer){
		window.location = "/cm/delete/"+cloud+"/";
	}
}

</script>

 <!--
    for cloud in clouds:
        print cloud
        for server in clouds[cloud]:
            print server
            for attribute in clouds[cloud][server]:
                print attribute, clouds[cloud][server][attribute]
-->

<table>

    {% for cloud in clouds %}

	  	<tr>
			<th {{ attributes|length }}>{{ cloud }}</th>
		</tr>
		<tr>
		  {% for attribute in attributes %}	
				<th>{{attribute}}</th>
		  {% endfor %}			
		</tr>

	    {% for server in clouds[cloud] %}
	    
	       <tr>
	           <!-- for attribute in clouds[cloud][server] -->
		       {% for attribute in attributes %}	
		            {% if attribute == "created" %}
	        			<td>{{ clouds[cloud][server][attribute] }}</td>
		            {% elif attribute == "flavor" %}
	        			<td>{{ clouds[cloud][server][attribute]['id'] }}</td>	        			
		            {% elif attribute == "addresses" %}
	        			<td>{{ address_string(clouds[cloud][server][attribute]) }}</td>	        			
	        		{% else %}
	        			<td>{{ clouds[cloud][server][attribute]  }}</td>
	        		{% endif %}
	           {% endfor %}

	       </tr>
	    
	    {% endfor %}
  
  
  {% endfor %}
  
</table>

{% endblock %}
