{% extends "layout_title.html" %}
{% from "_helper.html" import image_button %}

{% block contentbox %}

<h2>Profile</h2>

{% endblock %}

{% block content %}

<script type="text/javascript" charset="utf-8">

$(function() {
        
  $('.edit').editable('/profile');

});
</script>

    <ul>
      <li><a href="/images">Select Default Images</a></li>
      <li><a href="/flavors">Select Default Flavors</a></li>
    </ul>



<table>
    <form name="profile" action="/profile/" method="POST">
    <tr>
    	<th></th><th colspan="3"><b> Personal Details </b></th>
    </tr>  
	<tr>
		<td></td><td>Firstname</td>
		<td colspan="2"><input type="text"
 							   name="field-firstname"
                               value="{{ person.firstname }}"
                               style="width:240px">
        </td>
    </tr>
    <tr>
    	<td></td><td>Lastname</td>
		<td colspan="2"><input type="text"
  							   name="field-lastname"
  							   value="{{ person.lastname }}"
							   style="width:240px">
		</td>
	</tr>
	<tr><td></td><td>Phone</td>
	<td colspan="2"><input type="text"
	  name="field-phone"
	  value="{{ person.phone }}"
	  style="width:240px">
	</td></tr>
	<tr><td></td><td>e-mail</td>
	<td colspan="2"><input type="text"
	  name="field-email"
	  value="{{ person['e_mail'] }}"
	  style="width:240px">
	</td></tr>
	<tr><td></td><td>Address</td>
	<td colspan="2">{{ address | replace ("\n", "<br>") | safe}}</td>
	</tr>
	<tr>
	<td></td><td colspan="3"><b>HPC</b></td></tr>
	</tr>
	<tr>
	  <td></td>
	  <td>UserName</td>
	  <td colspan="2"><input type="text"
		name= "field-hpc-name"
	        value="{{user}}"
	 	style="width:240px"></td>
	</tr>
	<tr><td></td><td colspan="3"> <input type="submit" name="btnindex" value="Save Personal Deatils"> </td></tr>
	
	<!-- -------------- CLOUD DETAILS ---------------------------------- -->
	<tr><th></th><th colspan="3"><b> Cloud Details</b></th></tr>
	
	<tr>
	  <td></td>
	  <td> VM Name </td>
	  <td colspan="2"><input type="text"
	    name="field-prefix"
	    value="{{ configuration.prefix }}"
	    style="width:120px">
	    -
	    <input type="text"
	    name="field-index"
	    value="{{ configuration.index }}"
	    style="width:120px">
	    <input type="submit" name="btnindex" value="Save VM Name">
	  </td>
	</tr>
	
	
	<tr><td></td>
	    <td><b> Projects </b></td>
	    <td colspan="2">
	     {% for projectname in projects.names(status="active") %}
	 	<input type="radio"
	        name="field-selected-project"
	        value="{{ projectname }}"
	        id="{{ projectname }}"
	        {% if projectname == projects.default %}
	          checked="checked"
	        {% endif %}
	        onclick="document.forms['profile'].submit()"/>
	        {{ projectname }}
	      {% endfor %}
	     </td>
	</tr>
	<tr><td>{{ image_button ("right", "030_pencil", "") }}</td><td>
	<b> SecurityGroups </b></td>
	
	<td colspan="2">
	
	
	{% for group in configuration['security']['security_groups'].keys() %}
	
	  <input type="radio"
	  name="field-selected-securityGroup"
	  value="{{ group }}"
	  id="{{ group }}"
	  {% if group ==  configuration['security']['default'] %}
	    checked="checked"
	  {% endif %}
	  onclick="document.forms['profile'].submit()"
	  /> {{ group }}
	{% endfor %}
	
	
	</td>
	</tr>
	<tr>
		<td></td><td>Completed</td><td colspan="2">{{ ', '.join(configuration.projects.completed) }}</td>
	</tr>    
	<tr>
		<td>{{ image_button ("right", "030_pencil", "/clouds/") }}</td><td colspan="3"><b> Clouds </b></td>
	</tr>
	
	<tr><td></td><td>Active </td><td colspan="2">
	  {% for cloudname in configuration.clouds.keys() %}
	  <input type="checkbox"
	        name="field-cloud-activated-{{cloudname}}"
	        value="{{ cloudname }}"
	        id="{{ cloudname }}"
	        {% if cloudname in config.active() %}
	          checked = "checked"
	        {% endif %}
	        onclick="document.forms['profile'].submit()"
	        /> {{ cloudname}}
	{% endfor %}
	</td></tr>
	
	
	<tr>
		<td></td><td>Default </td>
		<td colspan="2">
			{% for cloudname in config.active() %}
				 <input
					  type="radio"
					  name="field-default-cloud"
					  value="{{ cloudname }}"
				 	  id="{{ cloudname }}"
				  	  {% if cloudname == configuration.default %}
				   		 checked = "checked"
				  	  {% endif %}
				 	  onclick="document.forms['profile'].submit()"
				  /> {{ cloudname }}
			{% endfor %}
		</td>
	</tr>
	</form>
	
	<tr>
		<th>{{ image_button ("right", "030_pencil", "/keys/") }}</th><th colspan="3"><b> Keys </b></th></tr>
	<tr>
	{% if keys.no_of_keys() > 0 %}
		<form action="" name = "selectKeyForm" method=post enctype=multipart/form-data >
		<tr><td></td>
		   <td>Key Name</td>
		   <td colspan="2">Path/Fingerprint</td>
		</tr>
		{% set defaultkey = keys.get_default_key() %}
		{% for name in keys.names() %}
		    {% set value = keys[name] %}
		    {% if name == defaultkey %}
				{% set checked = 'checked' %}
			{% else %}
				{% set checked = '' %}
			{% endif %}
			<tr> 
			  	<td><input type="radio" name="selectkeys" value="{{name}}" {{checked}}  
					 onclick="document.forms['selectKeyForm'].submit()" title="select"> 
		  		</td>
		  		<td>{{name}}</td>
		  		<td>{{keys.fingerprint(name)}}
					<a href="delete/{{name}}/"><img src="/static/img/icons/png/glyphicons_016_bin.png" width="12" height="12" title="delete" align="right"></a>
		  		</td>
			</tr>
		{% endfor %}
		
	{% else %}
		There are no keys present, please add one.
	</form>
	{% endif %}
	
	<form action="" method=post enctype=multipart/form-data name = "addkeysform">
	
	<tr>
	  	<td></td>
	  	<td><input name = "keyname" type="text" /></td> 
	  	<td colspan="2">
	  		<textarea name = "keyorpath" rows="1" cols="100"></textarea>
	  		<input type="submit" name = "addkey" value="Add Key">
	  	</td>
	
	</tr>
	</form>
	
</table>
{{show}}
</tr>


</table>


{% endblock content %}
