{% extends "layout_title.html" %}
{% from "_helper.html" import image_button %}
{% from "_helper.html" import image_link %}
{% from "_helper.html" import cm_image_input %}

{% block contentbox %}

<h2>Profile</h2>

{% endblock %}

{% block content %}

<script type="text/javascript" charset="utf-8">

$(function() {

  $('.edit').editable('/profile');

});
</script>

    <ul>
      <li><a href="/images">Select Default Images</a></li>
      <li><a href="/flavors">Select Default Flavors</a></li>
    </ul>



<table>
    <form name="profile" action="/profile/" method="POST">
    <tr>
    	<th>
    		{{ image_link ("right", "030_pencil", "https://portal.futuregrid.org/my/edit/Contact") }}

    	</th>
    	<th colspan="3"><b> Personal Details </b></th>
    </tr>
	<tr>
		<td></td><td>Firstname</td>
		<td colspan="2"> {{ person.firstname }}
        </td>
    </tr>
    <tr>
    	<td></td><td>Lastname</td>
		<td colspan="2">{{ person.lastname }}
		</td>
	</tr>
	<tr><td></td><td>Phone</td>
	<td colspan="2">{{ person.phone }}
	</td></tr>
	<tr><td></td><td>e-mail</td>
	<td colspan="2">{{ person.e_mail }}
	</td></tr>
	<tr><td></td><td>Address</td>
	<td colspan="2">{{ address | replace ("\n", "<br>") | safe}}</td>
	</tr>

	<!-- -------------- HPC DETAILS ---------------------------------- -->

	<tr>
     	<th></th><th colspan="3"><b> HPC </b></th>
	</tr>

	<tr>
	  <td>
	  </td>
	  <td>Username</td>
	  <td colspan="2">{{user}}</td>
	</tr>

	<!-- -------------- CLOUD DETAILS ---------------------------------- -->
	<tr><th></th><th colspan="3"><b> Cloud Details</b></th></tr>

	<tr>
	  <td>{{  cm_image_input("right", "222_share") }}</td>
	  <td> VM Name </td>
	  <td colspan="2"><input type="text"
	    name="field-prefix"
	    value="{{ configuration.prefix }}"
	    style="width:120px">
	    -
	    <input type="text"
	    name="field-index"
	    value="{{ configuration.index }}"
	    style="width:120px">
	    <input type="submit" name="btnindex" value="Save VM Name">
	  </td>
	</tr>

<!-- -------------- Projects ---------------------------------- -->
	<tr><th></th><th colspan="3"><b> Projects </b></th></tr>


	     {% for projectname in projects.names(status="active") %}
		<tr>
	 	<td>
	 	<input type="radio"
	        name="field-selected-project"
	        value="{{ projectname }}"
	        id="{{ projectname }}"
	        {% if projectname == projects.default %}
	          checked="checked"
	        {% endif %}
	        onclick="document.forms['profile'].submit()"/>
	    </td>
	    <td colspan="2">
	        <a href="https://portal.futuregrid.org/projects/{{projectname | replace('fg','')}}"> {{projectname }} </a>
	    </td>
	    <td>
	    <span class="label label-success">Active</span>
	    </td>
		</tr>
	    {% endfor %}


	<tr>

	    {% for projectname in projects.names(status="completed") %}
		<td></td>
		<td colspan="2">
	    {% if projectname != "None" %}
	        <a href="https://portal.futuregrid.org/projects/{{projectname | replace('fg','')}}"> {{projectname }} </a>
	      	&nbsp;



		</td>
		<td>
			<span class="label label-default">Completed</span>
		</td>
		{% else %}
		<!-- No completed projects -->
		<td></td>
		{% endif %}
	    {% endfor %}
	</tr>


	<!-- -------------- Security Groups ---------------------------------- -->

	<tr><th></th><th colspan="3"><b> Security Groups </b></th></tr>

	<tr><td>{{ image_button ("right", "030_pencil", "") }}</td><td>
	<b> Default </b></td>

	<td colspan="2">


	{% for group in configuration['security']['security_groups'].keys() %}

	  <input type="radio"
	  name="field-selected-securityGroup"
	  value="{{ group }}"
	  id="{{ group }}"
	  {% if group ==  configuration['security']['default'] %}
	    checked="checked"
	  {% endif %}
	  onclick="document.forms['profile'].submit()"
	  />


	  {{ group }}
	{% endfor %}


	</td>
	</tr>


<!-- -------------- Clouds ---------------------------------- -->

	<tr><th></th><th colspan="3"><b> Clouds </b></th></tr>

	<tr>
		<td></td>
		<td valign="top">Active </td><td colspan="2">
	  {% for cloudname in configuration.clouds.keys() %}
	  <input type="checkbox"
	        name="field-cloud-activated-{{cloudname}}"
	        value="{{ cloudname }}"
	        id="{{ cloudname }}"
	        {% if cloudname in config.active() %}
	          checked = "checked"
	        {% endif %}
	        onclick="document.forms['profile'].submit()"
	        /> {{ cloudname}}
	        <br>
	{% endfor %}
	</td></tr>


	<tr>
		<td></td><td>Default </td>
		<td colspan="2">
			{% for cloudname in config.active() %}
				 <input
					  type="radio"
					  name="field-default-cloud"
					  value="{{ cloudname }}"
				 	  id="{{ cloudname }}"
				  	  {% if cloudname == configuration.default %}
				   		 checked = "checked"
				  	  {% endif %}
				 	  onclick="document.forms['profile'].submit()"
				  /> {{ cloudname }}
			{% endfor %}
		</td>
	</tr>
	</form>

<!-- -------------- Keys ---------------------------------- -->
	<tr>
		<th></th><th colspan="3"><b> Keys </b></th></tr>
	<tr>
	{% if keys.no_of_keys() > 0 %}
		<form action="" name = "selectKeyForm" method=post enctype=multipart/form-data >
		<tr><td></td>
		   <td>Key Name</td>
		   <td colspan="2">Path/Fingerprint</td>
		</tr>
		{% set defaultkey = keys.get_default_key() %}
		{% for name in keys.names() %}
		    {% set value = keys[name] %}
		    {% if name == defaultkey %}
				{% set checked = 'checked' %}
			{% else %}
				{% set checked = '' %}
			{% endif %}
			<tr>
			  	<td><input type="radio" name="selectkeys" value="{{name}}" {{checked}}
					 onclick="document.forms['selectKeyForm'].submit()" title="select">
		  		</td>
		  		<td>{{name}}</td>
		  		<td colspan="2">{{keys.fingerprint(name)}}
					<a href="delete/{{name}}/"><img src="/static/img/icons/png/glyphicons_016_bin.png" width="12" height="12" title="delete" align="right"></a>
		  		</td>
			</tr>
		{% endfor %}

	{% else %}
		There are no keys present, please add one.
	</form>
	{% endif %}

	<form action="" method=post enctype=multipart/form-data name = "addkeysform">

	<tr>
	  	<td>{{  cm_image_input("right", "222_share") }} </td>
	  	<td><input name = "keyname" type="text" /></td>
	  	<td colspan="2">
	  		<textarea name = "keyorpath" rows="1" cols="100"></textarea>
	  		<input type="submit" name = "addkey" value="Add Key">
	  	</td>

	</tr>
	</form>

</table>
{{show}}
</tr>


</table>


{% endblock content %}
