{% extends "layout_title.html" %}
{% block title %}Rack Map{% endblock %}

{% block contentbox %}
{% if flag_home %}
	<h2>Choose a Rack Cluster and a type of Service:</h2>
{% else %}
	<h2>
		{{ service | capitalize }} Map of
		{% if rack == "all" %}
			{{ rack | capitalize }} Clusters
		{% else %}
			the {{ rack | capitalize }} Cluster
		{% endif %}
	</h2>
{% endif %}
{% endblock %}

{% block content %}

{% if flag_home %}
	<form action="/inventory/rack/map" method="post">
		<p>
			{{ form.select_rack.label }}
			{{ form.select_rack }}
		<p>
		<p>
			{{ form.select_service.label }}
			{{ form.select_service }}
		</p>
			<input type="reset" value="Reset">
			<input type="submit" value="Show Map">
	</form>
{% else %}
	{% if True %}
	<p>

	  Zoom: Double click on the image. Increase size:  Clik on the image, after you put it in original size
   <p>
	  <img src="{{ legendFilename }}"
	       width="1000px"
	       style="display:block; margin-left: auto; margin-right: auto"/>
	</p>

	<div id="table_div" style="max-height: 2600px">
		<p> <img src="{{ imageFilename }}"
			     onclick="this.width*=1.3"
	           	 ondblclick="this.width=176"
			 	 width="{{imageWidth}}px"
			 	 style="display:block; margin-left: auto; margin-right: auto"/>
		</p>

	</div>
	{% else %}
		<p>
	  		<img src="/static/racks/{{name}}.svg"/>
		</p>
		<p>
			<img src="/static/racks/{{name}}-legend.png"/>
		</p>
	{% endif %}
{% endif %}

{% endblock %}


