{% extends "layout.html" %}
{% from "_helper.html" import image_button %}g
{% block content %}

<script type="text/javascript">

function change_service(server_name, service_name) {
	var answer = confirm("Change the status of the " + server_name + " to " + service_name + "?")
	if (answer) {
        $.ajax("/inventory/set/service/",
                { type: 'POST',
                  data: { server: server_name, service: service_name },
                  complete: function () { window.location.reload(); } } );
    }
}

$(function() {
        /** This code runs when everything has been loaded on the page */
        /* Inline sparklines take their values from the contents of the tag */
        $('.inlinesparkline').sparkline();
});


</script>


<table>
  <tr>
    <th colspan="5"> Cloud Mesh - Inventory for {{ cluster.name }}</th>  
  <tr> <td colspan=5> Updated {{ updated }}
    <select>
      <option value="">Bulk select...</option>
      {% for choice in cluster.service_choices %}
          <option value="bulk-{{ choice }}">
	    {{  choice }}
	  </option>
      {% endfor %}
    </select>
  </td></tr>

  <tr>
    <td></td>
    <td></td>
    <td>Groups</td>
    <td colspan="3">{{ cluster.groups|join(', ') }}</td>
  </tr>

  <tr>
    <th> </th>
    <th> </th>
    <th> Name </th>
    <th> Status </th>
    <th> Services </th>
    <th> IP </th>
    <th> Load </th>
  </tr>
  
  <tr>
  <td></td>
  <td>
    {{ image_button ("right", "195_circle_info", "/inventory/info/server/" + cluster.management_node.name + "/") }}
  </td>
  <td> {{ cluster.management_node.name }} </td>
  <td> {{ cluster.management_node.status }} </td>
  <td>Management Node</td>
  <td>{{ cluster.management_node.ip_address }}</td>
  <td><span class="inlinesparkline">{{ cluster.management_node.load|join(', ') }}</span></td>
  </tr>

  {% for server in cluster.compute_nodes|sort(attribute='name') %}
  <tr>
  <td> <input name="checkbox" value="{{ server.name }}" type="checkbox"> </td>
  <td>
    {{ image_button ("right", "195_circle_info", "/inventory/info/server/" +server.name + "/") }}
  </td>
  <td> {{ server.name }} </td>
  <td> {{ server.status }} </td>
  <td>
    <select  onchange="change_service('{{ server.name }}', this.options[this.selectedIndex].value)">
      <option value="" 
        {% if not server.data.services %}
          selected="selected"
        {% endif %}>Select...</option>
      {% for service in cluster.service_choices %}
      <option value="{{ service }}"
        {% if server.services and server.services[0].subkind == service %}
          selected="selected"
        {% endif %}>{{ service }}</option>
      {% endfor %}
    </select>
  </td>
  <td>{{ server.ip_address }}</td>
  <td><span class="inlinesparkline">{{ server.load|join(', ') }}</span></td>
  </tr>

  {% endfor %}
  
</table>

{% endblock %}
