{% extends "layout/layout_title.html" %}
{% from "_helper.html" import image_button %}
{% from "_helper.html" import href_image_button %}



<div id="contentbox" class="hero-unit" style="padding:0px; ">



{% block content %}
<legend> New Inventory Summary </legend>

{% set exclude = ['bravo','delta','gamma'] %}

{% set cols = 2 %}

<table style="float:left">
  <tr>
    <th colspan="{{ cols }}">
      {{ href_image_button ("center","fa-table","/inventory/summary/") }}
      Cloud Mesh - Inventory for FutureGrid
    </th>
  </tr>
  <tr>
    <td colspan="{{ cols }}"> Updated {{ updated }}</td>
  </tr>
  <tr>
  	<th></th>
    <th> Cluster </th>
  </tr>

  {% for cluster in clusters | sort %}

  <tr>

   <td>
     {{ href_image_button ("center","fa-info-circle","/inventory/cluster/"+ cluster + "/") }}
     {{ href_image_button ("center","fa-table","/inventory/cluster/table/"+ cluster + "/") }}
	 {% if cluster not in exclude %}
	 <a href ="/pbs/nodes/{{cluster}}.futuregrid.org">N</a>
	 <a href="/pbs/qstat/{{cluster}}.futuregrid.org">Q </a>
	 {% endif %}
   </td>

   <td><a href="/inventory/cluster/{{ cluster }}/">{{ cluster }} </a></td>

  </tr>

  {% endfor %}

 <tr><th colspan="{{ cols }}"> Legend </th></tr>
 <tr><td colspan="{{ cols }}">N = pbsnodes, Q = qstat</td></tr>

</table>


{% endblock %}
