{% extends "layout/layout.html" %}
{% from "_helper.html" import href_image_button %}



{% block content %}
<legend> Inventory Table </legend>

<script type="text/javascript">
/* http://stackoverflow.com/a/10237915 */
(function($) {
    $(function() {
        $("#cluster-accordion > div").accordion({ header: "h3", collapsible: true, active: false });
    })
})(jQuery);
</script>


<div class="span9">
<table>
<th>  {{ href_image_button ("center","fa-info-circle","/inventory/") }}
List of all clusters</th>
</table>
 <hr>

<div id="cluster-accordion">
{% for cluster in clusters | sort %}

  <div style="margin-bottom:1em;">
  <h3>
    {{ href_image_button ("center","fa-info-circle","/inventory/cluster/"+ cluster + "/") }}
    {{ href_image_button ("center","fa-table","/inventory/cluster/table/"+ cluster + "/") }}
    Cloudmesh - Inventory for {{ cluster }}
  </h3>

<table width="55%">
 <tr>
     <td  colspan="{{ parameters.columns }}">
      Updated :  {{ updated }}
     </td>
 </tr>
 <tr>

      {% for server in inventory[cluster] | sort  %}
        <td>
        <!-- server-status | state_style | safe -->
	   		<a href="/inventory/cluster/{{ cluster }}/{{server}}">
		  		{{ server}}
		  	</a>
      </td>
        {% if (loop.index) %(parameters.columns) == 0  %}
 		        </tr><tr>
	{% endif %}
        {% endfor %}
 </tr>
</table>
  </div>
{% endfor %}
</div>
</div>
{% endblock %}

