{% extends "layout/layout_title.html" %}
{% block title %}Rack Map{% endblock %}


{% block content %}

<legend>
    {{ service | capitalize }} Map of
    {% if rack == "all" %}
        {{ rack | capitalize }} Clusters
    {% else %}
        the {{ rack | capitalize }} Cluster
    {% endif %}
</legend>

    <style>#slider { margin: 10px; }  </style>
    <style>
        #tooltip {
            position: relative;
            border-width: 1px;
            border-style: solid;
            border-color: #0000FF;
            width:50px; height:20px
        }

        .ui-progressbar {
            position: relative;
            height: 16px;
        }
        .progress-label {
            position: absolute;
            left: 50%;
            top: 0px;
            font-weight: bold;
            text-shadow: 1px 1px 0 #fff;
        }

        .colmask {
            position:relative;
            clear:both;
            float:left;
            width:100%;
            overflow:hidden;
        }

        .colright,
        .colmid,
        .colleft {
            float:left;
            width:100%;
            position:relative;
        }
        .col1,
        .col2,
        .col3 {
            float:left;
            position:relative;
            padding:0 0 0 0;
            overflow:hidden;
        }

        .threecol_lcr {
            background:transparent;
        }
        .threecol_lcr .colmid {
            right:75%;
            background:transparent;
        }
        .threecol_lcr .colleft {
            right:15%;
            background:transparent;
        }
        .threecol_lcr .col1 {
            width:10%;
            left:90%;
        }
        .threecol_lcr .col2 {
            width:15%;
            left:90%;
        }
        .threecol_lcr .col3 {
            width:75%;
            left:90%;
        }

        .twocol_lr {
            background:transparent;
        }
        .twocol_lr .colleft {
            right:25%;
            background:transparent;
        }
        .twocol_lr .col1 {
            width:75%;
            left:25%;
        }
        .twocol_lr .col2 {
            width:25%;
            left:25%;
        }
    </style>

    <div id="page_progress_div" class="colmask twocol_lr">
        <div class="colleft">
            <div class="col1">
                <div id="progressbar">
                    <div class="progress-label">&nbsp;</div>
                </div>
            </div>
            <div class="col2">
                <div id="progress_status_text" style="padding-left: 10px;">&nbsp;</div>
            </div>
        </div>
    </div>
    <div id="map_zoom_status_div" style="display: none">
        Zoom Ratio: <span id="zoomratio">100</span> % &nbsp; Image offset (<span id="mapoffsetleft">0</span>, <span id="mapoffsettop">0</span>)
    </div>
    <div id="waiting_div">Loading map, please wait ...</div>
    <div id="map_container_div" style="display:none">
    <div style="width: 100%">
        <div id="toolbar_div" class="colmask threecol_lcr">
            <div class="colmid">
                <div class="colleft">
                    <div class="col1">
                        <button id="refresh_button" type="button" onclick="refreshMap()">Refresh</button>
                    </div>
                    <div class="col2">
                        <button id="show_hide_progressbar_button" onclick="toggleProgressStatusDiv()" type="button">Show Progress Status</button>
                    </div>
                    <div class="col3">
                        <div id="slider" style="margin: 5px 20px; "> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="clear:both"><p><img id="legend"
                   style="position: relative; display:block; margin-left: auto; margin-right: auto"
                   ondblclick="setZoomRate(100)"
                   />
               </p>
            </div>

        <div id="img_outer_div" style="width:100%; height:100%; overflow: auto; position: relative">
            <div id="img_inner_div" style="overflow: hidden; position: relative; display:block; margin-left: auto; margin-right: auto">

            <p> <img id="realmap" alt="map" title="Double click on the image to display the real size. Try to drag and move the map."
                     ondblclick="setZoomRate(100)"
                   />
            </p>
            </div>
        </div>
    </div>
<script>
        var Default_Slider_Min = 1;
        var Default_Slider_Max = 300;
        var Default_Image_Rate = 30;
        var previous_zoom_rate = Default_Image_Rate;
        var baseWidth = 0;
        var baseHeight = 0;
        var legendWidth = 0;
        var legendHeight = 0;
        var mapStatusIndicator = "not_ready";
        var mapImage = new Image;
        var legendImage = new Image;
        var mapLoaded = false;
        var legendLoaded = false;
        var progressTimeoutId;
        var flag_continue_monitor_progress = true;
        var map_load_refresh_status = "";
        var map_load_refresh_action = "";
        var my_debug_flag = false;

        function mydebug(msg) {
            if (my_debug_flag) {
                console.debug(msg);
            }
        }

        mapImage.onload = function() {
            mapLoaded = true;
            display_loaded_images();
        };

        legendImage.onload = function() {
            legendLoaded = true;
            display_loaded_images();
        };

        // progress bar
        $(document).ready(function() {
            var progressbar = $( "#progressbar" ),
                progressLabel = $( ".progress-label" );

            progressbar.progressbar({
                value: false,
                change: function() {
                    progressLabel.text( progressbar.progressbar( "value" ) + "%" );
                },
                complete: function() {
                    progressLabel.text( map_load_refresh_action + " " + map_load_refresh_status);
                }
            });
        });

        function load_page_progress() {
            if (! flag_continue_monitor_progress) {
                return;
            }
            $.getJSON( "/inventory/rack/mapprogress", {"service": "{{service}}"},
                function(data) {
                    mydebug(data);
                    if (! flag_continue_monitor_progress) {
                        return;
                    }
                    if ( data.value > 0 ) {
                        $( "#progressbar" ).progressbar( "value", data.value );
                        $("#progress_status_text").text( data.next + " ..." );
                        if ( data.next == "loading map" ) {
                            flag_continue_monitor_progress = false;
                            loadMap( data.data );
                        }
                        else {
                            progressTimeoutId = setTimeout( load_page_progress, 99 );
                        }
                    }
                    else {
                        // error occured on server
                        flag_continue_monitor_progress = false;
                        map_load_refresh_status = data.text;
                        $( "#progressbar" ).progressbar( "value", 100 );
                        $("#progress_status_text").text( data.next + " failed!" );
                    }
                }
            );
        };

        // start the map load/refresh progress monitor
        function ready_to_load_page() {
            showProgressStatusDiv();
            // set default value and next status for progress bar
            $( "#progressbar" ).progressbar( "value", 0 );
            $("#progress_status_text").text( "sending http request ..." );
            flag_continue_monitor_progress = true;
            load_page_progress();
        };

        function isProgressStatusDivShow() {
            bshow = btnShowHide.data("show_hide_flag");
            bshow = typeof bshow !== 'undefined' ? bshow : true;
            return bshow;
        };

        function showProgressStatusDiv() {
            btnShowHide = $("#show_hide_progressbar_button");
            progress_status_div = $( "#page_progress_div" );
            if (! isProgressStatusDivShow()) {
                btnShowHide.text("Hide Progress Status");
                btnShowHide.data("show_hide_flag", true);
                progress_status_div.show();
            }
        };

        function hideProgressStatusDiv() {
            btnShowHide = $("#show_hide_progressbar_button");
            progress_status_div = $( "#page_progress_div" );
            if (isProgressStatusDivShow()) {
                btnShowHide.text("Show Progress Status");
                btnShowHide.data("show_hide_flag", false);
                progress_status_div.hide();
            }
        };

        function toggleProgressStatusDiv() {
            if (isProgressStatusDivShow()) {
                hideProgressStatusDiv();
            }
            else {
                showProgressStatusDiv();
            }
        };

        function mapLoadRefreshSuccess() {
            clearTimeout(progressTimeoutId);
            map_load_refresh_status = "success";
            $( "#progressbar" ).progressbar( "value", 100 );
            $("#progress_status_text").text(map_load_refresh_action);
            hideProgressStatusDiv();
        };

        // load/refresh request failed reason
        function displayLoadRefreshFailure(reason) {
            $( "#progressbar" ).progressbar( "value", 0 );
            $( ".progress-label" ).text(map_load_refresh_action + " " + reason.status);
            $("#progress_status_text").text(reason.text);
            if (reason.status == "success") {
                hideProgressStatusDiv();
            }
            else {
                showProgressStatusDiv();
            }
        };

        function clickLoadRefreshMapButton(text) {
            map_load_refresh_action = text;
            $( "#progressbar" ).progressbar( "value", 0 );
            $( ".progress-label" ).text( text + " ..." );
            $("#progress_status_text").text( text + " ...");
        }

        function genMap() {
            clickLoadRefreshMapButton("Load map");
            $.getJSON( "/inventory/rack/genmap", {service: '{{service}}', rack: '{{rack}}' },
                    function (data) {
                        if (data.result == "success") {
                            // progress bar
                            ready_to_load_page();
                        }
                        else {
                            // fail, display something to user
                            displayLoadRefreshFailure(data.reason);
                        }
                    }
            );
        };

        function refreshMap() {
            clickLoadRefreshMapButton("Refresh map");
            $.getJSON( "/inventory/rack/refreshmap", {service: '{{service}}', rack: '{{rack}}' },
                    function (data) {
                        if (data.result == "success") {
                            // progress bar
                            ready_to_load_page();
                        }
                        else {
                            // fail, display something to user
                            displayLoadRefreshFailure(data.reason);
                        }
                    }
            );
        };



        function loadMap(data) {
            mapLoaded = false;
            legendLoader = false;
            baseWidth       = data["map_width"];
            baseHeight      = data["map_height"];
            legendWidth     = data["legend_width"];
            legendHeight    = data["legend_height"];
            // load image map
            mapImage.src    = data["map_url"];
            // load image legend
            legendImage.src = data["legend_url"];
        };

        function checkMapStatusIndicator() {
            if (mapStatusIndicator == "not_ready") {
                // first load
                genMap();
                mapSatusIndicator = "loading";
            }
        };

        function display_loaded_images() {
            if (mapLoaded && legendLoaded) {
                mapLoadRefreshSuccess();

                $("#legend").css("width", legendWidth + "px");
                $("#img_inner_div").css("width", baseWidth + "px");
                $("#img_inner_div").css("height", baseHeight + "px");
                $("#realmap").css("width", baseWidth + "px");
                $("#legend").attr("src", legendImage.src);
                $("#realmap").attr("src", mapImage.src);
                // zoom to default rate
                $("#waiting_div").hide();
                // display all images
                $("#map_container_div").show();
                setZoomRate(Default_Image_Rate);
                // change map status indicator
                mapStatusIndicator = "ready";
            }
        };

        function zoomImageMap(rate) {
            $("#zoomratio").text( rate );
            $imgContainer = $("#img_inner_div");
            $("#mapoffsetleft").text(0);
            $("#mapoffsettop").text(0);
            $imgContainer.css("left", "0px");
            $imgContainer.css("top", "0px");
            $imgContainer.css("width", baseWidth * rate / 100 + "px");
            $imgContainer.css("height", baseHeight * rate / 100 + "px");
            $("#realmap").css("width",baseWidth * rate / 100);
            // $("#legend").css("width",legendWidth * rate / 100);
            previous_zoom_rate = rate;
        }

        function setZoomRate(rate) {
            $("#slider").slider("value", rate);
        };

        var tooltip = $('<div id="tooltip" style="clear: both; position: fixed; z-index: 9;"> </div>').hide();

        $( "#slider" ).slider({
                min: Default_Slider_Min,
                max: Default_Slider_Max,
                animate: 1,
                value: 100,
                slide: function( event, ui ) {
                    if (Math.abs(ui.value - previous_zoom_rate) > 10) {
                        zoomImageMap(ui.value);
                    }
                },
                change: function( event, ui ) {
                    zoomImageMap(ui.value);
                },
            }).on({
                mousemove: function(e) {
                    $area = $("#zoomratio");
                    width = $(this).width();
                    offset = $(this).offset();
                    relative_pos_x = e.pageX - offset.left;
                    relative_pos_y = e.pageY - offset.top;
                    value = Math.round((relative_pos_x / width) * (Default_Slider_Max - Default_Slider_Min)) + Default_Slider_Min;
                    //tooltip.css({left: relative_pos_x + 15, top: relative_pos_y - 10});
                    tooltip.css({left: e.pageX + 15, top: e.pageY - 10});
                    if ( value < Default_Slider_Min ) {
                        value = Default_Slider_Min;
                    } else if (value > Default_Slider_Max ) {
                        value = Default_Slider_Max;
                    }
                    tooltip.text(value + "%");
                    tooltip.show();
                },
                mouseout: function() {
                    tooltip.hide();
                }
            });

        $(document).ready(function() {
            // setZoomRate(Default_Image_Rate);
            mydebug("ready, call genmap...");
            checkMapStatusIndicator();

            $("#slider").slider().append(tooltip);
            $container = $("#img_inner_div");
            $container.data("flag_drag", false);
            $("#legend").on(
                "mousedown", function(e) {
                    return false;
                }
            ).on(
                "mouseup", function(e) {
                    return false;
                }
            ).on(
                "mousemove", function(e) {
                    return false;
                }
            ).on(
                "mouseout", function(e) {
                    return false;
                }
            );
            $("#realmap").on(
                "mousedown", function(e) {
                    e.stopPropagation();
                    $container.data("flag_drag", true);
                    $container.data("p0", {x: e.pageX, y: e.pageY});
                    $("#realmap").css("cursor", "move");
                    return false;
            }).on(
                "mousemove", function(e){
                    if ( ! $container.data("flag_drag") ) {
                        return true;
                    }
                    e.stopPropagation();
                    $("#realmap").css("cursor", "move");
                    p0 = $container.data("p0");
                    p1 = {x: e.pageX, y: e.pageY};
                    offset = {left: p1.x - p0.x, top: p1.y - p0.y};
                    if (Math.abs(offset.left) + Math.abs(offset.top) > 30) {
                        img_prev_left = $container.css("left");
                        img_prev_top = $container.css("top");
                        px_index = img_prev_left.indexOf("px");
                        if (px_index > -1) {
                            img_prev_left = img_prev_left.substring(0, px_index);
                        }
                        px_index = img_prev_top.indexOf("px");
                        if (px_index > -1) {
                            img_prev_top = img_prev_top.substring(0, px_index);
                        }

                        abs_offset_left = offset.left + parseInt(img_prev_left);
                        abs_offset_top = offset.top + parseInt(img_prev_top);
                        $container.css("left", abs_offset_left);
                        $container.css("top", abs_offset_top);
                        $("#mapoffsetleft").text(abs_offset_left);
                        $("#mapoffsettop").text(abs_offset_top);
                        $container.data("p0", {x: p1.x, y: p1.y});
                    }
                    return false;
            }).on(
                "mouseout", function(e) {
                    $container.data("flag_drag", false);
                    $("#realmap").css("cursor", "default");
            }).on(
                "mouseup", function(e){
                    e.stopPropagation();
                    $container.data("flag_drag", false);
                    $("#realmap").css("cursor", "default");
                    return false;
            });
        });
    </script>

{% endblock %}


