{% extends "layout/layout_title.html" %}
{% from "_helper.html" import image_button %}


{% block content %}
<legend> Compute Node Login </legend>

  <table>
  <theader>
    <tr>
      <th> </th>
      <th> Host </th>
      <th> Link </th>
    </tr>
  <theader>
  <tbody>  
  {% for host in ["india.futuregrid.org",
                  "foxtrot.futuregrid.org",
                  "bigred2.uits.iu.edu"] %}

     <tr>
       <td>
	 <a href="ssh://{{ g.user.id }}@{{ host }}">
	   <span class="fa-stack fa-lg">
	   <i class="fa fa-square fa-stack-2x"></i>
	   <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
	   </span>
	 </a>
       </td>
       <td> {{ host }} </td>
       <td>
	 <a href="ssh://{{ g.user.id }}@{{ host }}">
	    ssh://{{ g.user.id }}@{{ host }}
	 </a>
       </td>
    </tr>
  {% endfor %}
  </tbody>
 </table>

Notes:
<div class="alert alert-info" role="alert">
OSX: The following links only works without plugins on OSX safari. On
chrome you do have to launche the external application. If you use
firefox, you need to install FireSSH.
</div>

<div class="alert alert-info" role="alert">
Ubuntu: Please use firefox and use FireSSH.
</div>

<div class="alert alert-info" role="alert">
User name Limitations: This program currently only uses a single usernmae passed along from the hpc coniguration variables
</div>

 {% endblock %}