{% extends "layout/layoutTable.html" %}
{% from "_helper.html" import href_image_button %}
{% from "_helper.html" import cm_state_color %}

{% block content %}

<legend> {{ href_image_button ("none", "fa-repeat", "/mesh/refresh/qstat") }} QStat </legend>


{% if error != "" %}
<h2> error </h2>
  {{error}}
{% endif %}


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <font color="red">
    <ul class=flashes>
    {% for message in messages %}
      <li>Warning: {{ message }}</li>
    {% endfor %}
    </ul>
    </font>
  {% endif %}
{% endwith %}

<script src="/static/js/accordion_plugin.js" type="text/javascript"></script>
<script>
    $(document).ready( function() {
        CustomizeAccordionPlugin("#accordion", CallbackOnAccordionClicked, CallbackAfterAccordionCreated);
        PreventClickEventPropagate(".inner_function_button");
    });

</script>

<div id="qstat-accordion">
    {% for host in hosts %}
        {% set host_loop = loop %}
        {% set version = 'pbs' %}
        <div style="margin-bottom:1em;">

        <h3 id="{{host}}">
            <span style="float:left; width:30%; white-space:nowrap;">
                <span class="inner_function_button">
                    {{ href_image_button ("none", "fa-repeat", "/mesh/refresh/qstat/" + host) }}
                </span>
	       {{ host }}
            </span>

	  {% with messages = get_flashed_messages(with_categories=true) %}
	  {% set qstathost = ("qstat-"+host) %}
	  {% if messages %}
	    {% for category, message in messages %}

	    {% set categorystring = category | string %}
	    {% if categorystring == qstathost %}

	      <font color="red"> <i class="fa fa-ban"></i> </font>

	    {% else %}
                <font color="green"> <i class="fa fa-check-square-o"></i> </font>
	    {% endif %}

	    {% endfor %}

	  {% endif %}
	  {% endwith %}
	  

	    <span class="badge"> {{ jobcount[host] }} </span>
	    jobs,
            {{ timer[host] | timesince(format="date") }}


        </h3>
       <div>
       <small>Last updated: {{updated | timesince(format="date")}}</small><br>
       <table id="display-table-{{ loop.index0 }}">
        <thead>
        <tr>
        {% for attribute in attributes[version] %}
            <th>
                {{attribute[0]}}
            </th>
        {% endfor %}
        </tr>
        </thead>
        <tbody>

        {% for server in qstat[host] %}
            <tr>
            {% for attribute in attributes[version] %}
            <td>
            {% set l = attribute | length %}
                    {% if  attribute[1] in server %}
                          {% if l == 2%}
                              {% if attribute[0] in ["Owner"] %}
                                 {{ server[attribute[1]].split("@")[0] }}
                             {% elif attribute[0] in ["ctime","mtime","qtime"] %}
                                {{ server[attribute[1]] | timesince(format="float") }}
							 {% elif attribute[0] in ["State"] %}
								 {{ cm_state_color(server[attribute[1]]) }}
                             {% else %}
                                {{ server[attribute[1]] }}
                             {% endif %}

                          {% elif (l == 3) %}
                              {% if  attribute[2] in server[attribute[1]] %}
                                  {{ server[attribute[1]][attribute[2]] }}
                               {% endif %}
                          {% elif l == 4%}
                             {% if (attribute[2] in server[attribute[1]]) and (attribute[3] in server[attribute[1]][attribute[3]]) %}
                               {{ server[attribute[1]][attribute[2]][attribute[3]] }}
                             {% endif %}
                          {% endif %}
                     {% endif %}
              </td>
              {% endfor %}
              </tr>
        {% endfor %}
        </tbody>
        </table>
        </div>
    </div>
    {% endfor %}
</div>

<script type="text/javascript">
/*
/* http://stackoverflow.com/a/10237915 */
(function($) {
    $(function() {
        $("#qstat-accordion > div").accordion({ header: "h3",
                                                collapsible: true,
                                                heightStyle: "content",
                                                active: false });
    });
})(jQuery);

$(function() {
  {% for cloudnum in range(hosts|count) %}
    $("#display-table-{{ cloudnum }}").dataTable({
		"aLengthMenu": [[-1, 10, 25, 50, 100], ["All", 10, 25, 50, 100]],
        "sPaginationType": "full_numbers",
        "sDom": 'C<"clear">lftipr',
        "oColVis": {
            "aiExclude": [ 0 ],
            "sAlign": "center"
        },
        "fnDrawCallback": function(o) {
            var nColVis = $('div.ColVis', o.nTableWrapper)[0];
            nColVis.align = "right";
            nColVis.style.paddingBottom = "15px";
        },
        aaSorting: [[1,'asc']],
        aoColumnDefs: [ {"bSortable": false, "aTargets": [0]} ],
    });
  {% endfor %}
});
</script>

{% endblock %}

