{% extends "layout/layout.html" %}
{% from "_helper.html" import image_button %}

{% block content %}

<legend> PBS nodes for {{host}} </legend>

<script type="text/javascript">


$(function() {
     $("#host-table-0").dataTable({
        aaSorting: [[1,'asc']],
        aoColumnDefs: [ {"bSortable": false, "aTargets": [0]} ]
    });
});

</script>




<div>
	Updated:{{ updated }}

	  {% set status_attributes = ['jobs', 'gres', 'nusers','idletime', 'rectime', 'sessions', 'physmem', 'totmem', 'netload','loadave', 'state', 'uname', 'opsys', 'nsessions', 'ncpus', 'availmem', 'varattr'] %}
	  {% set host_attributes = ['ntype', 'state', 'np', 'gpus', 'properties'] %}


	  {% set all_cols = status_attributes|list + host_attributes|list %}
	  {% set cols = all_cols|count %}

	<table id="host-table-0">
	  <thead>
	  <tr>
		<th> Name   </th>
		{% for attribute in host_attributes %}
	         <th> {{ attribute }} </td>
	        {% endfor %}
		{% for attribute in status_attributes %}
	         <th> {{ attribute }} </td>
	        {% endfor %}
	  </tr>
	  </thead>
	  <tbody>
	  {% for host in data|sort %}
	      <!-- {% set job = data[jobname] %} -->

	    <tr>
	      <td> {{ host }} </td>
	      {% for attribute in host_attributes %}
	         <td> {{ data[host][attribute] }} </td>
	      {% endfor %}


	        {% for attribute in status_attributes %}
		 {% if data[host]['status'] %}
	           <td> {{ data[host]['status'][attribute] }} </td>
		 {% else %}
		   <td> </td>
		 {% endif %}
	        {% endfor %}


	    </tr>

	  {% endfor %}
	  </tbody>
	</table>
</div>

{% endblock %}
