{% extends "layout/layout.html" %}
{% from "_helper.html" import image_button %}


{% block content %}

<legend> Qstat for {{ host }}</legend>

<script type="text/javascript">

$(function() {
     $("#host-table-0").dataTable({
     	"sDom": 'C<"clear">lfrtip',
     	"oColVis": {
						"aiExclude": [ 0 ]
					},
     	"sPaginationType": "full_numbers",
        aaSorting: [[1,'asc']],
        aoColumnDefs: [ {"bSortable": false, "aTargets": [0]} ],

    });
});

</script>



<div>
	Updated:{{ updated }}
	<table id="host-table-0">
	<thead>
	  <tr>
		<th> Queue   </th>
		<!-- <th> Server   </th> -->
		<th> State   </th>
		<th> Name   </th>
		<th> Owner   </th>
		<th> NCpus   </th>
		<th> Walltime   </th>
		<th> Nodes   </th>
		<th> Nodect   </th>
	  </tr>
	  </thead>
	  <tbody>
	  {% for jobname in qstat %}
	      {% set job = qstat[jobname] %}
	      <tr>
		<td> {{job.queue }}  </td>
		<!-- <td> {{job.server }}  </td> -->
		<td> {{job.job_state }}  </td>
		<td> {{job.Job_Name }}  </td>
		<td> {{job.Job_Owner.split("@")[0] }}  </td>
		<td> {{job.Resource_List.ncpus }}  </td>
		<td> {{job.Resource_List.walltime }}  </td>
		<td> {{job.Resource_List.nodes }}  </td>
		<td> {{job.Resource_List.nodect }}  </td>


	      </tr>

	  {% endfor %}
	  </tbody>
	</table>
</div>


{% endblock %}
