.navbar-default .navbar-brand {
  color: white;
}

footer {
  background-color: white;
}

blockquote {
font-size: 10pt;
margin: 0.25em 0;
padding: 0.25em 40px;
position: relative;
border-left: 24px;
}

dd {
margin-left:50px;
border-left:50px;
position: relative;
}

span.strikethrough { text-decoration: line-through; }
