{#
image_button("041_charts", "/table/")
#}

{% macro cm_state_color(state) %}
    {% set s = state|lower %}
   	{% if s in ["active", "r"] %}
		<span class="label label-success">{{state}}</span>
	{% elif s in ["error"] %}
		<span class="label label-danger">{{state}}</span>
	{% elif s in ["q"] %}
		<span class="label label-info">{{state}}</span>
	{% else %}
		<span class="label label-default">{{state}}</span>
	{% endif %}
{% endmacro %}

<!--
<span class="label label-primary">Blue</span>
<span class="label label-info">lightblue</span>
<span class="label label-warning">yellow</span>
<span class="label label-danger">red/gray</span>
-->


{% macro cm_image_input(align, type) %}
      <input align={{ align }}
             type="image"
	         src="{{ url_for('static', filename='img/icons/png/glyphicons_' + type + '.png') }}"
	         width="16" height="16">
{% endmacro %}


{% macro image_button(align, type, actionpath) %}
<!-- modal for progress -->
      <input align={{ align }} type="image"
	     src="{{ url_for('static', filename='img/icons/png/glyphicons_' + type + '.png') }}"
	     onclick="refresh('{{ actionpath }}')"
	     width="16" height="16">
{% endmacro %}

{% macro image_link(align, type, actionpath) %}
<!-- modal for progress -->
      <a href={{actionpath}}>
	     <img = src="{{url_for('static', filename='img/icons/png/glyphicons_' + type + '.png') }}"
	     width="16" height="16">
	 </a>
{% endmacro %}

{% macro flexible_menu(pagelist) -%}
  {% for page in pagelist %}
   <li {% if request.path == page.url %} class="active"{% endif %}>
      <a href="{{ page.url }}">
         &nbsp;&nbsp;&nbsp;&nbsp; {{ page.name }}
      </a>
  </li>
  {% endfor %}
{%- endmacro %}

{% macro super_flexible_menu(itemlist) -%}
   {% for item in itemlist %}
	<li> <a href="{{ item[1] }}"> &nbsp;&nbsp;&nbsp;&nbsp;{{ item[0] }}</a></li>
   {% endfor %}


{%- endmacro %}







