{% extends "layout/layout.html" %}

{% block content %}

<legend>Metric</legend>

<h3> Debug </h3>
<hr>
{{ data | safe }}
<hr>

{% set project = data['project'][0] %}

<h3> Project {{ project.projectid }}: {{ project.title }} </h3>

Lead: {{ project.projectlead }} <br>

<h3> VM break down </h3>

<table>
{% for user in data["user-summary"]["objects"] %}

  <tr>

    <td> {{ user.first_name }} </td>
    <td> {{ user.last_name }} </td>
    <td> {{ user.count }} </td>
    
  </tr>

{% endfor %}
</table>

{% endblock content %}
