{% extends "layout/layoutTable.html" %}
{% from "_helper.html" import href_image_button, image_popup %}
{% from "_helper.html" import cm_state_color %}


{% block content %}
<legend> Deletion Confirmation </legend>

<style>
	.ui-accordion-content{
   background:#F7B7BF;
}
	.ui-accordion-header{
   background:#FC475C;
}
</style>
<script type="text/javascript">

function killall(cloud) {
	var answer = confirm("Delete all selected VMs in "+cloud+"?");
	if (answer){
		window.location = "/cm/delete/"+cloud+"/";
	}
}

/* http://stackoverflow.com/a/10237915 */
(function($) {
    $(function() {
        $("#servers_accordion > div").accordion({ header: "h3", collapsible: true, heightStyle: "content", active: true });

		$("input[type=number]").on("click", function(event) {
    		event.stopPropagation();
		});
    });
})(jQuery);



$(function() {
  {% for cloudnum in range(clouds|count) %}
    $("#cloud-table-{{ cloudnum }}").dataTable({
    	"aLengthMenu": [[-1, 10, 25, 50, 100], ["All", 10, 25, 50, 100]],
    	"iDisplayLength": 25,
    	"sPaginationType": "full_numbers",
    	"sDom": 'CR<"clear">lftipr',
        "oColVis": {
            "aiExclude": [ 0 ],
            "sAlign": "center"
        },
        "fnDrawCallback": function(o) {
            var nColVis = $('div.ColVis', o.nTableWrapper)[0];
            nColVis.align = "right";
            nColVis.style.paddingBottom = "15px";
        },
        aaSorting: [[1,'asc']],
        aoColumnDefs: [ {"bSortable": false, "aTargets": [0]} ]
    });
  {% endfor %}
});


</script>

 <!--
    for cloud in clouds:
        print cloud
        for server in clouds[cloud]:
            print server
            for attribute in clouds[cloud][server]:
                print attribute, clouds[cloud][server][attribute]
-->




<div id="servers_accordion">
  {% for cloud in clouds %}
  <div style="margin-bottom:1em;">
    <h3>
    	{{ href_image_button ("none", "fa-repeat", "/cm/refresh/" + cloud + "/servers") }}
      	&nbsp;
      	{{ cloud }}
        <span class="badge"> {{ clouds[cloud] |count }} VMS</span>

	</h3>
    <div>

    <input type ="hidden" name = "cloud" value = "{{cloud}}"/>
    <table id="cloud-table-{{ loop.index0 }}" bgcolor="#F7B7B7">
      <thead>
          <tr>
            {% for attribute in attributes %}
                  <th>{{attribute}}</th>
            {% endfor %}
          </tr>
      </thead>
      <tbody>
          {% for server in clouds[cloud] %}
             {% set s_id = clouds[cloud][server]['id'] %}
             <tr>
             	
             	
                 <!-- for attribute in clouds[cloud][server] -->
                 {% for attribute in attributes %}
                      {% if attribute == "created" %}
                          <td>{{ clouds[cloud][server][attribute] }}</td>

					  {% elif attribute == "status"%}
					      <td> {{ cm_state_color(clouds[cloud][server][attribute]) }}</td>

                      {% elif attribute == "flavor" %}
                      	{% set id = clouds[cloud][server][attribute]['id'] %}
                          <td> {% if id in flavors[cloud] %}
                                {{flavors[cloud][id]['name']}}
                               {% else %}
                                Flavor not available anymore!
                               {% endif %}
                          </td>

                      {% elif attribute == "image" %}
                      	{% set id = clouds[cloud][server][attribute]['id'] %}
                          <td> {% if id in images[cloud] %}
                                {{images[cloud][id]['name']}}
                               {% else %}
                                Image not available anymore!
                               {% endif %}
                          </td>

                      {% elif attribute == "addresses" %}
                          <td>{{ address_string(clouds[cloud][server][attribute]) }}</td>
                      {% else %}
                          <td>{{ clouds[cloud][server][attribute]  }}</td>
                      {% endif %}
                 {% endfor %}
             </tr>
          {% endfor %}
      </tbody>
    </table>

<br>
<br>
    <form method = "GET" name = "123"> 
	<input type = submit  value = "delete" formaction='/cm/delete_request_submit/true'/>
	<input type = submit  value = "cancel" formaction='/cm/delete_request_submit/false'/>
	&nbsp;
	</form>
    </div>

  </div>
  {% endfor %}

</div>


{% endblock %}
