{% extends "layout/layout_title.html" %}
{% from "_helper.html" import image_button %}



{% block content %}
<legend> Manage Keypairs for cloud - {{cloudname}} </legend>

<style>
table{
margin:0px
}
</style>
<script type="text/javascript">
    function toggleKeyReg(keyname){
        action = null;
        keyelem = $("#" + keyname);
        keynameorig = keyelem.val();
        if(keyelem.attr("checked")){
            action = "deregister";
        } else {
            action = "register";
        }
        var params = {'action':action,
                      'keyname':keynameorig
                     };
        $.ajax({
            url: "/cm/keypairs/{{cloudname}}/",
            type: "POST",
            dataType: 'json',
            data: params,
            cache: false
            }).done(function(res) {
                if(action == "register"){
                    if(res.keypair != 'undefined'){
                        $("#msg").html("Key [" + keynameorig + "] Registration Succeeded!");
                        keyelem.attr("checked", true);
                        keyelem.prop("checked", true);
                    } else {
                        $("#msg").html("Key [" + keynameorig + "] Registration Failed!");
                        keyelem.attr("checked", false)
                    }
                } else {
                    if(res.msg == 'success'){
                        $("#msg").html("Key [" + keynameorig + "] Deregistration Succeeded!");
                        keyelem.attr("checked", false);
                    } else {
                        $("#msg").html("Key [" + keynameorig + "] Deregistration Failed!");
                        keyelem.attr("checked", true);
                        keyelem.prop("checked", true);
                    }
                }
                });
    }
</script>
<div id='msg'>Tip: check/uncheck a key to register/deregister it</div>
<br />
    {% if (keys | count) > 0 %}
        <table>
        <tr>
            <th>Registered?</th>
            <th>Keyname</th>
            <th>Fingerprint</th>
        </tr>
        {% for keyname in keys %}
        <tr>
        <td>
        <input type="checkbox"
            name="field-keys"
            value="{{ keyname }}"
            id="{{ keyname|replace("@","_")|replace(".","_") }}"
            {% if registered[keyname] %}
              checked = "checked"
            {% endif %}
            onclick="toggleKeyReg('{{ keyname|replace("@","_")|replace(".","_") }}'); return false;"
        /> 
        </td>
        <td>
        {{keyname}}
        </td>
        <td>
        {{keys[keyname] | replace ("key ssh", "") |  filter_fingerprint  }}
        </td>
        </tr>
        {% endfor %}
        </table>
    {% else %}
        There are no keys present, please add one.

    {% endif %}

{% endblock %}
