{% extends "layout/layout.html" %}
{% from "_helper.html" import image_button %}
{% from "_helper.html" import href_image_button %}
{% from "_helper.html" import cm_boolean_color %}
{% from "_helper.html" import cm_image_input %}
{% from "_helper.html" import submit_button %}




{% block content %}

<legend> Register </legend>

<script src="/static/js/hideShowPassword.min.js" type="text/javascript" charset="utf-8"></script>



{% macro get_password(label, cloudname, key) %}
<tr>
    <td style="text-align: right">{{label}}:</td>
    <td colspan="2">
        <input  id="field-{{cloudname}}-{{key}}-password"
        valign="middle"
        type="password"
        name="field-{{cloudname}}-{{key}}-password"
        {%if cloudname in credentials %}
        	{% if "credential" in credentials[cloudname] %}
        		{% if key in credentials[cloudname]["credential"] %}
	    		    value="{{credentials[cloudname]["credential"][key]}}"
    			{% endif %}
   			{% endif %}
		{% endif %}
        placeholder="{{label}}"
        style="margin-bottom: 5px; margin-top: 5px;">
    </td>
</tr>
<script>
$('#field-{{cloudname}}-{{key}}-password').hideShowPassword({
  innerToggle: true
});
</script>
{% endmacro %}

{% macro get_text (label, cloudname, key,  username_edit_enabled) %}
<tr>
    <td style="text-align: right"> {{label}}:</td>
    <td colspan="2">
    <input  id="field-{{cloudname}}-{{key}}-text"
    valign="middle"
    type="text"
    name="field-{{cloudname}}-{{key}}-text"
    {%if cloudname in credentials %}
       	{% if "credential" in credentials[cloudname] %}
       		{% if key in credentials[cloudname]["credential"] %}
	   		    value="{{credentials[cloudname]["credential"][key]}}"
    		{% endif %}
   		{% endif %}
	{% endif %}
    {% if not username_edit_enabled %}
    disabled="disabled"
    {% endif %}
    style="margin-bottom: 5px; margin-top: 5px;">
    </td>
</tr>
{% endmacro %}

{% macro handle_checkbox (cloudname) %}
        <input type="checkbox"
            name="field-cloud-activated-{{cloudname}}"
            {% if cloudname in user.defaults.activeclouds %}
            checked = "checked"
            {% endif %}
            style="margin-right: 5px; vertical-align: middle;margin-bottom: 5px;">
        {{cloudname}}&nbsp;
{% endmacro %}

{% macro tableHeader(cloudname, verified) %}
<tr>
    <th colspan="1">
    	{{ handle_checkbox(cloudname) }}
    </th>
    <th></th>
    <th style="text-align: right">
        {{ href_image_button ("none", "044_keys", "/cm/keypairs/" + cloudname + "/") }}
        {% if verified == true %}
            {{ cm_boolean_color('verified') }}
        {% else %}
            {{ cm_boolean_color('unknown') }}
        {% endif %}
    </th>
</tr>
{% endmacro %}

{% macro openstack(cloudname, name, tenant, username_edit_enabled, verified) %}
    {{ tableHeader(cloudname, verified) }}
    {{ get_text ("Username", cloudname, "OS_USERNAME", username_edit_enabled)}}
    {{ get_text ("Tenant", cloudname, "OS_TENANT_NAME", username_edit_enabled)}}
    {{ get_password ("Password", cloudname, "OS_PASSWORD")}}
{% endmacro %}

{% macro aws(cloudname, username, verified) %}

    {{ tableHeader(cloudname, verified) }}
    {#{{ get_text ("Username", cloudname, "userid", username_edit_enabled)}}#}
    {{ get_password ("Access Key", cloudname, "EC2_ACCESS_KEY")}}
    {{ get_password ("Secret Key", cloudname, "EC2_SECRET_KEY")}}

{% endmacro %}

{% macro ec2(cloudname, name, username_edit_enabled, verified) %}

    {{ tableHeader(cloudname, verified) }}
    {{ get_password ("Access Key", cloudname, "EC2_ACCESS_KEY")}}
    {{ get_password ("Secret Key", cloudname, "EC2_SECRET_KEY")}}

    {{ get_text ("URL", cloudname, "EC2_URL", True)}}

{% endmacro %}


{% macro azure(cloudname, verified) %}

    {{ tableHeader(cloudname, verified) }}
    {{ get_password("Subscription ID", cloudname, "subscriptionid") }}

{% endmacro %}

{% set cloudList = cloudnames %}
        {% for cloud in cloudList | sort  %}
            {% if (cloud in error) %}
               {%if (error[cloud] != '') %}
                  <div class="alert alert-danger">
		              Error in <b>{{cloud}}</b>: {{error[cloud]}}
				  </div>
	        	{% endif %}
        	{% endif %}
        {% endfor %}

<style type="text/css">
.name-span {
	border:1px dotted black;
	width:10px;
	white-space:nowrap;
	float:left;
}
</style>

<div id="accordion">
    <div>
        {% for cloud in cloudList | sort  %}
        <h3 id="example" style="white-space:nowrap">
            {% if cloud|string == user['defaults']['cloud']|string %}
	            <span style="color:green; float:left; width:30%; white-space:nowrap;">
	          	&#x2713;
        		{{ cloud }}
        	   </span>

        	{% else %}
                <span style="float:left; width:30%; white-space:nowrap;">
          		 {{ cloud }}
          		</span>
        	{% endif %}

        	{% if cloud in user['defaults']['registered_clouds'] %}
                <span class="badge label-success"> registered </span>
            {% else %}
                <span class="badge"> not registered </span>
            {% endif %}

            {% if cloud in user['defaults']['activeclouds'] %}
                <span class="badge label-success"> active </span>
            {% endif %}
        </h3>

        <form id={{ cloud }} method="post">
            <input name="cloudInput" type="hidden" value="{{ cloud }}"/>
            {% if (cloud in error) %}
               {%if (error[cloud] != '') %}
                  <div class="alert alert-danger">
		              {{error[cloud] }}
				  </div>
	        	{% endif %}
        	{% endif %}

            <table id={{ cloud }} + "clouds" style="display: inline-block; float: left;">
                <tr>
                    {% if cloudtypes[cloud] == "openstack" %}
                        {% if cloud in credentials %}
                    		{% if 'OS_TENANT_NAME' in credentials[cloud]['credential'] %}
	    	    			   {% set tenant = credentials[cloud]['credential']['OS_TENANT_NAME']%}
    					    {% else %}
    						   {% set tenant = 'bla'%}
  							{% endif %}
  					    {% else %}
   						   {% set tenant = 'alb' %}
  						{% endif %}
    	                {{ openstack(cloud, cm_user_id, tenant, True, verified[cloud]) }}
                    {% elif cloudtypes[cloud] == "aws" %}
                        {{ aws(cloud, cm_user_id, verified[cloud]) }}
                    {% elif cloudtypes[cloud] == "azure" %}
                        {{ azure(cloud, verified[cloud]) }}
                    {% elif cloudtypes[cloud] == "ec2" %}
                        {{ ec2(cloud, cm_user_id, verified[cloud]) }}
                    {% endif %}
                    <th></th><th></th>
                    <th style="text-align: right">
			    <input id="submit{{cloud}}" type="submit" name="submit{{ cloud }}" value="&#xf0c7; Submit">
			<!--
                        {{ submit_button ("submit" + cloud, "235_pen", "submit" + cloud) }}
                        Register {{ cloud }}
-->
                    </th>
                </tr>
            </table>
        </form>
        {% endfor %}
    </div>
</div>

<p>
    <script>
    (function($) {
        $(function() {
            $("#accordion > div").accordion({ header: "h3", collapsible: true, active:false });
        })
    })(jQuery);

    function toggle_PasswordFieldClicked() {
        //Regex to get the password field associated with button
        //Following regex would get hpPassword from toogle_hpPassword
        var passwordFieldId = ((event.target).id.split("-"))[1];
        var passwordObject = $('#' + "field-" + passwordFieldId + "-password").get(0);
        var value = passwordObject.value;

        if (passwordObject.type == 'password') {
            passwordObject.type = 'text';
        } else {
            passwordObject.type = 'password';
        }
        passwordObject.value = value;
    }

    </script>
<script>
$('#example').find('input').click(
    function(e){
        e.stopPropagation();
    }
);
</script>



{% endblock %}
