{% extends "layout/layout.html" %}
{% from "_helper.html" import href_image_button %}


{% block content %}
<legend> {{ href_image_button ("none", "fa-repeat", "/cm/refresh/flavors") }} Flavors - DEMO </legend>

<script type="text/javascript">
    var status_object = {};

    function OnFlavorClicked(cloud_name, flavor_value) {
        status_object[cloud_name].flavor = flavor_value;
    }

    function CallbackOnAccordionClicked(cloud_name, status) {
        status_object[cloud_name].open = status.toString();
    }

    function CallbackAfterAccordionCreated() {
        {% set users_status = user['defaults']%}
        {% for cloud in clouds %}
            status_object['{{cloud}}'] = {'open': 'false', 'flavor': 'none'};
            {% if users_status["flavors"][cloud] and users_status["flavors"][cloud] != "none" %}
                {% set flavor_value = users_status["flavors"][cloud] %}
                $("input[name='{{cloud}}_flavor'][value='{{flavor_value}}']").prop('checked', true);
                status_object['{{cloud}}'].flavor = '{{users_status["flavors"][cloud]}}';
            {% endif %}
            {% if users_status["pagestatus"][cloud] == "true" %}
                $("#{{cloud}}").click();
            {% endif %}
        {% endfor %}
    };

    function SavePageStatusToMongoDB() {
        $.ajax({
            type: "POST",
            url:  "/mesh/savepagestatus/",
            data: JSON.stringify(status_object),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
        });
    }

    $(window).bind("beforeunload", function() {
        SavePageStatusToMongoDB();
    });

function CustomizeAccordionPlugin(aid, CallbackOnAccordionClicked, CallbackAfterAccordionCreated) {
    $(aid).accordion(
        {
            collapsible: true,
            heightStyle: "content",
            active: false,
            beforeActivate: function(event, ui) {
                if (ui.newHeader[0]) {    // The accordion believes a panel is being opened
                    var currHeader  = ui.newHeader;
                    var currContent = currHeader.next('.ui-accordion-content');
                } else {    // The accordion believes a panel is being closed
                    var currHeader  = ui.oldHeader;
                    var currContent = currHeader.next('.ui-accordion-content');
                }
                // Since we've changed the default behavior, this detects the actual status
                var isPanelSelected = currHeader.attr('selected-status') == 'true';
                // Toggle the panel's header
                currHeader.toggleClass('ui-corner-all',isPanelSelected).toggleClass('accordion-header-active ui-state-active ui-corner-top',!isPanelSelected).attr('selected-status',((!isPanelSelected).toString()));
                // Toggle the panel's icon
                currHeader.children('.ui-icon').toggleClass('ui-icon-triangle-1-e',isPanelSelected).toggleClass('ui-icon-triangle-1-s',!isPanelSelected);
                // Toggle the panel's content
                currContent.toggleClass('accordion-content-active',!isPanelSelected);
                if (isPanelSelected) {
                    currContent.slideUp();
                } else {
                    currContent.slideDown();
                }
                CallbackOnAccordionClicked(currHeader.attr("id"), !isPanelSelected);

                return false; // Cancel the default action
            },
            create: function( event, ui ) {
                CallbackAfterAccordionCreated();
            },
        });
}

$(function() {
  {% for cloudnum in range(clouds|count) %}
    $("#cloud-table-{{ cloudnum }}").dataTable({
    	"aLengthMenu": [[-1, 10, 25, 50, 100], ["All", 10, 25, 50, 100]],
    	"iDisplayLength": -1,
    	"sPaginationType": "full_numbers",
    	"sDom" : 'RC<"clear">lftipr',
            "oColVis" : {
                "aiExclude" : [0],
                "sAlign" : "center"
            },
            "fnDrawCallback" : function(o) {
                var nColVis = $('div.ColVis', o.nTableWrapper)[0];
                nColVis.align = "right";
                nColVis.style.paddingBottom = "15px";
            },
        aaSorting: [[1,'asc']],
        aoColumnDefs: [ {"bSortable": false, "aTargets": [0]} ]
    });
  {% endfor %}
});


$(document).ready( function() {
    CustomizeAccordionPlugin("#accordion", CallbackOnAccordionClicked, CallbackAfterAccordionCreated);
});

</script>

<div id="accordion">
    {% set table_index = 0 %}
    {% for cloud in clouds %}
        <h3 id="{{cloud}}">
            <span style="float:left; width:30%; white-space:nowrap;">
                {{ href_image_button ("none", "fa-repeat", "/cm/refresh/" + cloud + "/flavors") }}
                {{ cloud }}
            </span>
            <span>
                <span class="badge"> {{ clouds[cloud] |count }} </span> Flavors
            </span>
        </h3>
        <div>
            <table id="cloud-table-{{table_index}}">
                <thead>
                    <tr>
                        <th align="center">default</th>
                        <!-- for attribute in clouds[cloud][flavor]  -->
                        {% for attribute in attributes %}
                            <th align="center">{{attribute}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for flavor in clouds[cloud] %}
                        <tr>
                            <td>
                                <input type="radio" name="{{cloud}}_flavor" value="{{flavor}}"
                                    onclick = "OnFlavorClicked('{{cloud}}', '{{flavor}}')"/>
                            </td>
                            <!-- for attribute in clouds[cloud][flavor] -->
                            {% for attribute in attributes  %}
                                <td>{{ clouds[cloud][flavor][attribute]  }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% set table_index = table_index + 1 %}
    {% endfor %}
</div>


{% endblock %}
