{% extends "layout/layoutTable.html" %}
{% from "_helper.html" import image_popup, href_image_button %}
{% from "_helper.html" import cm_state_color %}

{% block contentbox %}
<h2> {{ href_image_button ("none", "fa-repeat", "/cm/refresh/servers") }} Servers </h2>
{% endblock contentbox %}

{% block content %}

<script src="/static/js/accordion_plugin.js" type="text/javascript"></script>

<script type="text/javascript">

    var status_object = {};
    var bcreated_accordion = false;

    function CallbackOnAccordionClicked(cloud_name, status) {
        status_object[cloud_name].open = status.toString();
        SavePageStatusToMongoDB(bcreated_accordion);
    };

    function CallbackAfterAccordionCreated() {
        {% set users_status = user['defaults']%}
        {% for cloud in clouds %}
            status_object['{{cloud}}'] = {'open': 'false', };
            {% if users_status["pagestatus"][cloud] == "true" %}
                $("#{{cloud}}").click();
            {% endif %}
        {% endfor %}
        bcreated_accordion = true;
    };


function killall(cloud) {
	var answer = confirm("Delete all selected VMs in "+cloud+"?");
	if (answer){
		window.location = "/cm/delete/"+cloud+"/";
	}
}


$(function() {
  {% for cloudnum in range(clouds|count) %}
    $("#cloud-table-{{ cloudnum }}").dataTable({
    	"aLengthMenu": [[-1, 10, 25, 50, 100], ["All", 10, 25, 50, 100]],
    	"iDisplayLength": 25,
    	"sPaginationType": "full_numbers",
    	"sDom": 'CR<"clear">lftipr',
        "oColVis": {
            "aiExclude": [ 0 ],
            "sAlign": "center"
        },
        "fnDrawCallback": function(o) {
            var nColVis = $('div.ColVis', o.nTableWrapper)[0];
            nColVis.align = "right";
            nColVis.style.paddingBottom = "15px";
        },
        aaSorting: [[1,'asc']],
        aoColumnDefs: [ {"bSortable": false, "aTargets": [0]} ]
    });
  {% endfor %}
});

function toggle(source,select_list) {
  checkboxes = document.getElementsByName(select_list);
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}

</script>


<script>
    $(document).ready( function() {
        CustomizeAccordionPlugin("#accordion", CallbackOnAccordionClicked, CallbackAfterAccordionCreated);
        PreventClickEventPropagate(".inner_function_button");
    });

</script>


<div id="accordion">
    {% set table_index = 0 %}
    {% for cloud in clouds %}
    <h3 id="{{cloud}}">
        <span style="float:left; width:30%; white-space:nowrap;">
            <span class="inner_function_button">
                {{ href_image_button ("none", "fa-repeat", "/cm/refresh/" + cloud + "/servers") }}
            </span>
            {{ cloud }}
        </span>
        <span class="badge"> {{ clouds[cloud] |count }} </span> VMs
        &nbsp;
        <span class="inner_function_button" style="margin-left: 32px;">
            {{ href_image_button ("none", "fa-plus-circle", "/cm/start/" + cloud +"/") }}
        </span>
	<!--
	# Comment:
	../queue/ calls a function with a celery task queue to execute a process in the background
	
        <span class="inner_function_button" style="margin-left: 32px;">
            {{ href_image_button ("none", "fa-plus-circle", "/cm/start/queue/" + cloud +"/") }}
        </span>
	-->

        <span class="inner_function_button" style="padding: 5px 5px 1px; margin: 0px; vertical-align: middle;">
            <input type="text" name="{{cloud}}_vms" id="{{cloud}}_vms" value="1" style="width: 50px; height:15px; font-size:14pt; padding: 0px 5px;" />
        </span>
        &nbsp;
        <span class="inner_function_button" style="margin-left: 32px;">
            {{ image_popup ("none", "041_charts", "/stats/table/count/weekly/" + cloud + "/") }}
        </span>
        &nbsp;
        <span class="inner_function_button">
            {{ href_image_button ("none", "fa-key", "/cm/keypairs/" + cloud + "/") }}
        </span>
        <span style="margin-left: 32px;">
            Project: <span class="badge"> {{user['defaults']['project']}} </span>
        </span>
    </h3>
    <div>
        {% set flavor_id = user.defaults.flavors[cloud] %}
        {% set image_id = user.defaults.images[cloud] %}

        <p>
            Defaults:
            {% if image_id in images[cloud] %}
                <a href="/mesh/images"> Image: <span class="badge"> {{images[cloud][image_id]['name']}} </span></a>
            {% else %}
                <a href="/mesh/images"> Image: <span class="badge"> undefined </span></a>
            {% endif %}

            {% if flavor_id  in flavors[cloud] %}
                <a href="/mesh/flavors">Flavor: <span class="badge"> {{flavors[cloud][flavor_id]['name']}} </span></a>
            {% else %}
                <a href="/mesh/flavors"> Flavor: <span class="badge"> undefined </span></a>
            {% endif %}
            <a href="/profile"> last vm name: <span class="badge"> {{user.defaults.prefix}}_{{user.defaults.index}} </span></a>
        </p>
        {% if (clouds[cloud].keys() | count) == 0 %}
            No VMs found. Please refresh.
        {% else %}
            <table id="cloud-table-{{table_index}}" >
                <thead>
                    <tr>
                        <th><input type="checkbox" name="{{cloud}}_all" onClick="toggle(this,'selection_{{cloud}}')" />
                            <input type = "image"
                                src = "/static/img/icons/png/glyphicons_016_bin.png"
                                alt = "delete" value = "delete"
                                width="16" height="16"
                                formaction = "/cm/delete_vm_confirm"/>
                        </th>
                        <th width="100">&nbsp;</th>
                        {% for attribute in attributes %}
                            <th>{{attribute}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
			{% for server in clouds[cloud] %}
			{% set version = clouds[cloud][server]['cm_type'] %}
			{% set attributes = cloud_attributes[version] %}
                        {% set s_id = clouds[cloud][server]['id'] %}
                        <tr>
                            <td><input type="checkbox" name="selection_{{cloud}}" value = {{server}} /> </td>
                            <td>
			      <div class="btn-group">

				<a class="btn btn-default"
   				   href="/cm/info/{{cloud}}/{{s_id}}/">
				   <i class="fa fa-info-circle"></i>
				</a>

				<a class="btn btn-default"
				   href="/cm/login/{{cloud}}/{{s_id}}/">
				   <i class="fa fa-desktop"></i>
				</a>

                                <a class="btn btn-default"
				   href="/cm/assignpubip/{{cloud}}/{{s_id}}/">  IP </a>				

				<a class="btn btn-default"
				   href="/cm/metric/{{cloud}}/{{s_id}}/">
				   <i class="fa fa-bar-chart-o"></i>
				</a>
				
				<a class="btn btn-default"
				   href="/cm/delete/{{cloud}}/{{s_id}}/">
				   <i class="fa fa-trash-o"></i>
				</a>
				
			      </div>



                            </td>
                            <!-- for attribute in clouds[cloud][server] -->
			    {% for attribute in attributes %}
			    {% set l = attribute | length %}
			    {% if attribute[0] == "created" %}
			    	{% if l == 2 %}
				<td>{{ clouds[cloud][server][attribute[1]] }}</td>
				{%else%}
				<td>{{ clouds[cloud][server][attribute[1]][attribute[2]] }}</td>
				{%endif%}
				{% elif attribute[0] == "status"%}
				     {% if l == 2 %}
				     <td> {{ cm_state_color(clouds[cloud][server][attribute[1]]) }}</td>
				     {%else %}
				     <td> {{ cm_state_color(clouds[cloud][server][attribute[1]][attribute[2]]) }}</td>
				     {% endif %}

                                {% elif attribute[0] == "flavor" %}
                                    {% set id = clouds[cloud][server][attribute[1]][attribute[2]] %}
                                    <td>
                                        {% if id in flavors[cloud] %}
                                            {{flavors[cloud][id]['name']}}
                                        {% else %}
                                            Flavor not available anymore!
                                        {% endif %}
                                    </td>
                                {% elif attribute[0] == "image" %}
                                    {% if attribute[0] in clouds[cloud][server] %}
                                        {% set id = clouds[cloud][server][attribute[1]][attribute[2]] %}
                                    {% else %}
                                        {% set id = None %}
                                    {% endif %}
                                    <td>
                                        {% if id in images[cloud] %}
                                            {{images[cloud][id]['name']}}
                                        {% else %}
                                            Image not available anymore!
                                        {% endif %}
                                    </td>
                                {% elif attribute[0] == "addresses" %}
                                    <td>{{ address_string(clouds[cloud][server][attribute[1]]) }}</td>
				    {% else %}
				    {% if l == 2 %}
				    <td>{{ clouds[cloud][server][attribute[1]]  }}</td>
				    {%else%}
				    <td>{{ clouds[cloud][server][attribute[1]][attribute[2]]  }}</td>
				    {%endif%}
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    {% set table_index = table_index + 1 %}
    {% endfor %}
</div>


{% endblock %}
