{% extends "layout/layoutTable.html" %}
{% from "_helper.html" import href_image_button %}


{% block content %}

<legend> {{ href_image_button ("none", "fa-repeat","/cm/refresh/flavors/flavors") }} Flavors </legend>

<script src="/static/js/accordion_plugin.js" type="text/javascript"></script>

<script type="text/javascript">
    var status_object = {};
    var  bcreated_accordion = false;

    function OnFlavorClicked(cloud_name, flavor_value) {
        status_object[cloud_name].flavor = flavor_value;
        SavePageStatusToMongoDB(bcreated_accordion);
    };

    function CallbackOnAccordionClicked(cloud_name, status) {
        status_object[cloud_name].open = status.toString();
        SavePageStatusToMongoDB(bcreated_accordion);
    };

    function CallbackAfterAccordionCreated() {
        {% set users_status = user['defaults']%}
        {% for cloud in clouds %}
            status_object['{{cloud}}'] = {'open': 'false', 'flavor': 'none'};
            {% if users_status["flavors"][cloud] and users_status["flavors"][cloud] != "none" %}
                {% set flavor_value = users_status["flavors"][cloud] %}
                $("input[name='{{cloud}}_flavor'][value='{{flavor_value}}']").prop('checked', true);
                status_object['{{cloud}}'].flavor = '{{users_status["flavors"][cloud]}}';
            {% endif %}
            {% if users_status["pagestatus"][cloud] == "true" %}
                $("#{{cloud}}").click();
            {% endif %}
        {% endfor %}
        bcreated_accordion = true;
    };


$(function() {
  {% for cloudnum in range(clouds|count) %}
    $("#cloud-table-{{ cloudnum }}").dataTable({
    	"aLengthMenu": [[-1, 10, 25, 50, 100], ["All", 10, 25, 50, 100]],
    	"iDisplayLength": -1,
    	"sPaginationType": "full_numbers",
    	"sDom" : 'RC<"clear">lftipr',
            "oColVis" : {
                "aiExclude" : [0],
                "sAlign" : "center"
            },
            "fnDrawCallback" : function(o) {
                var nColVis = $('div.ColVis', o.nTableWrapper)[0];
                nColVis.align = "right";
                nColVis.style.paddingBottom = "15px";
            },
        aaSorting: [[1,'asc']],
        aoColumnDefs: [ {"bSortable": false, "aTargets": [0]} ]
    });
  {% endfor %}
});

</script>

<script>
    $(document).ready( function() {
        CustomizeAccordionPlugin("#accordion", CallbackOnAccordionClicked, CallbackAfterAccordionCreated);
        PreventClickEventPropagate(".inner_function_button");
    });

</script>


<div id="accordion">
    {% set table_index = 0 %}
    {% for cloud in clouds %}
        <h3 class="ui-helper-reset" id="{{cloud}}">
            <span style="float:left; width:30%; white-space:nowrap;">
                <span class="inner_function_button">
                    {{ href_image_button ("none", "fa-repeat", "/cm/refresh/" + cloud + "/flavors") }}
                </span>
                {{ cloud }}
            </span>
            <span>
                <span class="badge"> {{ clouds[cloud] |count }} </span> Flavors
            </span>
        </h3>
        <div>
            {% if (clouds[cloud].keys() | count) == 0 %}
                No flavors found. Please refresh.
            {% else %}
                <table id="cloud-table-{{table_index}}">
                    <thead>
                        <tr>
                            <th align="center">default</th>
                            <!-- for attribute in clouds[cloud][flavor]  -->
                            {% for attribute in attributes %}
                                <th align="center">{{attribute}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for flavor in clouds[cloud] %}
                            <tr>
                                <td>
                                    <input type="radio" name="{{cloud}}_flavor" value="{{flavor}}"
                                        onclick = "OnFlavorClicked('{{cloud}}', '{{flavor}}')"/>
                                </td>
                                <!-- for attribute in clouds[cloud][flavor] -->
                                {% for attribute in attributes  %}
                                    <td>{{ clouds[cloud][flavor][attribute]  }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        {% set table_index = table_index + 1 %}
    {% endfor %}
</div>

{% endblock %}
