{% extends "layout/layoutTable.html" %}
{% from "_helper.html" import href_image_button %}
{% from "_helper.html" import cm_state_color %}





{% block content %}

<legend> {{ href_image_button ("none", "fa-repeat", "/cm/refresh/images/images") }} Images </legend>

<script src="/static/js/accordion_plugin.js" type="text/javascript"></script>

<script type="text/javascript">
    var status_object = {};
    var bcreated_accordion = false;

    function OnImageClicked(cloud_name, image_value) {
        status_object[cloud_name].image = image_value;
        SavePageStatusToMongoDB(bcreated_accordion);
    }

    function CallbackOnAccordionClicked(cloud_name, status) {
        status_object[cloud_name].open = status.toString();
        SavePageStatusToMongoDB(bcreated_accordion);
    }

    function CallbackAfterAccordionCreated() {
        {% set users_status = user['defaults']%}
        {% for cloud in clouds %}
            status_object['{{cloud}}'] = {'open': 'false', 'image': 'none',};
            {% if users_status["images"][cloud] and users_status["images"][cloud] != "none" %}
                {% set image_value = users_status["images"][cloud] %}
                $("input[name='{{cloud}}_image'][value='{{image_value}}']").prop('checked', true);
                status_object['{{cloud}}'].image = '{{users_status["images"][cloud]}}';
            {% endif %}
            {% if users_status["pagestatus"][cloud] == "true" %}
                $("#{{cloud}}").click();
            {% endif %}
        {% endfor %}
        bcreated_accordion = true;
    };


$(function() {
  {% for cloudnum in range(clouds|count) %}
    $("#cloud-table-{{ cloudnum }}").dataTable({
    	"aLengthMenu": [[-1, 10, 25, 50, 100], ["All", 10, 25, 50, 100]],
    	"iDisplayLength": 25,
    	"sPaginationType": "full_numbers",
    	"sDom": 'CR<"clear">lftipr',
    	"oColVis": {
            "aiExclude": [ 0 ],
            "sAlign": "center"
        },
        "fnDrawCallback": function(o) {
            var nColVis = $('div.ColVis', o.nTableWrapper)[0];
            nColVis.align = "right";
            nColVis.style.paddingBottom = "15px";
        },
        aaSorting: [[1,'asc']],
        aoColumnDefs: [ {"bSortable": false, "aTargets": [0]} ]
    });
  {% endfor %}
});
</script>

<script>
    $(document).ready( function() {
        CustomizeAccordionPlugin("#accordion", CallbackOnAccordionClicked, CallbackAfterAccordionCreated);
        PreventClickEventPropagate(".inner_function_button");
    });
</script>


<div id="accordion">
    {% set table_index = 0 %}
    {% for cloud in clouds %}
        {% set version = clouds[cloud]['cm_type_version'] %}
        <h3 class="ui-helper-reset" id="{{cloud}}">
            <span style="float:left; width:30%; white-space:nowrap;">
                <span class="inner_function_button">
                    {{ href_image_button ("none", "fa-repeat", "/cm/refresh/" + cloud + "/images") }}
                </span>
                {{ cloud }}
            </span>
            <span class="badge"> {{ clouds[cloud] |count }} </span> Images
        </h3>
        <div>
        {% if (clouds[cloud].keys() | count) == 0 %}
            No images found. Please refresh.
        {% else %}

            {% set cloud_type = clouds[cloud][clouds[cloud].keys()[0]]['cm_type'] %}

            {% set attributes = cloud_attributes[cloud_type] %}

            <table id="cloud-table-{{table_index}}">
                <thead>
                    <tr>
                        <th>default</th>
                        {% for attribute in attributes %}
                            <th>{{attribute [0] }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for image in clouds[cloud] %}
                        {% set version = clouds[cloud][image]['cm_type'] %}
                        {% set attributes = cloud_attributes[version] %}
                        <tr>
                            <td>
                                <input type="radio" name="{{cloud}}_image" value = "{{image}}"
                                    onclick = "OnImageClicked('{{cloud}}', '{{image}}')" />
                            </td>
                            {% for attribute in attributes  %}
                                <td>
                                    {% set l = attribute | length %}
                                    {% if l == 2%}
                                        {% if attribute[0] in ['status'] %}
                                            {{ cm_state_color(clouds[cloud][image][attribute[1]]) }}
                                        {% else %}
                                            {{ clouds[cloud][image][attribute[1]] }}
                                        {% endif %}
                                    {% elif l == 3%}
                                        {% if attribute[0] in ['state'] %}
                                            {{ cm_state_color(clouds[cloud][image][attribute[1]][attribute[2]]) }}
                                        {% else %}
                                            {{ clouds[cloud][image][attribute[1]][attribute[2]] }}
                                        {% endif %}
                                    {% elif l == 4%}
                                        {{ clouds[cloud][image][attribute[1]][attribute[2]][attribute[4]] }}
                                    {% endif %}
                                </td>
                            {% endfor %}
		    </tr>
		    	{# table_index is not same as loop.index #}
                        {%- if cloud == "aws" and loop.index >= 200 %}
                            {% break %}
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    {% set table_index = table_index + 1 %}
{% endfor %}

</div>


{% endblock %}
